<div class="p-grid">
    <div class="p-col-12">
        <div class="card">
            <h4>Downloads</h4>

            <div class="p-field p-d-flex p-jc-end p-mt-5">
                <button pButton pRipple label="Upload" icon="pi pi-upload" *ngIf="!ehArquivo" (click)="upload();"
                    class="p-as-end p-mr-2"></button>
                <button pButton pRipple label="Nova pasta" icon="{{!this.novaPasta? 'pi pi-plus' : 'pi pi-minus'}}"
                    *ngIf="!ehArquivo" class="p-as-end" (click)="criarPastaTable()"></button>
                <button pButton pRipple label="Download" icon="pi pi-download" *ngIf="ehArquivo" class="p-as-end"
                    (click)="download()"></button>
            </div>
            <form [formGroup]="form">
                <div class="p-fluid p-formgrid p-grid" *ngIf="this.novaPasta">
                    <div class="p-field p-col-5">
                        <input id="pasta" type="text" pInputText placeholder="Nome da pasta" formControlName="pasta" />
                        <small severity="error" id="teste" class="p-error" *ngIf="validacaoFormGroup.verificaCampo(form,'pasta')" >{{mensagemErro}}</small>
                    </div>
                    <div class="p-field p-col-5">
                        <input id="descricaoPasta" type="text" pInputText placeholder="Descrição da pasta" formControlName="descricaoPasta" />
                        <small severity="error" class="p-error" *ngIf="validacaoFormGroup.verificaCampo(form,'descricaoPasta')" >{{mensagemErro}}</small>
                    </div>
                    <div class="p-field p-col-2">
                        <button pButton pRipple label="Add Pasta" icon="pi pi-plus" (click)="addPastaTable()"
                            class="p-as-end p-pl-3"></button>
                    </div>
                </div>
            </form>
            <div class="p-fluid p-formgrid p-grid" *ngIf="ehUpload">
                <p-fileUpload class="p-col-12" name="demo[]" url="upload.php" (onUpload)="onUpload($event)"
                    multiple="multiple" accept="image/*" maxFileSize="1000000">
                    <ng-template pTemplate="content">
                        <ul *ngIf="uploadedFiles.length">
                            <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                        </ul>
                    </ng-template>
                </p-fileUpload>
            </div>


            <p-treeTable [value]="files2" [columns]="cols" selectionMode="single" [(selection)]="selectedFiles2"
                dataKey="name">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
                    <tr [ttRow]="rowNode" [ttRow]="rowNode" [ttSelectableRow]="rowNode" (click)="controlaBotoes()">
                        <td *ngFor="let col of columns; let i = index"
                            [ngClass]="{'p-text-bold': col.field === 'name' && rowData.type == 'Folder', 'p-text-italic': rowData.type == 'Arquivo'}">
                            <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
                            <span *ngIf="i == 0 && rowData.type == 'Folder'" class="p-tree-node-icon"><i
                                    class="pi pi-folder"></i></span>
                            <span *ngIf="i == 0 && rowData.type == 'Arquivo'" class="p-tree-node-icon"><i
                                    class="pi pi-file"></i></span>
                            {{rowData[col.field]}}
                        </td>
                    </tr>
                </ng-template>
            </p-treeTable>
        </div>
    </div>
</div>