<div class="dashboard p-grid" [ngClass]="{'carregando': carregando}">    
    <div class="p-col-12 p-md-6 p-lg-3">
        <div class="widget-overview overview-box-1">
            <div class="overview-box-title">
                <i class="pi pi-circle-off"></i>
                <span>Orçamentos sem {{titulo}}</span>
            </div>
            <div class="overview-box-count">{{caixa1}}</div>
            <div class="overview-box-stats">Status Enviado</div>
        </div>
    </div>
    <div class="p-col-12 p-md-6 p-lg-3">
        <div class="widget-overview overview-box-2">
            <div class="overview-box-title">
                <i class="pi pi-circle-on"></i>
                <span>Orçamentos com {{titulo}}</span>
            </div>
            <div class="overview-box-count">{{caixa2}}</div>
            <div class="overview-box-stats">Status Enviado</div>
        </div>
    </div>
    <div class="p-col-12 p-md-6 p-lg-3">
        <div class="widget-overview overview-box-3">
            <div class="overview-box-title">
                <i class="pi pi-calendar-times"></i>
                <span>Orçamentos Expirados</span>
            </div>
            <div class="overview-box-count">{{caixa3}}</div>
            <div class="overview-box-stats">Até 3 dias</div>
        </div>
    </div>
    <div class="p-col-12 p-md-6 p-lg-3">
        <div class="widget-overview overview-box-4">
            <div class="overview-box-title">
                <i class="pi pi-clock"></i>

                <span>Orçamentos à Expirar</span>
            </div>
            <div class="overview-box-count">{{caixa4}}</div>
            <div class="overview-box-stats">Últimos 3 dias</div>
        </div>
    </div>

    <div class="p-col-12 p-lg-6">
        <div class="card widget-statistics">
            
            <h5><i class="pi pi-globe"></i> Top {{titulo}} x Orçamentos</h5>
            <table *ngIf="orcamentos.length >=0">
                <thead>
                    <tr>
                        <th></th>
                        <th>{{titulo}}</th>
                        <th></th>
                        <th>Total Orçamentos</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr *ngIf="orcamentos.length>=1">
                        <td>1</td>
                        <td class="col-overview col-wait">
                            <div>P</div>
                        </td>
                        <td>{{orcamentos[orcamentos.length-1][0]}}</td>
                        <td align="center">{{orcamentos[orcamentos.length-1][1]}}</td>
                    </tr>
                    <tr *ngIf="orcamentos.length>=2">
                        <td>2</td>
                        <td class="col-overview col-wait">
                            <div>P</div>
                        </td>
                        <td>{{orcamentos[orcamentos.length-2][0]}}</td>
                        <td align="center">{{orcamentos[orcamentos.length-2][1]}}</td>
                    </tr>
                    <tr *ngIf="orcamentos.length>=3">
                        <td>3</td>
                        <td class="col-overview col-wait">
                            <div>P</div>
                        </td>
                        <td>{{orcamentos[orcamentos.length-3][0]}}</td>
                        <td align="center">{{orcamentos[orcamentos.length-3][1]}}</td>
                    </tr>
                    <tr *ngIf="orcamentos.length>=4">
                        <td>4</td>
                        <td class="col-overview col-wait">
                            <div>P</div>
                        </td>
                        <td>{{orcamentos[orcamentos.length-4][0]}}</td>
                        <td align="center">{{orcamentos[orcamentos.length-4][1]}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="p-col-12 p-lg-6">
        <div class="card widget-statistics">
            <h5><i class="pi pi-sort-numeric-down"></i> Top Down</h5>
            <table *ngIf="orcamentos.length >=0">
                <thead>
                    <tr>
                        <th></th>
                        <th>{{titulo}}</th>
                        <th></th>
                        <th>Total Orçamentos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="orcamentos.length>=1">
                        <td>1</td>
                        <td class="col-overview col-wait">
                            <div>P</div>
                        </td>
                        <td>{{orcamentos[0][0]}}</td>
                        <td align="center">{{orcamentos[0][1]}}</td>
                    </tr>
                    <tr *ngIf="orcamentos.length>=2">
                        <td>2</td>
                        <td class="col-overview col-wait">
                            <div>P</div>
                        </td>
                        <td>{{orcamentos[1][0]}}</td>
                        <td align="center">{{orcamentos[1][1]}}</td>
                    </tr>
                    <tr *ngIf="orcamentos.length>=3">
                        <td>3</td>
                        <td class="col-overview col-wait">
                            <div>P</div>
                        </td>
                        <td>{{orcamentos[2][0]}}</td>
                        <td align="center">{{orcamentos[2][1]}}</td>
                    </tr>
                    <tr *ngIf="orcamentos.length>=4">
                        <td>4</td>
                        <td class="col-overview col-wait">
                            <div>P</div>
                        </td>
                        <td>{{orcamentos[3][0]}}</td>
                        <td align="center">{{orcamentos[3][1]}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<p-chart type="pie" [data]="data" [options]="chartOptions"  [style]="{'width': '40%'}"></p-chart>