::ng-deep .dynamicDialog .p-dialog-content{
    padding: 0;
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    overflow-y:hidden;
}

::ng-deep .p-datatable-wrapper{
  max-height: 75vw;
}

:host {
    .container {
      padding: 1rem;
    }
  
    .footer {
      border-top: 0;
      background: white;
      padding: 1rem;
      text-align: right;
      border-top: 1px solid #e9ecef;
      display: flex;
      justify-content: center;
    }
  
    .footer button {
      margin: 0 .5rem 0 0;
      width: auto;
    }
  }

  
 
 
 