
// $cor-fundo-menu: #f0f0f0;
// $cor-borda-menu: grey;
// $cor-botoes-menu-desktop: #000000;
// $cor-fundo-listapedidos: #f0fff0;
// $cor-fundo-listapedido-destaque: #e8f0e8; //usado na lista de produtos, destaca a posição do mouse
// $cor-verde-icones: #42c04d;

// gabriel
$cor-fundo-menu: #464646;
$cor-borda-menu: #3f3e3e;
$cor-botoes-menu-desktop: #f8f8f8;
$cor-fundo-listapedidos: #fbfbfb;
$cor-fundo-listapedido-destaque:#d1d1d1;
$cor-verde-icones:#464646;
// fim

$altura-cabecalho: 50px;
$altura-cabecalho-mais3: 53px;
$altura-cabecalho-mais4: 54px;

