<div class="p-grid">
    <div class="p-col-12">
        <div class="card">
            <div class='calculator'>teste</div>
            <h4 *ngIf="novoUsuario">Novo Usuário</h4>
            <h4 *ngIf="!novoUsuario">Consulta/Edição de Usuário Cadastrado</h4>
            <form [formGroup]="form">
                <div class="p-fluid p-formgrid p-grid p-col-12 p-mx-0 p-px-0">

                    <div class="p-field p-col-12 p-lg-6 p-md-6 p-sm-6">
                        <label for="nome">Nome</label>
                        <input id="nome" type="text" pInputText placeholder="" formControlName="nome" />
                        <div *ngIf="validacaoFormGroup.verificaCampo(form,'nome')">
                            <small class="p-error" *ngIf="form.controls.nome.errors?.required">{{mensagemErro}}</small>
                            <small class="p-error" *ngIf="form.controls.nome.errors?.maxlength">Quantidade de caracteres
                                excede a o limite de {{form.controls.nome.errors.maxlength.requiredLength}}</small>
                        </div>

                    </div>
                    <div class="p-field p-col-12 p-lg-6 p-md-6 p-sm-6">
                        <label for="apelido">Apelido</label>
                        <input id="apelido" type="text" pInputText placeholder="" formControlName="apelido" />
                        <div *ngIf="validacaoFormGroup.verificaCampo(form,'apelido')">
                            <small class="p-error"
                                *ngIf="form.controls.apelido.errors?.required">{{mensagemErro}}</small>
                            <small class="p-error" *ngIf="form.controls.apelido.errors?.maxlength">Quantidade de
                                caracteres
                                excede a o limite de {{form.controls.apelido.errors.maxlength.requiredLength}}</small>
                        </div>

                    </div>
                    <div class="p-field p-col-12 p-lg-6 p-md-6 p-sm-6">
                        <label for="email">E-mail</label>
                        <input id="email" type="text" pInputText placeholder="" formControlName="email" />
                        <div *ngIf="validacaoFormGroup.verificaCampo(form,'email')">
                            <small class="p-error" *ngIf="form.controls.email.errors?.required">{{mensagemErro}}</small>
                            <small class="p-error" *ngIf="form.controls.email.errors?.pattern">Endereço de e-mail
                                inválido!</small>
                            <small class="p-error" *ngIf="form.controls.email.errors?.maxlength">Quantidade de
                                caracteres
                                excede a o limite de {{form.controls.email.errors.maxlength.requiredLength}}</small>
                        </div>

                    </div>
                    <div class="p-field p-col-12 p-lg-3 p-md-3 p-sm-3">
                        <label for="perfil">Perfil</label>
                        <p-dropdown id="perfil" [options]="lstPerfil" formControlName="perfil" placeholder="Selecione"
                            optionLabel="label" (onChange)="desabilitarCampos()">
                        </p-dropdown>
                        <small class="p-error"
                            *ngIf="validacaoFormGroup.verificaCampo(form,'perfil')">{{mensagemErro}}</small>
                    </div>
                    <div class="p-field p-col-12 p-lg-3 p-md-3 p-sm-3">
                        <label for="perfil">Vendedor da Loja</label>
                        <p-multiSelect [showHeader]="false" [options]="lojas" formControlName="lojasSelecionadas"
                            optionLabel="nome" optionValue="loja" [selectedItemsLabel]="'{0} itens selecionado'"
                            placeholder="Selecione">
                        </p-multiSelect>
                        <small class="p-error"
                            *ngIf="validacaoFormGroup.verificaCampo(form,'lojasSelecionadas')">{{mensagemErro}}</small>
                    </div>

                    <div class="p-field p-col-12 p-lg-6 p-md-6 p-sm-6 login-input">
                        <label for="senha">Senha</label>
                        <span class="p-input-icon-right">
                            <i style="cursor: pointer"
                                [ngClass]="password.type == 'password'? 'pi pi-eye': 'pi pi-eye-slash'"
                                (click)=" password.type = password.type == 'password' ? 'text' : 'password'"></i>
                            <input id="senha" type="password" pPassword formControlName="senha" [feedback]="false"
                                #password />
                            <div *ngIf="validacaoFormGroup.verificaCampo(form,'senha')">
                                <small class="p-error"
                                    *ngIf="form.controls.senha.errors?.required">{{mensagemErro}}</small>
                                <small class="p-error" *ngIf="form.controls.senha.errors?.minlength">A senha deve
                                    possuir no mínimo 5 caracteres!</small>
                                <small class="p-error" *ngIf="form.controls.senha.errors?.maxlength">Quantidade de
                                    caracteres
                                    excede a o limite de {{form.controls.senha.errors.maxlength.requiredLength}}</small>
                            </div>

                        </span>
                    </div>
                    <div class="p-field p-col-12 p-lg-6 p-md-6 p-sm-6">
                        <label for="confirmacao">Confirmação</label>
                        <span class="p-input-icon-right">
                            <i style="cursor: pointer"
                                [ngClass]="confirmaPassword.type == 'password'? 'pi pi-eye': 'pi pi-eye-slash'"
                                (click)=" confirmaPassword.type = confirmaPassword.type == 'password' ? 'text' : 'password'"></i>
                            <input id="confirmacao" type="password" pInputText placeholder=""
                                formControlName="confirmacao" #confirmaPassword />
                            <div *ngIf="validacaoFormGroup.verificaCampo(form,'confirmacao')">
                                <small class="p-error"
                                    *ngIf="form.controls.confirmacao.errors?.required">{{mensagemErro}}</small>
                                <small class="p-error" *ngIf="form.controls.confirmacao.errors?.minlength">A senha deve
                                    possuir no mínimo 5 caracteres!</small>
                                <small class="p-error" *ngIf="form.controls.confirmacao.errors?.maxlength">Quantidade de
                                    caracteres
                                    excede a o limite de
                                    {{form.controls.confirmacao.errors.maxlength.requiredLength}}</small>
                                <small class="p-error" *ngIf="form.controls.confirmacao.errors?.confirmacao">
                                    A confirmação de senha não está correta.</small>
                            </div>
                        </span>
                    </div>
                    <div class="p-field p-col-12 p-lg-2 p-md-2 p-sm-2" *ngIf="disabled">
                        <label for="tipo">Tipo</label>
                        <p-dropdown [options]="lstTipo" formControlName="tipo" placeholder="Selecione"
                            optionLabel="label"></p-dropdown>
                    </div>
                    <div class="p-field p-col-12 p-lg-5 p-md-5 p-sm-5" *ngIf="disabled">
                        <label for="cpf_cnpj">CPF/CNPJ</label>
                        <input id="cpf_cnpj" type="text" pInputText placeholder="" formControlName="cpf_cnpj" />
                        <small class="p-error"
                            *ngIf="validacaoFormGroup.verificaCampo(form,'cpf_cnpj')">{{mensagemErro}}</small>
                    </div>
                    <div class="p-field p-col-12 p-lg-5 p-md-5 p-sm-5" *ngIf="disabled">
                        <label for="rg_ie">RG/IE</label>
                        <input id="rg_ie" type="text" pInputText placeholder="" formControlName="rg_ie" />
                        <small class="p-error"
                            *ngIf="validacaoFormGroup.verificaCampo(form,'rg_ie')">{{mensagemErro}}</small>
                    </div>
                    <div class="p-field p-col-12 p-lg-4 p-md-4 p-sm-4" *ngIf="disabled">
                        <label for="ddd1_telefone1">Telefone1</label>
                        <input type="tel" pInputText placeholder="(00) 0000-0000" id="ddd1_telefone1"
                            formControlName="ddd1_telefone1" mask="{{mascaraTelefone}}" />
                        <small class="p-error" *ngIf="form.controls.ddd1_telefone1.errors?.minlength">O telefone deve
                            possuir no mínimo {{form.controls.ddd1_telefone1.errors.minlength.requiredLength}}
                            caracteres!</small>
                    </div>
                    <div class="p-field p-col-12 p-lg-4 p-md-4 p-sm-4" *ngIf="disabled">
                        <label for="ddd2_telefone2">Telefone2</label>
                        <input type="text" pInputText id="ddd2_telefone2" formControlName="ddd2_telefone2"
                            mask="{{mascaraTelefone}}" placeholder="(00) 0000-0000" />
                        <small class="p-error" *ngIf="form.controls.ddd2_telefone2.errors?.minlength">O telefone deve
                            possuir no mínimo {{form.controls.ddd2_telefone2.errors.minlength.requiredLength}}
                            caracteres!</small>
                    </div>
                    <div class="p-field p-col-12 p-lg-4 p-md-4 p-sm-4" *ngIf="disabled">
                        <label for="ddd3_telefone3">Telefone3</label>
                        <input type="text" pInputText id="ddd3_telefone3" formControlName="ddd3_telefone3"
                            placeholder="(00) 0000-0000" mask="{{mascaraTelefone}}" />
                        <small class="p-error" *ngIf="form.controls.ddd3_telefone3.errors?.minlength">O telefone deve
                            possuir no mínimo {{form.controls.ddd3_telefone3.errors.minlength.requiredLength}}
                            caracteres!</small>
                    </div>
                    <div class="p-col-12 p-formgroup-inline">
                        <div class="p-field-radiobutton p-mb-1">
                            <p-radioButton name="ativo" value="Sim" formControlName="ativo" id="ativo">
                            </p-radioButton>
                            <label for="ativo">Sim</label>
                        </div>

                        <div class="p-field-radiobutton p-mb-1">
                            <p-radioButton name="ativo" value="Não" formControlName="ativo" id="ativo">
                            </p-radioButton>
                            <label for="ativo">Não</label>
                        </div>

                    </div>
                    <div *ngIf="validacaoFormGroup.verificaCampo(form,'ativo')">
                        <small class="p-error" *ngIf="form.controls.ativo.errors?.required">Informe se o usuário tem
                            acesso permitido ou bloqueado.</small>
                    </div>
                </div>
            </form>
            <div class="p-field p-d-flex p-jc-between p-mb-0 p-mt-3">

                <button pButton pRipple label="Voltar" icon="pi pi-arrow-left"
                    [routerLink]="['/usuarios/usuario-lista']"></button>

                <button pButton pRipple label="Cadastrar" icon="pi pi-save" (click)="atualizar()"></button>
            </div>
        </div>
    </div>
</div>