<!-- [ngClass]="{'carregando': prepedidoBuscarService.carregando || pedidoBuscarService.carregando}" -->
<section [ngClass]="{'sectionDesktop': telaDesktop, 'sectionCelular': !telaDesktop}">
    <header >
        Detalhes do Cliente
    </header>

    <!-- <article> -->
        <app-cliente-corpo style="padding: 16px;" [dadosClienteCadastroDto]="dadosClienteCadastroDto" [cadastrando]="false"
        [clienteCadastroDto]="clienteCadastroDto" [editarIcms]="false" [dadosCadastrais]="false">
        </app-cliente-corpo>

    <!-- </article> -->
    <footer>
        <button mat-raised-button color="accent" (click)="voltar()" class="botao">
            <span class="pi pi-arrow-left"></span> Voltar
        </button>
    </footer>
</section>