<div class="p-grid" [ngClass]="{'carregando': itens.carregandoProds}">
    <div class="p-col-12 p-pb-0">
        <div class="card">
            <app-itens #itens>
            </app-itens>
            <div  class="p-d-flex p-jc-around">
                <button pButton pRipple label="Voltar" icon="pi pi-arrow-left" (click)="voltar()"></button>
                <button pButton pRipple label="Salvar opção de orçamento" (click)="salvarOpcao()"></button>
            </div>
        </div>
    </div>
</div>
