<div class="p-grid" [ngClass]="{'carregando': carregandoProds}">
    <div class="p-col-12 p-pb-0">
        <div class="card itens">
            <h4>Produtos e Pagamentos</h4>
            <div class="p-fluid p-formgrid p-grid p-col-12 p-mx-0 p-px-0 p-pb-0">
                <span class="p-text-bold p-pr-1">Cliente: </span>
                <p>{{novoOrcamentoService.orcamentoCotacaoDto?.clienteOrcamentoCotacaoDto?.nomeCliente}}</p>
            </div>
            <div class="p-fluid p-formgrid p-grid p-col-12 p-mx-0 p-px-0 p-p-0"
                *ngIf="!!novoOrcamentoService.orcamentoCotacaoDto?.parceiro && novoOrcamentoService.orcamentoCotacaoDto?.parceiro != this.constantes.SEM_INDICADOR">
                <span class="p-text-bold p-pr-1">Comissão: </span>
                <p *ngIf="!novoOrcamentoService.editandoComissao" class="p-m-0">
                    {{moedaUtils.formatarPorcentagemUmaCasaReturnZero(novoOrcamentoService.opcaoOrcamentoCotacaoDto.percRT)}}
                    % </p>
                <div *ngIf="novoOrcamentoService.editandoComissao" class="p-inputgroup p-col-5 p-lg-2 p-md-2 p-sm-3">
                    <input type="text" pInputText class="p-text-right"
                        [value]="moedaUtils.formatarPorcentagemUmaCasaReturnZero(novoOrcamentoService.opcaoOrcamentoCotacaoDto.percRT)"
                        (keyup)="formataComissao($event)" (blur)="editarComissao($event)">
                    <span class="p-inputgroup-addon">%</span>
                </div>
                <div>
                    <button *ngIf="!novoOrcamentoService.editandoComissao" pButton type="button" icon="pi pi-user-edit"
                        (click)="liberarEdicaoComissao()" pTooltip="Editar comissão"
                        class="p-button-text p-p-0"></button>
                    <button *ngIf="novoOrcamentoService.editandoComissao" pButton type="button" icon="pi pi-times"
                        (click)="liberarEdicaoComissao()" class="p-button-text p-p-0"></button>
                </div>
            </div>
            <div class="p-fluid p-formgrid p-grid p-col-12 p-mx-0 p-px-0 p-p-0">
                <span class="p-text-bold p-pr-1">Desconto médio: </span>
                <p>{{moedaUtils.formatarValorDuasCasaReturnZero(novoOrcamentoService.descontoMedio)}}</p>
            </div>
            <!-- <form> -->
            <div class="p-fluid p-formgrid p-grid p-col-12 p-mx-0 p-px-0">
                <div *ngIf="!editando" class="p-col-12 p-d-block p-d-lg-flex p-d-md-flex p-d-sm-flex p-jc-end p-px-0">
                    <div class="p-col-12 p-d-inline-flex p-jc-end p-lg-6 p-md-6 p-sm-12">
                        <div *ngIf="habilitarClone" class="p-col-lg-3 p-col-md-3 p-col-sm-12 p-mb-2 p-pr-2">
                            <button pButton pRipple label="Clonar" icon="pi pi-fw pi-copy"
                                (click)="abriModalOpcoes()"></button>
                        </div>
                        <div class="p-mb-2 p-col-lg-3 p-col-md-3 p-col-sm-12">
                            <button pButton pRipple label="Adicionar Produto" icon="pi pi-plus"
                                (click)="adicionarProduto()"></button>
                        </div>
                    </div>
                </div>
                <div class="p-col-12 p-px-0">
                    <div *ngIf="!telaDesktop" class="font-size p-text-right p-text-bold p-md-12 p-sm-12">Quantidade de
                        itens:
                        {{novoOrcamentoService.lstProdutosSelecionados?.length}}</div>
                    <p-table #dataTable [value]="novoOrcamentoService.lstProdutosSelecionados" [responsive]="true"
                        responsiveLayout="stack" autoLayout="true" styleClass="p-datatable-customers p-datatable-sm"
                        [rows]="10" [filterDelay]="0">
                        <ng-template pTemplate="header">
                            <tr class="font-size">
                                <th class="">Produto</th>
                                <th class="p-text-right">Qtde</th>
                                <!-- <th class="p-text-right">Preço NF</th> -->
                                <th class="p-text-right">VL Lista</th>
                                <th class="p-text-right">Desc %</th>
                                <th class="p-text-right">VL Venda</th>
                                <th class="p-text-right">VL Total</th>
                                <th *ngIf="!editando" class="p-text-right">Excluir</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-p let-index="rowIndex">
                            <tr class="p-selectable-row" class="font-size">
                                <td class="{{telaDesktop ? 'p-jc-between' : 'p-d-inline-flex p-jc-between'}}">
                                    <span class="p-column-title"
                                        [ngStyle]="telaDesktop ? {'display':'none'}:{'display':'contents'}">Produto</span>
                                    <input type="hidden" value="{{p.produto}}" [(ngModel)]="p.produto" />
                                    <p class="{{telaDesktop ? '' : 'p-ml-2'}}"
                                        [innerHtml]="stringUtils.formatarDescricao(p.fabricante, p.fabricanteNome, p.produto, p.descricao)">
                                    </p>
                                </td>
                                <td>
                                    <div class="{{telaDesktop ? 'p-jc-between' : 'p-d-inline-flex p-jc-between'}}"
                                        style="width: 100% !important;">
                                        <span class="p-column-title"
                                            [ngStyle]="telaDesktop ? {'display':'none'}:{'display':'contents'}">Qtde</span>
                                        <div>
                                            <input class="{{telaDesktop ? 'p-text-right' : 'p-text-right p-ml-2'}}"
                                                id="qtde_{{p.produto}}" type="number" pInputText placeholder="" [value]="p.Qtde"
                                                [(ngModel)]="p.qtde" (change)="digitouQte(p)"
                                                [disabled]="carregandoProds" />
                                            <div *ngIf="!p.qtdeValida"
                                                class="{{telaDesktop ? 'p-text-left' : 'p-text-right'}}">
                                                <small class="p-error">Excede o máximo de caracteres</small>
                                            </div>
                                        </div>
                                    </div>

                                </td>
                                <td class="{{telaDesktop ? 'p-jc-between' : 'p-d-inline-flex p-jc-between'}}">
                                    <span class="p-column-title">VL Lista:</span>
                                    <div class="p-text-right">
                                        {{moedaUtils.formatarMoedaSemPrefixo(p.precoLista)}}
                                    </div>
                                </td>
                                <td class="{{telaDesktop ? 'p-text-right' : 'p-d-inline-flex p-jc-between'}}">
                                    <span class="p-column-title"
                                        [ngStyle]="telaDesktop ? {'':''}:{'display':'contents'}">Desc%</span>
                                    <div class="p-d-inline-flex p-ai-center p-jc-end"
                                        [ngStyle]="telaDesktop ? {'display':'none'}:{'display':'contents', 'width':'100%'}">
                                        <input
                                            class="{{telaDesktop ? 'p-text-right font-size' : 'p-text-right p-ml-2 font-size'}}"
                                            pInputText id="desconto" type="text"
                                            [value]="moedaUtils.formatarValorDuasCasaReturnZero(p.descDado)"
                                            [disabled]="carregandoProds" (blur)="digitouDesc($event,p)"
                                            (keyup)="formatarDesc($event,p)" />
                                        <div class="p-pl-1">%</div>
                                    </div>
                                </td>
                                <td class="{{telaDesktop ? 'p-jc-between' : 'p-d-inline-flex p-jc-between'}}">
                                    <span class="p-column-title"
                                        [ngStyle]="telaDesktop ? {'display':'none'}:{'display':'contents', 'white-space': 'nowrap'}">VL
                                        Venda</span>
                                    <input class="{{telaDesktop ? 'p-text-right' : 'p-text-right p-ml-2'}}" pInputText
                                        id="vlVenda" type="text"
                                        [value]="moedaUtils.formatarMoedaSemPrefixo(p.precoVenda)"
                                        [disabled]="carregandoProds" (keyup)="formataPreco_Venda($event,p)"
                                        (blur)="digitouPreco_Venda($event,p)" />
                                </td>
                                <td class="{{telaDesktop ? 'p-jc-between' : 'p-d-inline-flex p-jc-between'}}">
                                    <span class="p-column-title">VL Total:</span>
                                    <div class="p-text-right">
                                        {{moedaUtils.formatarMoedaSemPrefixo(p.totalItem)}}
                                    </div>
                                </td>
                                <td *ngIf="!editando"
                                    class="{{telaDesktop ? 'p-jc-between' : 'p-d-inline-flex p-jc-between'}}">
                                    <span class="p-column-title">Excluir:</span>
                                    <div class="p-text-right">
                                        <i class="pi pi-trash" style="color: red" (click)="removerItem(index)"></i>
                                    </div>
                                </td>
                            </tr>
                            <tr *ngIf="estoqueExcedido(p)" class="alerta">
                                <td colspan="8" class="font-size">AVISO: Quantidade solicitada é maior que o estoque
                                    disponível do produto: {{stringUtils.formatarDescricao(p.fabricante, null,
                                    p.produto, null)}}</td>
                            </tr>
                            <tr *ngIf="produtoTemAviso(p)">
                                <td colspan="8" class="font-size alerta">AVISO: {{mensagemAlerta}}</td>
                            </tr>
                            <tr *ngIf="qtdeVendaPermitida(p)" class="alerta">
                                <td colspan="8" class="font-size">AVISO: Quantidade solicitada excede a quantidade
                                    máxima de venda permitida para o produto:
                                    {{stringUtils.formatarDescricao(p.fabricante, null, p.produto, null)}}</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="footer" class="font-size">
                            <tr class="font-size">
                                <td class="p-text-right" colspan="1">
                                </td>
                                <td colspan="2" class="p-text-right p-p-0">
                                    <p>Desconto linear:</p>
                                </td>
                                <td class="p-text-right">
                                    <div class="p-d-inline-flex p-ai-center p-jc-end"
                                        [ngStyle]="telaDesktop ? {'display':'none'}:{'display':'contents', 'width':'100%'}">
                                        <input
                                            class="{{telaDesktop ? 'p-text-right font-size' : 'p-text-right p-ml-2 font-size'}}"
                                            pInputText id="desconto" type="text"
                                            [value]="moedaUtils.formatarValorDuasCasaReturnZero(novoOrcamentoService.descontoGeral)"
                                            (keyup)="formataDescontoGeral($event)" [disabled]="carregandoProds" />
                                        <div class="p-pl-1">%</div>
                                    </div>
                                </td>

                                <td colspan="2">
                                    <div class="p-col-12 p-d-inline-flex p-jc-between p-px-0">
                                        <div>
                                            <button type="button" pButton pRipple icon="fa fa-check"
                                                styleClass="p-button-warn" label="Aplicar a todos"
                                                [value]="moedaUtils.formatarValorDuasCasaReturnZero(novoOrcamentoService.descontoGeral)"
                                                (click)="aplicarDescontoGeral($event)"></button>
                                        </div>
                                        <div class="p-as-center p-text-right">
                                            Total
                                            {{moedaUtils.formatarMoedaSemPrefixo(this.novoOrcamentoService.opcaoOrcamentoCotacaoDto?.vlTotal)}}
                                        </div>
                                    </div>
                                </td>
                                <td></td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <div *ngIf="!telaDesktop && novoOrcamentoService.lstProdutosSelecionados?.length > 0"
                        style="border: 1px solid #cecece; border-radius: 0.5rem" class="p-mt-4 p-p-2">
                        <div class="p-d-flex p-jc-between p-text-bold font-size">
                            <span>Total</span>
                            <span>{{moedaUtils.formatarMoedaSemPrefixo(novoOrcamentoService.totalPedido())}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-fluid p-formgrid p-grid p-col-12 p-mx-0 p-px-0 p-d-inline-flex">
                <app-forma-pagto #formaPagto class="p-col-12 p-px-0"></app-forma-pagto>
            </div>
            <!-- OPÇÕES DE ORÇAMENTOS -->
            <div *ngIf="!editando" class="p-fluid p-formgrid p-grid p-col-12 p-mx-0 p-px-0 p-d-inline-flex">
                <app-opcoes #opcoes class="p-col-12 p-px-0"></app-opcoes>
            </div>

            <div *ngIf="!editando" class="p-field p-mb-0 p-mt-3">
                <div class="p-grid">
                    <div class="p-col-12">
                        <div class="p-col-12 p-d-inline-flex p-jc-around">
                            <div>
                                <button pButton pRipple label="{{telaDesktop ? 'Voltar' : ''}}" icon="pi pi-arrow-left"
                                    (click)="voltar()"></button>
                            </div>
                            <div>
                                <button pButton pRipple label="{{telaDesktop ? 'Enviar orçamento' : ''}}"
                                    icon="pi pi-send" (click)="salvarOrcamento()"
                                    [disabled]="desabilitarEnvio"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>