<div class="login-body" [ngClass]="{'carregando': carregando}">
    <div class="card login-panel login-image p-fluid" style="height: 100%;">
        <div class="login-panel-content" style="top:105px">
            <div class="p-grid">

                <div class="p-col-12" style="text-align:center;">
                    <h2 class="welcome-text">Bem-vindo</h2>
                </div>
                <div *ngIf="!autenticou" class="p-col-12" style="text-align:left;">
                    <input-arclube setId="Login" titleInput="E-mail/Usuário" (inputValue)="usuario = $event"
                        class="p-col-12" setAutoFocus="true" ></input-arclube>
                </div>
                <div *ngIf="!autenticou" class="p-col-12" style="text-align:left;">
                    <input-arclube setId="Password" titleInput="Password" typeInput="password"
                        (inputValue)="senha = $event" class="p-col-12" #password></input-arclube>
                </div>
                <div *ngIf="mostrarLoja" class="p-col-12" style="text-align:left;">
                    <div class="login-input">
                        <dropdown-arclube setId="Loja" titleInput="Loja" [inputItems]="lojasUsuario"
                            setOptionsName="label" setOptionsValueName="value" (getItemSelected)="loja = $event"
                            class="p-col-12"></dropdown-arclube>
                    </div>
                </div>
                <div class="p-col-12">
                    <button-arclube type="submit" (value)="login()" setLabel="Entrar"></button-arclube>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="version-footer">
    <span>Versão B {{versaoApi}}</span><span> Versão F {{versaoFront}}</span>
</div>