.corpo{
    padding: 15px 15px 15px 15px;
}

.card{
    min-height: 0% !important;
    // border-radius: 2ch !important;
}

@media screen and (max-width: 600px){
    .img{
        width: 30%;
    }
}

