.corpohome {
  padding: 1em;
  padding-bottom: 0em;
}

.corpohomeDesktop {
  text-align: left;
}

.corpohomeCelular {
  text-align: center;
}

.containerDesktop {
  text-align: left;
}
.containerCelular {
  text-align: left;
}

.tituloDesktop {
  margin-left: 0px;
  padding-top: 0em;
}
.campoTextoDesktop {
  height: 3em;
  line-height: 1em;
  padding: 1em;
}
.margemdesktop {
  padding-right: 2em;
}
.campoTextoCel {
  height: 3em;
  line-height: 1em;
  padding: 0;
  width: 100%;
  margin-top: 2em;
}
.cbcel {
  padding: 0;
  margin: 0;
}
.cbdesktop {
  padding: 0;
  padding-right: 1em;
}

.divCampos {
  margin: 0.5em;
}

.checkboxes {
  white-space: normal;
}
