<div class="p-col-12 p-d-inline-flex p-jc-center">
    <div class="card p-col-12 p-lg-10 p-md-10 p-sm-10">

        <!-- CLIENTE PF -->
        <div class="p-col-12" *ngIf="TipoCliente == constantes.ID_PF">
            <div class="p-fluid p-grid p-py-2">
                <!-- Cliente PF => nome | cpf | rg | nascimento | sexo -->
                <div class="p-field p-col-12 p-as-end p-py-0">
                    <label for="nome">Nome</label>
                    <input id="nome" type="text" [(ngModel)]="dadosCliente.Nome" pInputText>
                    <!-- <div *ngIf="validacaoFormularioService.verificaCampo(form,'nome')">
                         <small class="p-error" *ngIf="form.controls.nome.errors?.required">{{mensagemErro}}</small>
                         <small class="p-error" *ngIf="form.controls.nome.errors?.maxlength">
                             Quantidade de caracteres excede a o limite de
                             {{form.controls.nome.errors.maxlength.requiredLength}}
                         </small>
                         </div> -->
                </div>
                <div class="p-field p-col-6 p-lg-3 p-md-3 p-sm-6 p-as-end p-py-0">
                    <label for="cpfCnpj">CPF</label>
                    <p-inputMask id="cpfCnpj" type="text" [(ngModel)]="dadosCliente.Cnpj_Cpf" mask="{{mascaraCPF}}">
                    </p-inputMask>
                    <!-- <div *ngIf="validacaoFormularioService.verificaCampo(form,'cpfCnpj')">
                        <small class="p-error" *ngIf="form.controls.cpfCnpj.errors?.required">{{mensagemErro}}</small>
                        <small class="p-error" *ngIf="form.controls.cpfCnpj.errors?.maxlength">
                                 Quantidade de caracteres excede a o limite de
                                {{form.controls.cpfCnpj.errors.maxlength.requiredLength}}
                          </small>
                        </div> -->
                </div>
                <div class="p-field p-col-6 p-lg-3 p-md-3 p-sm-6 p-as-end p-py-0">
                    <label for="rg">RG</label>
                    <input id="rg" [(ngModel)]="dadosCliente.Rg" pInputText>
                </div>
                <div class="p-field p-col-6 p-lg-3 p-md-3 p-sm-6 p-as-end p-py-0">
                    <label for="nascimento">Nascimento</label>
                    <p-inputMask type="text" [(ngModel)]="dadosCliente.Nascimento" (keyup)="escrevendoData($event)"
                        maxlength="10" minlength="10" mask="99/99/9999"></p-inputMask>
                </div>
                <div class="p-field p-col-6 p-lg-3 p-md-3 p-sm-6 p-as-end p-py-0">
                    <label for="sexo">Sexo</label>
                    <p-dropdown id="sexo" [options]="listaSexo" optionValue="id" optionLabel="value"
                        [(ngModel)]="dadosCliente.Sexo"></p-dropdown>
                </div>
            </div>
        </div>

        <!-- CEP cadastro -->
        <div class="p-col-12">
            <app-cep #cepComponente></app-cep>
        </div>

        <!-- PF => Fone Residencial | Celular | Fone comercial | Ramal -->
        <div class="p-col-12" *ngIf="TipoCliente == constantes.ID_PF">
            <div class="p-fluid p-grid p-py-2">
                <div class="p-field p-col-6 p-lg-3 p-md-3 p-sm-6 p-as-end p-py-0">
                    <label for="foneResidencial">Fone Residencial</label>
                    <input id="foneResidencial" type="text" [(ngModel)]="dadosCliente.TelefoneResidencial" pInputText
                        mask="{{mascaraTelefone}}">
                </div>
                <div class="p-field p-col-6 p-lg-3 p-md-3 p-sm-6 p-as-end p-py-0">
                    <label for="celular">Celular</label>
                    <input id="celular" type="text" [(ngModel)]="dadosCliente.Celular" pInputText
                        mask="{{mascaraTelefone}}">
                </div>
                <div class="p-field p-col-6 p-lg-3 p-md-3 p-sm-6 p-as-end p-py-0">
                    <label for="foneComercial">Fone Comercial</label>
                    <input id="foneComercial" type="text" [(ngModel)]="dadosCliente.TelComercial" pInputText
                        mask="{{mascaraTelefone}}">
                </div>
                <div class="p-field p-col-6 p-lg-3 p-md-3 p-sm-6 p-as-end p-py-0">
                    <label for="ramal">Ramal</label>
                    <input id="ramal" type="text" [(ngModel)]="dadosCliente.Ramal" pInputText>
                </div>
            </div>
        </div>

        <!-- PF => Observação -->
        <div class="p-col-12" *ngIf="TipoCliente == constantes.ID_PF">
            <div class="p-fluid p-grid p-py-2">
                <div class="p-field p-col-12 p-as-end p-py-0">
                    <label for="observacao">Observação</label>
                    <input id="observacao" type="text" [(ngModel)]="dadosCliente.Observacao_Filiacao" pInputText
                        maxlength="60">
                </div>
            </div>
        </div>

        <!-- Email | Emailxml -->
        <div class="p-col-12">
            <div class="p-fluid p-grid p-py-2">
                <div class="p-field p-col-12 p-lg-6 p-md-6 p-sm-6 p-as-end p-py-0">
                    <label for="email">E-mail</label>
                    <input id="email" type="text" [(ngModel)]="dadosCliente.Email" pInputText maxlength="60">
                </div>
                <div class="p-field p-col-12 p-lg-6 p-md-6 p-sm-6 p-as-end p-py-0">
                    <label for="emailXml">E-mail (XML)</label>
                    <input id="emailXml" type="text" [(ngModel)]="dadosCliente.EmailXml" pInputText maxlength="60">
                </div>
            </div>
        </div>

        <!-- PF => Produtor Rural -->
        <div class="p-col-12" *ngIf="TipoCliente == constantes.ID_PF">
            <div class="p-fluid p-grid p-py-2">
                <div class="p-field p-col-4 p-as-end p-py-0">
                    <label for="produtorRural">Produtor Rural</label>
                    <p-dropdown id="produtorRural" [showClear]="true" [autoDisplayFirst]="false"
                        [(ngModel)]="dadosCliente.ProdutorRural" [options]="listaProdutorRural" optionValue="value"
                        optionLabel="label"></p-dropdown>
                </div>
            </div>
        </div>

        <!-- endereço de entrega -->
        <div class="p-col-12">
            <app-endereco-entrega [tipoPf]="clientePF()" [origem]="'publico'"
                [loja]="aprovacaoPubicoService.orcamento.loja"
                [enderecoEntregaDtoClienteCadastro]="enderecoEntregaDtoClienteCadastro" #confirmarEndereco>
            </app-endereco-entrega>
        </div>
    </div>
</div>