.divider{
    background-color: dimgray;
}

.font-size > td > input,
.font-size {
    font-size: small !important; 
}

.alerta{
    background-color: antiquewhite !important;
    color:red !important;
    font-weight: bold;
}

::ng-deep .p-datatable .p-datatable-tbody > tr{
    @media only screen and (max-width: 641px) {
        border-bottom: 3px solid #cecece !important;
    }
}