::ng-deep .p-orderlist .p-orderlist-controls {
    padding: 1.0rem !important;
    padding-bottom: 0rem !important;
}

::ng-deep .p-orderlist-droppoint {
    height: 12px !important;
}

.desabilita{
    pointer-events: none;
    opacity: 0.5;;
}