<div class="p-grid" [style]="{width:  widthContainer+'%'}">
  <!-- <div class="p-col-12">
    <radio-arclube [setRadioItems]="[{'label': 'CPF', 'value':'PF'},{'label': 'CNPJ', 'value':'PJ'}]"
      setIsMultiple="true" (getItemSelected)="tipoPessoa_OnChange($event)" setValueMultRadio="PF"></radio-arclube>
  </div>
  <div class="title-input p-col-12" [style]="{width: widthTitle+'%', 'padding': '5px 0px 4px'}">
    <label [for]="'inputRoot'+id">Digite o CPF ou CNPJ do cliente</label>
  </div> -->
  <div class="p-col-12">
    <div class="p-grid">
      <input [id]="'inputRoot'+id" type="type" pInputText class="p-col-4" [(ngModel)]="value" (change)="returnValue()"
        [attr.disabled]="disabled == 'true' ? '' : null" [placeholder]="placeholder" autocomplete="new-password">
      <!-- <p-inputMask [id]="'inputRoot'+id" class="p-col-4" [(ngModel)]="value"
      (change)="returnValue()" [placeholder]="placeholder" [mask]="mask" *ngIf="mask.length" autocomplete="new-password"
      [unmask]="true" [attr.disabled]="disabled == 'true' ? '' : null"></p-inputMask> -->
      <!-- [style]="{width: '100%', padding: '0px', border: '0px'}" -->
      <button-arclube class="p-col-2" setType="button" setLabel="Pesquisar" isDisabled="false" setBtnText="pesquisar"
        setIcon="fa fa-search" (click)="btnPesquisar()"></button-arclube>
    </div>

  </div>

</div>