<div class="flex p-flex-column" [style]="{width:  widthContainer+'%'}">
  <div class="title-input" [style]="{width: widthTitle+'%', 'padding': '5px 0px 10px'}">
    <label [for]="'inputRoot'+id" *ngIf="type != 'hidden'" [style]="getLabelStatus()">{{titleLabel+requiredLabel}}</label>
  </div>
  <div class="p-grid p-col-12" [style]="{width: widthInput+'%'}">
    <input
            [id]="'inputRoot'+id" 
            type="type"
            pInputText 
            [class]="class == '' ? p-col-10 : class" 
            [class.ng-dirty]= "invalid == 'true'"
            [class.ng-invalid]= "invalid == 'true'" 
            [(ngModel)]="value" 
            (change)="returnValue()"
            (blur)="nextFocus()"
            [attr.disabled]="disabled == 'true' ? '' : null" 
            *ngIf="type === 'text' && !mask.length"      
            [placeholder]="placeholder"
            autofocus = "value"
            autocomplete="new-password">
      
    <input 
            [id]="'inpudRoot'+id" 
            type="password" 
            pPassword 
            class="p-col-10" 
            [feedback]="feedback"
            [class.ng-dirty] = "invalid == 'true'"
            [class.ng-invalid] = "invalid == 'true'" 
            [(ngModel)]="value" 
            (change)="returnValue()" 
            [attr.disabled]="disabled == 'true' ? '' : null" 
            *ngIf="type === 'password' && !mask.length"  
            [placeholder]="placeholder"
            autocomplete="new-password">

    <input 
        [id]="'inputRoot'+id" 
        type="hidden"
        pInputText 
        class="p-col-10" 
        [(ngModel)]="value" 
        (change)="returnValue()" 
        *ngIf="type === 'hidden' && !mask.length"
        autocomplete="new-password">

    <p-inputMask
        [id]="'inputRoot'+id"
        class="p-col-10 p-inputMask p-inputtext "   
        [(ngModel)]="value"
        (change)="returnValue()" 
        [placeholder]="placeholder" 
        [mask]="mask"
        *ngIf="mask.length"
        [unmask]="true"
        [attr.disabled]="disabled == 'true' ? '' : null" 
        [readonly]="disabled == 'true' ? 'true' : null" 
        [style]="{width: '100%', padding: '0px', border: '0px'}">
    </p-inputMask>

    <p-inputNumber
      [id]="'inputRoot'+id"
      [(ngModel)]="value"
      inputId="currency-br" 
      mode="currency" 
      currency="BRL" 
      locale="pt-BR"
      *ngIf="type == 'real'"
      [disabled]="disabled"
      [attr.disabled]="disabled == 'true' ? '' : null" 
    >
    </p-inputNumber>
  </div>
  
</div>