
.footer {
  border-top: 0;
  background: white;
  text-align: right;
  border-top: 1px solid #e9ecef;
  display: flex;
  justify-content: center;
}

.tabela{
  max-height: 400px;
  overflow-y: auto;
}

@media only screen and (max-width: 600px) {
  .tabela{
    max-height: 300px;
  }
}

::ng-deep .p-dialog-content{
  padding-bottom: 0% !important;
}