<div class="p-grid">
    <div class="p-col-12">
        <div class="card">
            <h4 style="color: #007BFF"><i class="fa fa-info-circle" style="font-size:36px"></i>&nbsp;Características do
                Produto</h4>
        </div>
    </div>
</div>

<form [formGroup]="form">

    <div class="p-grid p-d-lg-flex">
        <div class="p-col-12">
            <div class="card">
                <div class="p-mb-3" class="p-ai-center p-d-flex p-justify-center p-mb-3" *ngIf="produto.imagem != null">
                    <div class="product-item">
                        <div class="product-item-content">
                            <div class="p-mb-12">
                                <img src="{{imgUrl}}{{produto.imagem.Caminho}}" class="product-image"
                                    style="max-width: 300px; max-height: 200px;" />
                            </div>
                            <div class="p-mb-12">
                                <center>
                                    <p-button type="button" styleClass="p-button-help p-button-rounded"
                                        icon="pi pi-trash" (click)="excluirImagemClick(produto.imagem.Id)"
                                        pTooltip="Excluir imagem"></p-button>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>

                <p-fileUpload id="arquivo" name="arquivo" *ngIf="produto.imagem == null" accept="image/*"
                    [maxFileSize]="52428800" label="Import" chooseLabel="Upload" class="mr-2 inline-block" fileLimit="1"
                    chooseLabel="Selecionar" chooseIcon="pi pi-upload" [showUploadButton]=false [showCancelButton]=false
                    uploadIcon="fa fa-send" [customUpload]="true" (onSelect)="onSelectFile($event)">
                </p-fileUpload>
            </div>
        </div>
    </div>

    <div class="p-grid">
        <div class="p-col-12">
            <div class="card">
                <p align="right">
                    <button pButton type="button" label="Voltar" icon="fa fa-reply"
                        (click)="voltarClick()"></button>&nbsp;
                    <button pButton type="button" label="Salvar" icon="fa fa-save" (click)="salvarClick()"></button>
                </p>
                <div class="p-d-lg-flex p-d-md-flex">
                    <div class="p-fluid p-formgrid p-col-12 p-lg-7 p-md-7 p-mx-0 p-px-0">

                        <div class="p-text-bold">Exibir no Catálogo:<br></div>
                        <div class="p-field p-col-12">
                            <p-inputSwitch id="ativo" formControlName="ativo" [(ngModel)]="produto.Ativo">
                            </p-inputSwitch>
                        </div>

                        <div class="p-text-bold">Código:<br></div>
                        <div class="p-field p-col-12">
                            <input id="id" type="text" formControlName="produto" pInputText value="{{produto.Codigo}}"
                                (keyup)="digitouCodigo($event)"/>
                            <div *ngIf="validacaoFormularioService.verificaCampo(form,'produto')">
                                <small class="p-error" *ngIf="form.controls.produto.errors?.required">
                                    {{mensagemErro}}
                                </small>
                                <small class="p-error" *ngIf="form.controls.produto.errors?.maxlength">
                                    Valor excede o máximo permitido
                                </small>
                                <small class="p-error" *ngIf="form.controls.produto.errors?.minlength">
                                    Valor mínimo de 6 caracteres
                                </small>
                            </div>
                        </div>

                        <div class="p-text-bold">Nome do Fabricante:</div>
                        <div class="p-field p-col-12">
                            <p-dropdown id="dpdFabricante" [options]="lstFabricantes" formControlName="fabricante"
                                placeholder="Selecione"></p-dropdown>
                            <div *ngIf="validacaoFormularioService.verificaCampo(form,'fabricante')">
                                <small class="p-error" *ngIf="form.controls.fabricante.errors?.required">
                                    {{mensagemErro}}
                                </small>
                            </div>
                        </div>

                        <div class="p-text-bold">Nome do Produto:</div>
                        <div class="p-field p-col-12">
                            <input id="descricao" name="nome_produto" type="text" pInputText
                                placeholder="Nome do Produto" formControlName="nome_produto"
                                value="{{produto.Descricao}}" />
                            <div *ngIf="validacaoFormularioService.verificaCampo(form,'nome_produto')">
                                <small class="p-error" *ngIf="form.controls.nome_produto.errors?.required">
                                    {{mensagemErro}}
                                </small>
                            </div>
                        </div>

                        <div class="p-text-bold">Descrição:</div>
                        <div class="p-field p-col-12">
                            <input id="descricao" name="descricao" type="text" pInputText
                                placeholder="Descrição completa" formControlName="descricao"
                                value="{{produto.Descricao}}" />
                            <div *ngIf="validacaoFormularioService.verificaCampo(form,'descricao')">
                                <small class="p-error" *ngIf="form.controls.descricao.errors?.required">
                                    {{mensagemErro}}
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>


<!-- PROPRIEDADES DO PRODUTO -->
<div class="p-grid">
    <div class="p-col-12">
        <div class="card">
            <h4 style="color: #007BFF"><i class="fa fa-gear" style="font-size:36px;"></i>&nbsp;Propriedades do Produto
            </h4>
        </div>
    </div>
</div>

<div class="p-grid">
    <div class="p-col-12">
        <div class="card">
            <div class="p-col-12 p-px-0">
                <div class="p-col-12 p-fluid p-formgrid p-lg-12 p-md-12 p-px-0"
                    *ngFor="let lista of propriedades; let i=index">
                    <div class="p-text-bold" id="lbl-propriedade-{{lista.id}}">{{lista.descricao}}:</div>
                    <div id="elemento" *ngIf="lista.IdCfgTipoPropriedade == 0" class="p-col-12">
                        <div class="p-col-3 p-md-1 p-sm-2" style="display: inline-block;vertical-align: middle;">
                            <p-inputSwitch id="chk-{{lista.id}}"></p-inputSwitch>
                        </div>
                        <div class="p-col-9 p-sm-5" style="display: inline-block;vertical-align: middle;">
                            <input id="txt-{{lista.id}}" type="text" pInputText placeholder="{{lista.descricao}}"
                                value="" />
                        </div>
                    </div>
                    <div id="elemento" *ngIf="lista.IdCfgTipoPropriedade == 1" class="p-col-12">
                        <div class="p-col-3 p-md-1 p-sm-2" style="display: inline-block;vertical-align: middle;">
                            <p-inputSwitch id="chk-{{lista.id}}"></p-inputSwitch>
                        </div>
                        <div class="p-col-9 p-sm-5" style="display: inline-block;vertical-align: middle;">
                            <p-dropdown id="cbo-{{lista.id}}" [options]="lstOpcoes[lista.id]" placeholder="Selecione"
                                [showClear]="true"></p-dropdown>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <p-table #dt1 [value]="propriedades">
                <ng-template pTemplate="body" let-lista>
                    <div class="p-col-12 p-fluid p-formgrid p-lg-12 p-md-12 p-px-0">
                        <div class="p-text-bold" id="lbl-propriedade-{{lista.id}}">{{lista.descricao}}:</div>
                        <div id="elemento" *ngIf="lista.IdCfgTipoPropriedade == 0" class="p-col-12">
                            <div class="p-col-3 p-md-1 p-sm-2" style="display: inline-block;vertical-align: middle;">
                                <p-inputSwitch id="chk-{{lista.id}}"></p-inputSwitch>
                            </div>
                            <div class="p-col-9 p-sm-5" style="display: inline-block;vertical-align: middle;">
                                <input id="txt-{{lista.id}}" type="text" pInputText placeholder="{{lista.descricao}}"
                                    value="" />
                            </div>
                        </div>
                        <div id="elemento" *ngIf="lista.IdCfgTipoPropriedade == 1" class="p-col-12">
                            <div class="p-col-3 p-md-1 p-sm-2" style="display: inline-block;vertical-align: middle;">
                                <p-inputSwitch id="chk-{{lista.id}}"></p-inputSwitch>
                            </div>
                            <div class="p-col-9 p-sm-5" style="display: inline-block;vertical-align: middle;">
                                <p-dropdown id="cbo-{{lista.id}}" [options]="lstOpcoes[lista.id]"
                                    placeholder="Selecione" [showClear]="true"></p-dropdown>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-table> -->
        </div>
    </div>
</div>

<!-- PROPRIEDADES DO PRODUTO -->