<div class="p-grid">
    <div class="p-col-12">
        <div class="card">
            <form [formGroup]="form">
                <h4>Lista de Orçamentos {{nomeLista}}</h4>
                <div class="p-fluid p-formgrid p-grid p-col-12 p-mx-0 p-px-0 ">
                    <div class="p-col-12">
                        <div class="p-grid">
                            <div class="p-as-end p-col-4 p-field p-md-3 p-sm-3">
                                <label>Loja</label>
                                <p-multiSelect formControlName="loja" [options]="cboLojas" placeholder="Selecione"
                                    emptyFilterMessage="Nenhum item encontrado" [showHeader]="false" optionValue="Value"
                                    optionLabel="Value" [(ngModel)]="lojas"
                                    (onChange)="buscarCboParceiros();buscarCboVendedores()"
                                    emptyFilterMessage="Nenhum item encontrado"
                                    selectedItemsLabel="{0} itens selecionados">
                                </p-multiSelect>
                            </div>
                            <div *ngIf="permissaoUniversal" class="p-as-end p-col-8 p-field p-lg-3 p-md-3 p-sm-3">
                                <label>Vendedor</label>
                                <p-autoComplete [(ngModel)]="vendedor" formControlName="vendedor"
                                    [suggestions]="cboFiltradoVendedores" [forceSelection]="true" 
                                    (completeMethod)="filtrarVendedores($event)" field="Label" [dropdown]="true"
                                    (onSelect)="buscarCboParceiros()" (onClear)="buscarCboParceiros()">
                                    <ng-template let-vendedor pTemplate="item">
                                        <div class="vendedor-item">
                                            <div>{{vendedor.Label}}</div>
                                        </div>
                                    </ng-template>
                                </p-autoComplete>
                            </div>
                            <div class="p-as-end p-col-4 p-field p-lg-2 p-md-2 p-sm-2">
                                <label>Com Parceiro</label>
                                <p-dropdown formControlName="comParceiro" [options]="cboComParceiros" [showClear]="true"
                                    optionValue="Id" optionLabel="Value" [(ngModel)]="comParceiro" 
                                    placeholder="Selecione" (onChange)="verificarParceiro()">
                                </p-dropdown>
                            </div>
                            <div class="p-as-end p-col-8 p-field p-lg-3 p-md-3 p-sm-3">
                                <label>Parceiro</label>
                                <p-autoComplete [(ngModel)]="parceiro" formControlName="parceiro"
                                    [suggestions]="cboFiltradoParceiros" [forceSelection]="true" [disabled]="bloqueiaParceiro"
                                    (completeMethod)="filtrarParceiros($event)" field="Value" [dropdown]="true">
                                    <ng-template let-parceiro pTemplate="item">
                                        <div class="parceiro-item">
                                            <div>{{parceiro.Value}}</div>
                                        </div>
                                    </ng-template>
                                </p-autoComplete>
                            </div>
                        </div>
                        <div class="p-grid">
                            <div class="p-as-end p-col-12 p-field p-lg-3 p-md-3 p-sm-3">
                                <label>Fabricante</label>
                                <p-dropdown formControlName="fabricante" [options]="cboFabricantes"
                                    [(ngModel)]="fabricante" [showClear]="true" optionValue="Id" optionLabel="Value"
                                    placeholder="Selecione">
                                </p-dropdown>
                            </div>
                            <div class="p-as-end p-col-12 p-field p-lg-3 p-md-3 p-sm-3">
                                <label>Grupo</label>
                                <p-dropdown formControlName="grupo" [options]="cboGrupos" [showClear]="true"
                                    [(ngModel)]="grupo" optionValue="Id" optionLabel="Value" placeholder="Selecione">
                                </p-dropdown>
                            </div>
                            <div class="p-as-end p-col-6 p-field p-lg-3 p-md-3 p-sm-3">
                                <label for="dataInicio">Criação início</label>
                                <p-calendar dateFormat="dd/mm/yy" formControlName="dtCriacaoInicio" [showIcon]="true"
                                    [(ngModel)]="dtCriacaoInicio" [maxDate]="dataAtual">
                                </p-calendar>
                            </div>
                            <div class="p-as-end p-col-6 p-field p-lg-3 p-md-3 p-sm-3">
                                <label for="dataInicio">Criação fim</label>
                                <p-calendar dateFormat="dd/mm/yy" formControlName="dtCriacaoFim" [showIcon]="true"
                                    [(ngModel)]="dtCriacaoFim" showClear="true" 
                                    [minDate]="dtCriacaoInicio">
                                </p-calendar>
                            </div>
                            <div class="p-col-12 p-d-inline-flex p-jc-end p-pr-0">
                                <div class="">
                                    <button pButton pRipple label="Pesquisar" icon="pi pi-search"
                                        (click)="pesquisar()"></button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <p-table #dt1 [value]="consultaOrcamentoGerencialResponse" [responsive]="true" [customSort]="true"
                    responsiveLayout="stack" breakpoint="680px" [(first)]="first" autoLayout="true"
                    styleClass="p-datatable-customers p-datatable-striped" [rows]="qtdePorPaginaInicial"
                    [paginator]="true" [showCurrentPageReport]="mostrarQtdePorPagina" [rowsPerPageOptions]="[5,10,20]"
                    [totalRecords]="qtdeRegistros"
                    currentPageReportTemplate="Mostrando {last} itens no total {totalRecords}" [lazy]="true"
                    (onLazyLoad)="buscarRegistros($event)" [loading]="carregando">
                    <ng-template pTemplate="caption">
                        <div class="p-d-flex p-jc-end">
                            <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportXlsx()"
                                class="p-button-success p-mr-2" label="Exportar para XLS"
                                tooltipPosition="bottom"></button>
                            <button type="button" pButton pRipple icon="pi pi-file-o" (click)="exportarCSV()"
                                class="p-mr-2" label="Exportar para CSV" tooltipPosition="bottom"></button>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr class="font-size">
                            <th class="p-text-center p-py-1 p-px-2 p-lg-2 p-md-1 p-sm-2 p-text-nowrap" [pSortableColumn]="Orcamento">
                                Orçamento<p-sortIcon [field]="Orcamento" (click)="ordenar('orcamento')"></p-sortIcon>
                            </th>
                            <th class="p-text-center p-py-1 p-px-2 p-lg-1 p-md-3 p-sm-3 p-text-nowrap" [pSortableColumn]="Loja">
                                Loja<p-sortIcon [field]="Loja" (click)="ordenar('loja')"></p-sortIcon></th>
                            <th class="p-text-center p-py-1 p-px-2 p-lg-3 p-md-2 p-sm-2 p-text-nowrap" [pSortableColumn]="Vendedor">
                                Vendedor<p-sortIcon [field]="Vendedor" (click)="ordenar('vendedor')"></p-sortIcon></th>
                            <th class="p-text-center p-py-1 p-px-2 p-lg-3 p-md-3 p-sm-2 p-text-nowrap" [pSortableColumn]="Parceiro">
                                Parceiro<p-sortIcon [field]="Parceiro" (click)="ordenar('parceiro')"></p-sortIcon></th>
                            <th class="p-text-center p-py-1 p-px-2 p-lg-1 p-md-1 p-sm-1 p-text-nowrap" [pSortableColumn]="UF">
                                UF<p-sortIcon [field]="UF" (click)="ordenar('uf')"></p-sortIcon></th>
                            <th class="p-text-center p-py-1 p-px-2 p-lg-2 p-md-1 p-sm-1 p-text-nowrap" [pSortableColumn]="Criacao">
                                Criação<p-sortIcon [field]="Criacao" (click)="ordenar('criacao')"></p-sortIcon></th>
                            <th class="p-text-center p-py-0 p-px-2 p-lg-2 p-md-2 p-sm-1 p-text-nowrap" [pSortableColumn]="Expiracao">
                                Expiração<p-sortIcon [field]="Expiracao" (click)="ordenar('expiracao')"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-lista>
                        <tr class="p-selectable-row">
                            <td style="text-align: center">
                                <span (click)="visualizarOrcamento(lista.orcamento)"
                                    style="cursor:pointer; color:blue;text-decoration:underline">
                                    {{lista.orcamento}}
                                </span>
                            </td>
                            <td style="text-align: center">{{lista.loja}}</td>
                            <td style="text-align: center">{{lista.vendedor}}</td>
                            <td style="text-align: center">{{lista.parceiro}}</td>
                            <td style="text-align: center">{{lista.uf}}</td>
                            <td style="text-align: center">{{dataUtils.formata_data_DDMMYYY(lista.dataCriacao)}}</td>
                            <td style="text-align: center">{{dataUtils.formata_data_DDMMYYY(lista.dataExpiracao)}}</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage" let-columns>
                        <tr>
                            <td colspan="7" class="p-text-center">
                                Nenhum dado encontrado.
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </form>
        </div>
    </div>
</div>