<style>
    .hidden {
        display: none;
    }
</style>
<form [formGroup]="form">
    <div class="topbar clearfix">
        <div class="topbar-left p-text-center">
            <a routerLink="/dashboards">
                <img src="{{imagemLogotipo}}" class="topbar-logo" routerLink="/dashboards" />
            </a>
        </div>

        <div class="topbar-right" [style.backgroundColor]="corCabecalho" [style.backgroundImage]="'none !important'">
            <a id="menu-button" href="#" (click)="appMain.onMenuButtonClick($event)" class="p-shadow-10"
                [ngClass]="{'menu-button-rotate': appMain.rotateMenuButton}">
                <i class="pi pi-angle-left"></i>
            </a>

            <a id="topbar-menu-button" href="#" (click)="appMain.onTopbarMenuButtonClick($event)">
                <i class="pi pi-bars"></i>
            </a>

            <ul class="topbar-items fadeInDown" [ngClass]="{'topbar-items-visible': appMain.topbarMenuActive}">
                <li #profile class="profile-item" *ngIf="app.profileMode==='top'|| appMain.isHorizontal()"
                    [ngClass]="{'active-top-menu':appMain.activeTopbarItem === profile}">

                    <a href="#" (click)="appMain.onTopbarItemClick($event,profile)">
                        <img class="profile-image" src="assets/layout/images/avatar.png" />
                        <span class="topbar-item-name">Isabel Lopez</span>
                        <span class="topbar-item-role">Marketing</span>
                    </a>

                    <ul class="layout-menu" [ngClass]="{'fadeInDown':!appMain.isMobile()}">
                        <li role="menuitem">
                            <a href="#" (click)="appMain.onTopbarSubItemClick($event)">
                                <i class="pi pi-fw pi-user"></i>
                                <span>Profile</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#" (click)="appMain.onTopbarSubItemClick($event)">
                                <i class="pi pi-fw pi-lock"></i>
                                <span>Privacy</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#" (click)="appMain.onTopbarSubItemClick($event)">
                                <i class="pi pi-cog"></i>
                                <span>Settings</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#" (click)="appMain.onTopbarSubItemClick($event)">
                                <i class="pi pi-fw pi-sign-out"></i>
                                <span>Logout</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li #settings [ngClass]="{'active-top-menu':appMain.activeTopbarItem === settings}">
                    <a href="#" (click)="appMain.onTopbarItemClick($event,settings)">
                        <i class="topbar-icon pi pi-cog"></i>
                        <span class="topbar-item-name">Configurações</span>
                    </a>
                    <ul class="layout-menu" [ngClass]="{'fadeInDown':!appMain.isMobile()}">
                        <li role="menuitem" *ngIf="meuDados">
                            <a href="#" [routerLink]="['/usuarios/usuario-meusdados']">
                                <i class="pi pi-fw pi-user"></i>
                                <span>Meus dados</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#" [routerLink]="['/senha/senha-meusdados']">
                                <i class="pi pi-fw pi-lock"></i>
                                <span>Alterar Senha</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#" (click)="logoffClick()">
                                <i class="pi pi-fw pi-image"></i>
                                <span>Logoff</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <span style="vertical-align: middle;color:white">Olá, {{nomeUsuario}}</span>
                <li #notifications [ngClass]="{'active-top-menu':appMain.activeTopbarItem === notifications}">
                    <a href="#" (click)="appMain.onTopbarItemClick($event,notifications)">
                        <i class="topbar-icon pi pi-fw pi-bell"></i>
                        <span class="topbar-badge animated rubberBand">{{appTopBarService.qtdMensagem}}</span>
                        <span class="topbar-item-name" *ngIf="appTopBarService.qtdMensagem > 1">Notificações</span>
                        <span class="topbar-item-name" *ngIf="appTopBarService.qtdMensagem < 2">Notificação</span>
                    </a>
                    <ul class="layout-menu" [ngClass]="{'fadeInDown':!appMain.isMobile()}">
                        <li role="menuitem">
                            <a (click)="listarOrcamentos()">
                                <i class="pi pi-fw pi-sliders-h"></i>
                                <span>Mensagens não tratadas</span>
                            </a>
                        </li>
                        <li role="menuitem" *ngIf="!!appTopBarService.listaMensagemPendente.listaQtdeMensagemPendente && appTopBarService.listaMensagemPendente.listaQtdeMensagemPendente.length > 0 && qtdeLojasUsuarioLogado > 1" >
                            <a href="#" style="pointer-events: none;">
                                <!-- <i class="pi pi-fw pi-envelope"></i> -->
                                <span style="font-weight: 700;">Mensagens pendentes por lojas</span>
                                <hr style="margin-bottom: 0px; margin-top: 15px;">
                            </a>
                        </li>
                        <ng-container *ngIf="qtdeLojasUsuarioLogado > 1">
                            <li role="menuitem" *ngFor="let item of appTopBarService.listaMensagemPendente.listaQtdeMensagemPendente" >
                                <a href="#" style="pointer-events: none;">
                                    <i class="pi pi-fw pi-envelope"></i>
                                    <span *ngIf="item.qtde > 1">Loja: {{item.loja}} / Mensagens: {{item.qtde}}</span>
                                    <span *ngIf="item.qtde == 1">Loja: {{item.loja}} / Mensagem: {{item.qtde}}</span>
                                </a>
                            </li>
                        </ng-container>
                        
                    </ul>
                    <ul class="layout-menu" [ngClass]="{'fadeInDown':!appMain.isMobile()}" >
                        
                    </ul>
                </li>
                <li #search class="search-item" [ngClass]="{'active-top-menu':appMain.activeTopbarItem === search}"
                    (click)="appMain.onTopbarItemClick($event,search)">
                    <dropdown-arclube setId="cboLojas" titleInput="Loja" [inputItems]="lojas" setOptionsName="Value"
                        setOptionsValueName="Id" [setReset]="lojaLogada" (getItemSelected)="cboLojas_onChange($event)"
                        setShowLabel="false"
                        [ngClass]="{'hidden': this.form.controls.cboLojas.disabled}"></dropdown-arclube>
                </li>
            </ul>
        </div>
    </div>
</form>