<style>
    .hidden {display:none;}
</style>
<form [formGroup]="form">
    <div class="topbar clearfix">
        <div class="topbar-left p-text-center">
            <a routerLink="/dashboards">
                <img src="{{imagemLogotipo}}" class="topbar-logo" routerLink="/dashboards" />
            </a>
        </div>

        <div class="topbar-right" 
            [style.backgroundColor]="corCabecalho"
            [style.backgroundImage]="'none !important'"
            >
            <a id="menu-button" href="#" (click)="appMain.onMenuButtonClick($event)" class="p-shadow-10"
               [ngClass]="{'menu-button-rotate': appMain.rotateMenuButton}">
                <i class="pi pi-angle-left"></i>
           </a>

            <a id="topbar-menu-button" href="#" (click)="appMain.onTopbarMenuButtonClick($event)">
                <i class="pi pi-bars"></i>
            </a>

            <ul class="topbar-items fadeInDown" [ngClass]="{'topbar-items-visible': appMain.topbarMenuActive}">
                <li #profile class="profile-item" *ngIf="app.profileMode==='top'|| appMain.isHorizontal()"
                    [ngClass]="{'active-top-menu':appMain.activeTopbarItem === profile}">

                    <a href="#" (click)="appMain.onTopbarItemClick($event,profile)">
                        <img class="profile-image" src="assets/layout/images/avatar.png" />
                        <span class="topbar-item-name">Isabel Lopez</span>
                        <span class="topbar-item-role">Marketing</span>
                    </a>

                    <ul class="layout-menu" [ngClass]="{'fadeInDown':!appMain.isMobile()}">
                        <li role="menuitem">
                            <a href="#" (click)="appMain.onTopbarSubItemClick($event)">
                                <i class="pi pi-fw pi-user"></i>
                                <span>Profile</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#" (click)="appMain.onTopbarSubItemClick($event)">
                                <i class="pi pi-fw pi-lock"></i>
                                <span>Privacy</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#" (click)="appMain.onTopbarSubItemClick($event)">
                                <i class="pi pi-cog"></i>
                                <span>Settings</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#" (click)="appMain.onTopbarSubItemClick($event)">
                                <i class="pi pi-fw pi-sign-out"></i>
                                <span>Logout</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li #settings [ngClass]="{'active-top-menu':appMain.activeTopbarItem === settings}">
                    <a href="#" (click)="appMain.onTopbarItemClick($event,settings)">
                        <i class="topbar-icon pi pi-cog"></i>
                        <span class="topbar-item-name">Configurações</span>
                    </a>
                    <ul class="layout-menu" [ngClass]="{'fadeInDown':!appMain.isMobile()}">
                        <!--
                        <li role="menuitem">
                            <a href="#" (click)="appMain.onTopbarSubItemClick($event)">
                                <i class="pi pi-fw pi-palette"></i>
                                <span>Change Theme</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#" (click)="appMain.onTopbarSubItemClick($event)">
                                <i class="pi pi-fw pi-star-o"></i>
                                <span>Favorites</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#" (click)="appMain.onTopbarSubItemClick($event)">
                                <i class="pi pi-fw pi-lock"></i>
                                <span>Lock Screen</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#" (click)="appMain.onTopbarSubItemClick($event)">
                                <i class="pi pi-fw pi-image"></i>
                                <span>Wallpaper</span>
                            </a>
                        </li>
                        -->
                        <li role="menuitem" *ngIf="meuDados">
                            <a href="#" [routerLink]="['/usuarios/usuario-meusdados']" >
                                <i class="pi pi-fw pi-user"></i>
                                <span>Meus dados</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#" [routerLink]="['/senha/senha-meusdados']" >
                                <i class="pi pi-fw pi-lock"></i>
                                <span>Alterar Senha</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#" (click)="logoffClick()">
                                <i class="pi pi-fw pi-image"></i>
                                <span>Logoff</span>
                            </a>
                        </li>
                    </ul>
                </li>
<!--
                <li #messages [ngClass]="{'active-top-menu':appMain.activeTopbarItem === messages}">
                    <a href="#" (click)="appMain.onTopbarItemClick($event,messages)">
                        <i class="topbar-icon animated swing pi pi-fw pi-envelope"></i>
                        <span class="topbar-badge animated rubberBand">5</span>
                        <span class="topbar-item-name">Messages</span>
                    </a>
                    <ul class="layout-menu" [ngClass]="{'fadeInDown':!appMain.isMobile()}">
                        <li role="menuitem">
                            <a href="#" class="topbar-message" (click)="appMain.onTopbarSubItemClick($event)">
                                <img src="assets/layout/images/avatar1.png" width="35"/>
                                <span>Give me a call</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#" class="topbar-message" (click)="appMain.onTopbarSubItemClick($event)">
                                <img src="assets/layout/images/avatar2.png" width="35"/>
                                <span>Sales reports attached</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#" class="topbar-message" (click)="appMain.onTopbarSubItemClick($event)">
                                <img src="assets/layout/images/avatar3.png" width="35"/>
                                <span>About your invoice</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#" class="topbar-message" (click)="appMain.onTopbarSubItemClick($event)">
                                <img src="assets/layout/images/avatar2.png" width="35"/>
                                <span>Meeting today at 10pm</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#" class="topbar-message" (click)="appMain.onTopbarSubItemClick($event)">
                                <img src="assets/layout/images/avatar4.png" width="35"/>
                                <span>Out of office</span>
                            </a>
                        </li>
                    </ul>
                </li> -->
                
                <span style="vertical-align: middle;color:white">Olá, {{nomeUsuario}}</span>
                <li #notifications [ngClass]="{'active-top-menu':appMain.activeTopbarItem === notifications}">
                    <a href="#" (click)="appMain.onTopbarItemClick($event,notifications)">
                        <i class="topbar-icon pi pi-fw pi-bell"></i>
                        <span class="topbar-badge animated rubberBand">{{qtdMensagem}}</span>
                        <span class="topbar-item-name" *ngIf="qtdMensagem > 1">Notificações</span>
                        <span class="topbar-item-name" *ngIf="qtdMensagem < 2">Notificação</span>
                    </a>
                    
                    <ul class="layout-menu" [ngClass]="{'fadeInDown':!appMain.isMobile()}" *ngIf="qtdMensagem>0">
                        <li role="menuitem">
                            <a href="#/orcamentos/listar/msgPendentes">
                                <i class="pi pi-fw pi-sliders-h"></i>
                                <span>Mensagens não tratadas</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li #search class="search-item" [ngClass]="{'active-top-menu':appMain.activeTopbarItem === search}"
                    (click)="appMain.onTopbarItemClick($event,search)">
                    <dropdown-arclube
                    setId="cboLojas"
                    titleInput="Loja"
                    [inputItems]="lojas"
                    setOptionsName="Value"
                    setOptionsValueName="Id"
                    [setReset]="lojaLogada"
                    (getItemSelected)="cboLojas_onChange($event)"
                    setShowLabel="false"      
                    [ngClass]="{'hidden': this.form.controls.cboLojas.disabled}"          
                ></dropdown-arclube>
                </li>
            </ul>
        </div>
    </div>
</form>