<form [formGroup]="form">
    <div class="card" [ngClass]="{'carregando': carregando}">
        <div class="p-p-0 p-col-12 p-d-inline-flex p-jc-between">
            <h4>Informações do orçamento</h4>
            <div *ngIf="habilitarClone">
                <button pButton pRipple label="Clonar" icon="pi pi-fw pi-copy" (click)="copiarDados()"></button>
            </div>
        </div>


        <div class="p-fluid p-formgrid p-grid p-col-12 p-mx-0 p-px-0 p-pt-0">
            <div class="p-field p-col-12 p-lg-6 p-md-6 p-sm-6">
                <label for="nome">Nome do cliente</label>
                <input #nome id="nome" type="text" pInputText formControlName="Nome" />
                <div *ngIf="validacaoFormularioService.verificaCampo(form,'Nome')">
                    <small class="p-error" *ngIf="form.controls.Nome.errors?.required">{{mensagemErro}}</small>
                    <small class="p-error" *ngIf="form.controls.Nome.errors?.maxlength">Quantidade de caracteres
                        excede a o limite de {{form.controls.nome.errors.maxlength.requiredLength}}</small>
                </div>
            </div>
            <div class="p-field p-col-12 p-lg-6 p-md-6 p-sm-6">
                <label for="nomeObra">Nome da obra</label>
                <input id="nomeObra" type="text" pInputText formControlName="NomeObra" />
            </div>
        </div>
        <div class="p-fluid p-formgrid p-grid p-col-12 p-mx-0 p-px-0 p-pt-0">
            <div class="p-field p-col-12 p-lg-6 p-md-6 p-sm-6">
                <label for="email">E-mail do cliente</label>
                <input id="email" type="text" pInputText placeholder="" formControlName="Email" />
                <div *ngIf="validacaoFormularioService.verificaCampo(form,'Email')">
                    <small class="p-error" *ngIf="form.controls.Email.errors?.required">{{mensagemErro}}</small>
                    <small class="p-error" *ngIf="form.controls.Email.errors?.pattern">Endereço de e-mail
                        inválido!</small>
                    <small class="p-error" *ngIf="form.controls.Email.errors?.maxlength">Quantidade de
                        caracteres
                        excede a o limite de {{form.controls.Email.errors.maxlength.requiredLength}}</small>
                </div>
            </div>
            <div class="p-field p-col-12 p-lg-3 p-md-3 p-sm-3">
                <label for="telefone">Telefone</label>
                <input id="telefone" type="text" pInputText placeholder="" mask="{{mascaraTelefone}}"
                    placeholder="(00) 0000-0000" formControlName="Telefone" />
                <div *ngIf="validacaoFormularioService.verificaCampo(form,'Telefone')">
                    <small class="p-error" *ngIf="form.controls.Telefone.errors?.required">
                        {{mensagemErro}}
                    </small>
                    <small class="p-error" *ngIf="form.controls.Telefone.errors?.minlength">
                        Telefone inválido!
                    </small>
                </div>
            </div>
            <div class="p-field-checkbox p-col-12 p-lg-3 p-md-3 p-sm-3 p-inputgroup p-pt-0">
                <p-checkbox inputId="concorda" formControlName="Concorda" [binary]="true"></p-checkbox>
                <label for="concorda">
                    Cliente autoriza contato via WhatsApp
                </label>
            </div>

        </div>
        <div class="p-fluid p-formgrid p-grid p-col-12 p-mx-0 p-px-0 p-pt-0">
            <div class="p-field p-col-12 p-lg-4 p-md-4 p-sm-4">
                <label for="estado">UF (entrega)</label>
                <p-dropdown id="uf" [options]="lstEstado" placeholder="Selecione" formControlName="Uf">
                </p-dropdown>
                <small class="p-error"
                    *ngIf="validacaoFormularioService.verificaCampo(form,'Uf')">{{mensagemErro}}</small>
            </div>
            <div class="p-field p-col-12 p-lg-4 p-md-4 p-sm-4">
                <label for="tipo">Tipo</label>
                <p-dropdown id="tipo" [options]="lstTipo" placeholder="Selecione" formControlName="Tipo"
                    (onChange)="validarContribuinteICMS()">
                </p-dropdown>
                <small class="p-error"
                    *ngIf="validacaoFormularioService.verificaCampo(form,'Tipo')">{{mensagemErro}}</small>
            </div>

            <div *ngIf="form.controls.Tipo.value == constantes.ID_PJ" class="p-field p-col-12 p-lg-4 p-md-4 p-sm-4">
                <label for="contribuinte">Contribuinte ICMS</label>
                <p-dropdown id="contribuinte" [options]="lstContribuinteICMS" placeholder="Selecione"
                    formControlName="ContribuinteICMS" optionLabel="label" optionValue="value">
                </p-dropdown>
                <small class="p-error" *ngIf="!validarContribuinteICMS()">{{mensagemErro}}</small>
            </div>

            <div *ngIf="tipoUsuario == constantes.GESTOR" class="p-field p-col-12 p-lg-4 p-md-4 p-sm-4">
                <label for="vendedor">Vendedor</label>
                <p-dropdown id="vendedor" [options]="lstVendedores" placeholder="Selecione" formControlName="Vendedor"
                    (onChange)="buscarParceirosPorVendedor()" [showClear]="true">
                </p-dropdown>
                <small class="p-error"
                    *ngIf="validacaoFormularioService.verificaCampo(form,'Vendedor')">{{mensagemErro}}</small>
            </div>
            <div *ngIf="tipoUsuario == constantes.GESTOR || tipoUsuario == constantes.VENDEDOR_UNIS"
                class="p-field p-col-12 p-lg-4 p-md-4 p-sm-4">
                <label for="parceiro">Parceiro</label>
                <p-dropdown id="parceiro" [options]="lstParceiro" placeholder="Selecione" formControlName="Parceiro"
                    (onChange)="buscarVendedoresDoParceiro()">
                </p-dropdown>
                <small class="p-error"
                    *ngIf="validacaoFormularioService.verificaCampo(form,'Parceiro')">{{mensagemErro}}</small>
            </div>
            <div></div>
            <div *ngIf="lstVendedoresParceiros.length > 0" class="p-field p-col-12 p-lg-4 p-md-4 p-sm-4">
                <label for="vendedorParceiro">Vendedor do parceiro</label>
                <p-dropdown id="vendedorParceiro" [options]="lstVendedoresParceiros" placeholder="Selecione"
                    [showClear]="true" formControlName="VendedorParceiro">
                </p-dropdown>
            </div>
            <div *ngIf="mostrarInstaladorInstala" class="p-field p-col-12 p-lg-4 p-md-4 p-sm-4">
                <label for="instaladorInstala">Instalador instala</label>
                <p-dropdown id="instaladorInstala" [options]="lstInstaladorInstala" placeholder="Selecione"
                    [showClear]="true" formControlName="instaladorInstala">
                </p-dropdown>
                <div class="p-text-truncate" *ngIf="validacaoFormularioService.verificaCampo(form,'instaladorInstala')">
                    <small class="p-error" *ngIf="form.controls.instaladorInstala.errors?.required">
                        {{mensagemErro}}
                    </small>
                    <small class="p-error"
                        *ngIf="form.controls.instaladorInstala.errors?.max || form.controls.instaladorInstala.errors?.min">
                        {{mensagemErro}}
                    </small>
                </div>
            </div>
        </div>

        <div class="p-fluid p-formgrid p-grid p-col-12 p-mx-0 p-px-0 p-pt-0">
            <div class="p-field p-col-12 p-lg-4 p-md-4 p-sm-4">
                <label for="validade">Validade</label>
                <p-calendar dateFormat="dd/mm/yy" formControlName="Validade" [showIcon]="true"></p-calendar>
                <small class="p-error"
                    *ngIf="validacaoFormularioService.verificaCampo(form,'Validade')">{{mensagemErro}}</small>
            </div>
            <div class="p-field p-col-6 p-lg-2 p-md-2 p-sm-3 p-py-0">
                <label class="p-d-block" for="entregaImediata">Entrega Imediata</label>
                <p-inputSwitch id="entregaImediata" formControlName="EntregaImediata"
                    (onChange)="entregaImediataOnChange()"></p-inputSwitch>
            </div>
            <div class="p-field p-col-6 p-lg-4 p-md-4 p-sm-4">
                <label for="dataEntregaImediata">Data Entrega</label>
                <p-calendar dateFormat="dd/mm/yy" formControlName="DataEntregaImediata" [showIcon]="true"
                    [readonlyInput]="true" [disabled]="form.controls.EntregaImediata.value != false"
                    [minDate]="minDataEntrega" [maxDate]="maxDataEntrega"></p-calendar>
                <small class="p-error" *ngIf="!ValidaDataEntrega()">Informe a data para entrega</small>
            </div>
        </div>

        <div class="p-fluid p-formgrid p-grid p-col-12 p-mx-0 p-px-0 p-pt-0">
            <div class="p-col-12 p-lg-8 p-md-8 p-sm-8">
                <label>Observações gerais</label>
                <textarea pInputTextarea placeholder="Observações gerais" maxlength="399" formControlName="ObservacoesGerais"></textarea>
            </div>
        </div>

        <!-- <div *ngIf="filtro == 'novo' || filtro == 'iniciar'" class="p-d-flex p-jc-center">
            <button pButton pRipple label="Salvar" icon="pi pi-arrow-right" (click)="salvarOrcamento()"></button>
        </div> -->
        <div class="p-d-flex p-jc-around">
            <div *ngIf="habilitarVoltar">
                <button pButton pRipple label="Voltar" icon="pi pi-arrow-left" (click)="voltar()"></button>
            </div>
            <div *ngIf="filtro == undefined">
                <button pButton pRipple label="Atualizar" icon="pi pi-save"
                    (click)="atualizarDadosCadastrais()"></button>
            </div>
            <div *ngIf="filtro == 'novo' || filtro == 'iniciar' || filtro == 'clone'">
                <button pButton pRipple label="Salvar" icon="pi pi-arrow-right" (click)="salvarOrcamento()"></button>
            </div>
        </div>

    </div>
</form>