<div [ngClass]="{'carregando': carregando}">
    <div class="p-grid p-jc-center">
        <div class="p-col-12 p-pb-0 p-order-1">
            <div class="card p-p-0 p-p-lg-3 p-p-md-3 p-p-sm-3 corpo">
                <div class="p-p-0 p-col-12 p-d-inline-flex p-jc-between">
                    <h4>Buscar cliente</h4>
                    <div class="p-as-end p-col-2 p-field p-text-right">
                        <button pButton type="button" label="voltar" icon="pi pi-fw pi-arrow-left"
                            (click)="voltar()"></button>
                    </div>
                </div>
                <div class="p-fluid p-formgrid p-grid p-col-12 p-mx-0 p-px-0 p-pt-0">
                    <div class="p-field p-col-12 p-lg-3 p-md-4 p-sm-4">
                        <label for="cpfCnpj">Digite o {{labelTipoCliente}}</label>
                        <p-inputMask [(ngModel)]="cpfCnpj" mask="{{mascaraCPFCNPJ}}">
                        </p-inputMask>
                    </div>
                    <div class="p-as-end p-col-2 p-field">
                        <button pButton type="button" label="Buscar" icon="pi pi-search"
                            (click)="buscarCliente()"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>