<div class="p-grid" [ngClass]="{'carregando':carregando}">
    <div class="p-col-12">
        <div class="card">
            <h4>Usuários
                &nbsp;<button pButton *ngIf="permite" style="align-content: flex-end;" icon="fa fa-plus" (click)="editarUsuario()"
                    pTooltip="Novo usuário"></button>
            </h4>
            <div class="p-fluid">
                <div class="p-field p-col-12 p-lg-6 p-md-6 p-sm-6">
                    <label for="texto">Pesquisar por</label>
                    <input id="texto" type="text" pInputText [(ngModel)]="pesquisa" (change)="pesquisar()"
                        (keyup)="pesquisar()" placeholder="Parceiro, nome, e-mail, responsável, ativo" />
                </div>
            </div>
            
            <p-table #dt1 [value]="usuarios" [responsive]="false" responsiveLayout="stack"
                [ngClass]="{'carregando': carregando}" breakpoint="680px" autoLayout="true" [(first)]="first"
                styleClass="p-datatable-customers p-datatable-striped" [rows]="10" [paginator]="true" [filterDelay]="0">
                <ng-template pTemplate="header">
                    <tr class="font-size">
                        <th>Parceiro</th>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Responsável</th>
                        <th>Ativo</th>
                        <th class="p-text-center">Ações</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-lista>
                    <tr class="p-selectable-row">
                        <td>{{lista.parceiro}}</td>
                        <td>{{lista.nome}}</td>
                        <td>{{lista.email}}</td>
                        <td>{{lista.vendedorResponsavel}}</td>
                        <td>{{lista.ativoLabel}}</td>
                        <td class="p-text-center">
                            <button pButton style="align-content: flex-end;" icon="fa fa-edit"
                                (click)="editarUsuario(lista)" pTooltip="Editar"></button>&nbsp;
                            <button *ngIf="permite" pButton style="align-content: flex-end;" icon="fa fa-trash"
                                (click)="excluirClick(lista)" pTooltip="Excluir"></button>&nbsp;
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                        <td colspan="7" class="p-text-center">
                            Nenhum dado encontrado.
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>