<div class="p-grid">
    <div class="p-col-12">
        <div class="card">
            <h4>Edição da Propriedade</h4>
        </div>
    </div>
</div>

<div class="p-grid">
    <div class="p-col-12">
        <div class="card">
            <form [formGroup]="form">
                <div class="p-d-lg-flex p-d-md-flex">
                    <div class="p-fluid p-formgrid p-col-12 p-lg-7 p-md-7 p-mx-0 p-px-0">

                        <div class="p-text-bold">Descrição:</div>
                        <div class="p-field p-col-12">
                            <input id="descricao" type="text" pInputText placeholder="Descrição" formControlName="descricao" #descricao/>
                            <small class="p-error" *ngIf="validacaoFormularioService.verificaCampo(form,'descricao')">{{mensagemErro}}</small>
                        </div>
                        <div class="p-field p-col-12">
                            <label class="p-d-block" for="ativo">Ativo</label>
                            <p-inputSwitch id="ativo" formControlName="ativo" #ativo  [(ngModel)]="boolAtivo"></p-inputSwitch>
                        </div>

                        </div>
                    </div>

                <button pButton type="button" label="Voltar" icon="fa fa-reply" (click)="voltarClick()"></button>&nbsp;
                <button pButton type="button" label="Salvar" icon="fa fa-save" (click)="salvarClick()"></button>

            </form>

        </div>
    </div>
</div>
