<div *ngIf="calculado" class="p-grid" id="pdf">
    <div class="p-col-12 p-pb-0">
        <div class="card">
            <h4 class="p-my-0">Calculadora VRF</h4>
        </div>

        <div class="card">
            <div class="p-fluid p-formgrid p-grid p-col-12 p-mx-0 p-px-0">
                <div class="p-grid">
                    <div class="p-field p-col-12 p-lg-4 p-md-4 p-sm-4 p-as-end p-d-inline-flex">
                        <span class="p-text-bold p-pr-1">Nome: </span>
                        <p>{{nomeCliente}}</p>
                    </div>
                    <div class="p-field p-col-12 p-lg-4 p-md-4 p-sm-4 p-as-end p-d-inline-flex">
                        <span class="p-text-bold p-pr-1">Obra: </span>
                        <p>{{nomeObra}}</p>
                    </div>
                    <div class="p-field p-col-12 p-lg-4 p-md-4 p-sm-4 p-as-end p-d-inline-flex">
                        <span class="p-text-bold p-pr-1">E-mail: </span>
                        <p>{{email}}</p>
                    </div>
                    <div class="p-field p-col-12 p-lg-4 p-md-4 p-sm-4 p-as-end p-d-inline-flex">
                        <span class="p-text-bold p-pr-1">Telefone: </span>
                        <p>{{stringUtils.formataTextoTelefone(telefone)}}</p>
                    </div>
                    <div class="p-field p-col-12 p-lg-4 p-md-4 p-sm-4 p-as-end p-d-inline-flex">
                        <span class="p-text-bold p-pr-1">Observações / Previsão de instalação: </span>
                        <p>{{observacao}}</p>
                    </div>
                </div>
            </div>

            <div *ngIf="calculado">
                <div *ngIf="evaporadorasSelecionadas.length > 0"
                    class="p-fluid p-formgrid p-grid p-col-12 p-mx-0 p-px-0">
                    <div class="p-col-12 p-px-0 p-my-2">
                        <p-table #dt1 [value]="evaporadorasSelecionadas" [responsive]="true" responsiveLayout="stack"
                            [ngClass]="{'carregando': carregando}"
                            styleClass="p-datatable-customers p-datatable-striped" [rows]="10" [filterDelay]="0">
                            <ng-template pTemplate="header" let-p>
                                <tr>
                                    <th class="p-text-left p-col-5 p-py-0">Produto</th>
                                    <th class="p-text-right p-py-0 p-col-1">Qtde</th>
                                    <th class="p-text-center p-py-0 p-col-3">Capacidade(Kcal/h)</th>
                                    <th class="p-text-center p-py-0 p-col-2">Total Kcal/h</th>
                                    <th class="p-text-right p-py-0 p-col-1">Ações</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-p let-index="rowIndex">
                                <tr class="" [pSelectableRow]="p">
                                    <td class="p-text-left p-d-inline-flex p-pl-2">
                                        <p class="p-ml-2"
                                            [innerHtml]="stringUtils.formatarDescricao(p.fabricante, '', p.produto, p.descricao)">
                                        </p>
                                    </td>
                                    <td class="p-py-0">
                                        <input class="p-text-right" id="qtde" type="number" pInputText placeholder=""
                                            [value]="p.qtde" [(ngModel)]="p.qtde" (change)="digitouQte(p)" />
                                    </td>
                                    <td class="p-text-center p-py-0">{{p.kcal}}</td>
                                    <td class="p-text-center p-py-0">
                                        {{moedaUtils.formatarParaFloatUmaCasaReturnZero(p.kcal
                                        * p.qtde)}}</td>
                                    <td class="p-text-right p-py-0">
                                        <div class="p-text-center">
                                            <i class="pi pi-trash" style="color: red" (click)="removerItem(index)"></i>
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="footer" class="font-size">
                                <tr class="font-size">
                                    <td colspan="3" class="p-text-right">Total</td>
                                    <td class="p-text-center">
                                        {{moedaUtils.formatarParaFloatUmaCasaReturnZero(totalKcalEvaporadoras)}}
                                    </td>
                                    <td></td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>

                <div class="p-fluid p-formgrid p-grid p-col-12 p-mx-0 p-px-0">
                    <p-table #dataTable [value]="combinacaoCom1aparelhos" [responsive]="true" responsiveLayout="stack"
                        autoLayout="true" styleClass="p-datatable-customers p-datatable-sm" [rows]="10"
                        [filterDelay]="0">
                        <ng-template pTemplate="header">
                            <tr class="font-size">
                                <th class="">Produto</th>
                                <th class="p-text-center">Qtde</th>
                                <th class="p-text-center">Capacidade(Kcal/h)</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-p>
                            <tr class="font-size">
                                <td>
                                    <p class="p-ml-2"
                                        [innerHtml]="stringUtils.formatarDescricao(p.fabricante, '', p.produto, p.descricao)">
                                    </p>
                                </td>
                                <td class="p-text-center">
                                    {{p.qtde}}
                                </td>
                                <td class="p-text-center">
                                    {{moedaUtils.formatarParaFloatUmaCasaReturnZero(p.kcal)}}
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="footer" class="font-size">
                            <tr class="font-size">
                                <td></td>
                                <td class="p-text-right">Total</td>
                                <td class="p-text-center">
                                    {{moedaUtils.formatarParaFloatUmaCasaReturnZero(somarTotalCondensadoras(combinacaoCom1aparelhos))}}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <div class="p-fluid p-formgrid p-grid p-col-12 p-mx-0 p-px-0">
                    <p-table #dataTable [value]="combinacaoCom2aparelhos" [responsive]="true" responsiveLayout="stack"
                        autoLayout="true" styleClass="p-datatable-customers p-datatable-sm" [rows]="10"
                        [filterDelay]="0">
                        <ng-template pTemplate="header">
                            <tr class="font-size">
                                <th class="">Produto</th>
                                <th class="p-text-center">Qtde</th>
                                <th class="p-text-center">Capacidade(Kcal/h)</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-p>
                            <tr class="font-size">
                                <td>
                                    <p class="p-ml-2"
                                        [innerHtml]="stringUtils.formatarDescricao(p.fabricante, '', p.produto, p.descricao)">
                                    </p>
                                </td>
                                <td class="p-text-center">
                                    {{p.qtde}}
                                </td>
                                <td class="p-text-center">
                                    {{moedaUtils.formatarParaFloatUmaCasaReturnZero(p.kcal)}}
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="footer" class="font-size">
                            <tr class="font-size">
                                <td></td>
                                <td class="p-text-right">Total</td>
                                <td class="p-text-center">
                                    {{moedaUtils.formatarParaFloatUmaCasaReturnZero(somarTotalCondensadoras(combinacaoCom2aparelhos))}}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <div class="p-fluid p-formgrid p-grid p-col-12 p-mx-0 p-px-0">
                    <p-table id="dataTable3" [value]="combinacaoCom3aparelhos" [responsive]="true"
                        responsiveLayout="stack" autoLayout="true" styleClass="p-datatable-customers p-datatable-sm"
                        [rows]="10" [filterDelay]="0">
                        <ng-template pTemplate="header">
                            <tr class="font-size">
                                <th class="">Produto</th>
                                <th class="p-text-center">Qtde</th>
                                <th class="p-text-center">Capacidade(Kcal/h)</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-p>
                            <tr class="font-size">
                                <td>
                                    <p class="p-ml-2"
                                        [innerHtml]="stringUtils.formatarDescricao(p.fabricante, '', p.produto, p.descricao)">
                                    </p>
                                </td>
                                <td class="p-text-center">
                                    {{p.qtde}}
                                </td>
                                <td class="p-text-center">
                                    {{moedaUtils.formatarParaFloatUmaCasaReturnZero(p.kcal)}}
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="footer" class="font-size">
                            <tr class="font-size">
                                <td></td>
                                <td class="p-text-right">Total</td>
                                <td class="p-text-center">
                                    {{moedaUtils.formatarParaFloatUmaCasaReturnZero(somarTotalCondensadoras(combinacaoCom3aparelhos))}}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>