<div class="card p-col-12 p-lg-8 p-md-8 p-sm-10 p-px-3">
    <div class="p-py-3">
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field-checkbox">
                <label>Endereço de entrega</label>
            </div>
            <div class="p-col-12">
                <p-radioButton [inputId]="1" [value]="false" label="O mesmo endereço do cadastro"
                    [(ngModel)]="enderecoEntregaDtoClienteCadastro.OutroEndereco">
                </p-radioButton>
                &nbsp;
                <p-radioButton [inputId]="2" [value]="true" label="Outro endereço"
                    [(ngModel)]="enderecoEntregaDtoClienteCadastro.OutroEndereco"></p-radioButton>
            </div>
        </div>
    </div>

    <div *ngIf="enderecoEntregaDtoClienteCadastro"
        [ngClass]="{'desab':!enderecoEntregaDtoClienteCadastro.OutroEndereco}">
        <!-- Justificativa endereço de entrega aqui -->
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12 p-col-12 p-field p-lg-6 p-md-7 p-sm-9">
                <label for="justifique">Justifique o endereço</label>
                <p-dropdown id="justifique" [autoDisplayFirst]="false" [options]="listaOutroEndereco"
                    optionValue="EndEtg_cod_justificativa" optionLabel="EndEtg_descricao_justificativa"></p-dropdown>
            </div>
        </div>

        <div class="p-fluid p-formgrid p-grid" *ngIf="!tipoPf">
            <div class="p-field p-col-12">
                <p-radioButton [inputId]="3" [value]="true" [(ngModel)]="pessoaEntregaEhPF" label="Pessoa Física"
                    (click)="PJ()">
                </p-radioButton>
                &nbsp;
                <p-radioButton [inputId]="4" [value]="false" [(ngModel)]="pessoaEntregaEhPF" label="Pessoa Jurídica"
                    (click)="PF()">
                </p-radioButton>
            </div>
            <div class="p-col-12">
                <div *ngIf="pessoaEntregaEhPF" class="p-field p-col-12 p-as-end p-p-0">
                    <label for="nomeEndEntrega">Nome</label>
                    <input id="nomeEndEntrega" type="text" [(ngModel)]="enderecoEntregaDtoClienteCadastro.EndEtg_nome"
                        pInputText maxlength="60">
                </div>
                <div *ngIf="!pessoaEntregaEhPF" class="p-field p-col-12 p-as-end p-p-0">
                    <label for="razaoSocialEndEntrega">Razão Social</label>
                    <input id="razaoSocialEndEntrega" type="text"
                        [(ngModel)]="enderecoEntregaDtoClienteCadastro.EndEtg_nome" pInputText maxlength="60">
                </div>
            </div>
            <!-- CPF | CNPJ  -->
            <div class="p-grid p-col-12">
                <div *ngIf="pessoaEntregaEhPF" class="p-field p-col-12 p-lg-6 p-md-6 p-sm-6 p-as-end">
                    <label for="cpfEndEntrega">CPF</label>
                    <input id="cpfEndEntrega" type="text"
                        [(ngModel)]="enderecoEntregaDtoClienteCadastro.EndEtg_cnpj_cpf" pInputText maxlength="15"
                        mask="{{mascaraCPF}}">
                </div>
                <div *ngIf="!pessoaEntregaEhPF" class="p-field p-col-12 p-lg-6 p-md-6 p-sm-6 p-as-end">
                    <label for="cnpjEndEntrega">CNPJ</label>
                    <input id="cnpjEndEntrega" type="text" mask="{{mascaraCNPJ}}"
                        [(ngModel)]="enderecoEntregaDtoClienteCadastro.EndEtg_cnpj_cpf" pInputText maxlength="19">
                </div>
            </div>
            <!-- telefones PF -->
            <div class="p-grid p-col-12" *ngIf="pessoaEntregaEhPF">
                <div class="p-field p-col-6 p-lg-3 p-md-3 p-sm-6 p-as-end">
                    <label for="foneResidencialEndEntrega">Fone Residencial</label>
                    <input id="foneResidencialEndEntrega" type="text" maxlength="16"
                        [(ngModel)]="enderecoEntregaDtoClienteCadastro.EndEtg_tel_res" pInputText
                        mask="{{mascaraTelefone}}">
                </div>
                <div class="p-field p-col-6 p-lg-3 p-md-3 p-sm-6 p-as-end">
                    <label for="celularEndEntrega">Celular</label>
                    <input id="celularEndEntrega" type="text"
                        [(ngModel)]="enderecoEntregaDtoClienteCadastro.EndEtg_tel_cel" pInputText
                        mask="{{mascaraTelefone}}" maxlength="16">
                </div>
            </div>
            <!-- telefones PJ -->
            <div class="p-col-12 p-d-inline-flex p-fluid p-grid" *ngIf="!pessoaEntregaEhPF">
                <div class="p-as-end p-col-6 p-field p-lg-3 p-md-3 p-sm-6 p-py-0">
                    <label for="fone1EndEntrega">Telefone 1</label>
                    <input id="fone1EndEntrega" type="text"
                        [(ngModel)]="enderecoEntregaDtoClienteCadastro.EndEtg_tel_com" pInputText
                        mask="{{mascaraTelefone}}" maxlength="16">
                </div>
                <div class="p-as-end p-col-6 p-field p-lg-2 p-md-2 p-py-0 p-sm-3">
                    <label for="ramal1EndEntrega">Ramal</label>
                    <input id="ramal1EndEntrega" type="text" pInputText maxlength="4"
                        [(ngModel)]="enderecoEntregaDtoClienteCadastro.EndEtg_ramal_com">
                </div>
                <div class="p-as-end p-col-6 p-field p-lg-3 p-md-3 p-sm-6 p-py-0">
                    <label for="fone2EndEntrega">Telefone 2</label>
                    <input id="fone2EndEntrega" type="text"
                        [(ngModel)]="enderecoEntregaDtoClienteCadastro.EndEtg_tel_com_2" pInputText
                        mask="{{mascaraTelefone}}" maxlength="16">
                </div>
                <div class="p-as-end p-col-6 p-field p-lg-2 p-md-2 p-py-0 p-sm-3">
                    <label for="ramal2EndEntrega">Ramal</label>
                    <input id="ramal2EndEntrega" type="text" pInputText maxlength="4"
                        [(ngModel)]="enderecoEntregaDtoClienteCadastro.EndEtg_ramal_com_2">
                </div>
            </div>
            <!-- PF => Produtor Rural | Contribuinte ICMS | IE -->
            <div class="p-grid p-col-12" *ngIf="pessoaEntregaEhPF">
                <div class="p-field p-col-4 p-as-end p-py-0">
                    <label for="produtorRuralEndEntrega">Produtor Rural</label>
                    <p-dropdown id="produtorRuralEndEntrega" [showClear]="true" [autoDisplayFirst]="false"
                        [(ngModel)]="enderecoEntregaDtoClienteCadastro.EndEtg_produtor_rural_status"
                        [options]="listaProdutorRural" optionValue="value" optionLabel="label"></p-dropdown>
                </div>

                <div class="p-field p-col-4 p-as-end p-py-0"
                    *ngIf="enderecoEntregaDtoClienteCadastro.EndEtg_produtor_rural_status == constantes.COD_ST_CLIENTE_PRODUTOR_RURAL_SIM">
                    <label for="contribuinteEndEntrega">Contribuinte ICMS</label>
                    <p-dropdown id="contribuinteEndEntrega" [showClear]="true" [autoDisplayFirst]="false"
                        [(ngModel)]="enderecoEntregaDtoClienteCadastro.EndEtg_contribuinte_icms_status"
                        [options]="listaContribuinteICMS" optionValue="value" optionLabel="label"></p-dropdown>
                </div>
                <div class="p-field p-col-6 p-lg-3 p-md-3 p-sm-6 p-as-end p-py-0"
                    *ngIf="enderecoEntregaDtoClienteCadastro.EndEtg_produtor_rural_status == constantes.COD_ST_CLIENTE_PRODUTOR_RURAL_SIM">
                    <label for="ieEndEntrega">IE</label>
                    <input id="ieEndEntrega" type="text" pInputText maxlength="20"
                        [disabled]="enderecoEntregaDtoClienteCadastro?.EndEtg_contribuinte_icms_status == constantes.COD_ST_CLIENTE_CONTRIBUINTE_ICMS_ISENTO"
                        [(ngModel)]="enderecoEntregaDtoClienteCadastro.EndEtg_ie">
                </div>
            </div>
            <!-- PJ => Contribuinte ICMS | IE -->
            <div class="p-grid p-col-12" *ngIf="!pessoaEntregaEhPF">
                <div class="p-field p-col-4 p-as-end p-py-0"
                    *ngIf="enderecoEntregaDtoClienteCadastro.EndEtg_produtor_rural_status == constantes.COD_ST_CLIENTE_PRODUTOR_RURAL_SIM">

                    <label for="contribuinteEndEntrega">Contribuinte ICMS</label>
                    <p-dropdown id="contribuinteEndEntrega" [showClear]="true" [autoDisplayFirst]="false"
                        [(ngModel)]="enderecoEntregaDtoClienteCadastro.EndEtg_contribuinte_icms_status"
                        [options]="listaContribuinteICMS" optionValue="value" optionLabel="label"></p-dropdown>
                </div>
                <div class="p-field p-col-6 p-lg-3 p-md-3 p-sm-6 p-as-end p-py-0"
                    *ngIf="enderecoEntregaDtoClienteCadastro.EndEtg_produtor_rural_status == constantes.COD_ST_CLIENTE_PRODUTOR_RURAL_SIM">
                    <label for="ieEndEntrega">IE</label>
                    <input id="ieEndEntrega" type="text" pInputText maxlength="20"
                        [disabled]="enderecoEntregaDtoClienteCadastro?.EndEtg_contribuinte_icms_status == constantes.COD_ST_CLIENTE_CONTRIBUINTE_ICMS_ISENTO"
                        [(ngModel)]="enderecoEntregaDtoClienteCadastro.EndEtg_ie">
                </div>
            </div>
        </div>

        <div class="p-py-2">
            <app-cep #componenteCep></app-cep>
        </div>
    </div>
</div>
