<div class="p-grid" [ngClass]="{'carregando': carregando}">
    <div class="p-col-12">
        <div class="card">
            <form *ngIf="telaDesktop" #loginForm="ngForm" class="container"
                [class]="telaDesktop? 'containerDesktop': 'containerCelular'" (ngSubmit)="buscar()">

                <div class="titulopagina" [ngClass]="{'tituloDesktop': telaDesktop}"> Novo Pedido </div>

                <div [class]="telaDesktop ? 'corpohome corpohomeDesktop': 'corpohome corpohomeCelular'">

                    <mat-form-field [class]="telaDesktop? 'campoTextoDesktop': 'campoTextoCel'"
                        floatLabel="floatLabel()">
                        <input matInput type="text" placeholder="Digite o CPF ou CNPJ do cliente"
                            [(ngModel)]="clienteBusca" name="clienteBusca" appFocoAutomatico>
                    </mat-form-field>

                    <div class="item item-4" style="text-align: center;">
                        <button mat-raised-button color="accent" type="submit" [ngClass]="{'carregando': carregando}"> 
                            <span class="pi pi-search"></span>
                            Pesquisar
                            <!-- <mat-icon></mat-icon> Pesquisar -->
                        </button>
                    </div>
                </div>
            </form>
            <form *ngIf="!telaDesktop" #loginForm="ngForm" class="container"
                [class]="telaDesktop? 'containerDesktop': 'containerCelular'" (ngSubmit)="buscar()">

                <div [class]="telaDesktop ? 'corpohome corpohomeDesktop': 'corpohome corpohomeCelular'">
                    <div style="flex-grow: 0.8" *ngIf="!telaDesktop">
                    </div>
                    <div class="titulopagina" [ngClass]="{'tituloDesktop': telaDesktop}"> Novo Pedido </div>

                    <div style="flex-grow: 0.01" *ngIf="!telaDesktop">
                    </div>

                    <mat-form-field [class]="telaDesktop? 'campoTextoDesktop': 'campoTextoCel'"
                        floatLabel="floatLabel()">
                        <input matInput type="text" placeholder="Digite o CPF ou CNPJ do cliente"
                            [(ngModel)]="clienteBusca" name="clienteBusca" appFocoAutomatico>
                    </mat-form-field>

                    <div style="flex-grow: 0.4" *ngIf="!telaDesktop">
                    </div>

                    <div class="item item-4" style="text-align: center;">
                        <button mat-raised-button color="accent" type="submit" [ngClass]="{'carregando': carregando}"
                            style="font-size: 80%">
                            <span class="pi pi-search"> </span> Pesquisar
                        </button>
                    </div>
                    <div style="flex-grow: 0.8" *ngIf="!telaDesktop">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>