<div class="p-grid">
    <div class="p-col-12 p-pb-0" [ngClass]="{'carregando': carregando}" *ngIf="!imprimindo">
        <div class="card">
            <h4 class="p-my-0">Calculadora VRF</h4>
        </div>
        <div class="card">
            <div class="p-fluid p-formgrid p-grid p-col-12 p-mx-0 p-px-0">
                <h5 class="p-col-12 p-px-0">Dados do cliente</h5>
                <div class="p-grid">
                    <div class="p-field p-col-12 p-lg-4 p-md-4 p-sm-4 p-as-end">
                        <label>Nome do cliente</label>
                        <input pInputText type="text" [(ngModel)]="nomeCliente">
                    </div>
                    <div class="p-field p-col-12 p-lg-4 p-md-4 p-sm-4 p-as-end">
                        <label>Nome da obra</label>
                        <input pInputText type="text" [(ngModel)]="nomeObra">
                    </div>
                    <div class="p-field p-col-12 p-lg-4 p-md-4 p-sm-4 p-as-end">
                        <label>Telefone</label>
                        <input pInputText type="text" [(ngModel)]="telefone" mask="{{mascaraTelefone}}">
                    </div>
                    <div class="p-field p-col-12 p-lg-4 p-md-4 p-sm-4">
                        <label>E-mail</label>
                        <input pInputText type="text" [(ngModel)]="email">
                    </div>
                    <div class="p-field p-col-12 p-lg-4 p-md-4 p-sm-4">
                        <label>Nome do instalador/empresa</label>
                        <input pInputText type="text" [(ngModel)]="instalador">
                    </div>
                    <div class="p-field p-col-12 p-lg-4 p-md-4 p-sm-4">
                        <label>Telefone do instalador/empresa</label>
                        <input pInputText type="text" [(ngModel)]="telInstalador" mask="{{mascaraTelefone}}">
                    </div>
                    <div class="p-field p-col-12 p-lg-4 p-md-4 p-sm-4">
                        <label>Observações / Previsão de instalação</label>
                        <textarea pInputTextarea [(ngModel)]="observacao"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <form [formGroup]="form">
                <div class="p-fluid p-formgrid p-grid p-col-12 p-mx-0 p-px-0">
                    <h5>Seleção de evaporadoras</h5>
                    <div class="p-grid p-col-12 p-px-0">
                        <div class="p-col-12 p-d-block p-d-lg-inline-flex p-d-md-inline-flex p-d-sm-inline-flex p-lg-7 
                                p-md-7 p-px-0 p-sm-7">
                            <div class="p-col-12 p-field p-lg-6 p-md-6">
                                <label>Fabricante</label>
                                <p-dropdown [options]="lstFabricantes" formControlName="fabricanteSelecionado"
                                    [(ngModel)]="fabricanteSelecionado" placeholder="Selecione" optionLabel="label"
                                    optionValue="value" (onChange)="limparFiltros()"></p-dropdown>
                                <div *ngIf="validacaoFormularioService.verificaCampo(form,'fabricanteSelecionado')">
                                    <small class="p-error"
                                        *ngIf="form.controls.fabricanteSelecionado.errors?.required">{{mensagemErro}}</small>
                                </div>
                            </div>
                        </div>
                        <div
                            class="p-as-center p-col-12 p-d-block p-d-lg-inline-flex p-d-md-inline-flex p-d-sm-inline-flex 
                                p-jc-end p-jc-md-end p-jc-sm-end p-lg-5 p-md-5 p-pt-lg-3 p-pt-md-3 p-pt-sm-3 p-pt-xl-3 p-sm-5">
                            <div class="p-as-center p-col-12 p-field p-lg-6 p-mb-sm-0 p-md-6 p-px-0">
                                <button pButton type="button" icon="fa fa-plus" label="Evaporadora"
                                    (click)="adicionarEvaporadoras()"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div *ngIf="evaporadorasSelecionadas.length > 0" class="p-fluid p-formgrid p-grid p-col-12 p-mx-0 p-px-0">
                <div class="p-col-12 p-px-0 p-my-2">
                    <p-table #dt1 [value]="evaporadorasSelecionadas" [responsive]="false" responsiveLayout="stack"
                        [ngClass]="{'carregando': carregando}" styleClass="p-datatable-customers p-datatable-striped"
                        [rows]="10" [filterDelay]="0" autoLayout="true">
                        <ng-template pTemplate="header" let-p>
                            <tr class="font-size">
                                <th class="p-text-left p-col-4 p-py-0">Produto</th>
                                <th class="p-text-right p-py-0 p-col-2">Qtde</th>
                                <th class="p-text-center p-py-0 p-col-2">Capacidade <br> (BTU/h)</th>
                                <th class="p-text-center p-py-0 p-col-3">Capacidade <br>(Kcal/h)</th>
                                <th class="p-text-center p-py-0 p-col-1">Ações</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-p let-index="rowIndex">
                            <tr class="font-size">
                                <td class="p-text-left p-d-inline-flex p-pl-2 p-text-nowrap">
                                    <p class="p-ml-2"
                                        [innerHtml]="stringUtils.formatarDescricao(p.fabricante, '', p.produto, p.descricao)">
                                    </p>
                                </td>
                                <td class="p-py-0">
                                    <input class="p-text-right" id="qtde" type="number" pInputText placeholder=""
                                        [value]="p.qtde" [(ngModel)]="p.qtde" (change)="digitouQte(p)" />
                                </td>
                                <td class="p-text-center p-py-0">{{p.btu}}</td>
                                <td class="p-text-center p-py-0">
                                    {{p.kcal}}</td>
                                <td class="p-text-right p-py-0">
                                    <div class="p-text-center">
                                        <i class="pi pi-trash" style="color: red" (click)="removerItem(index)"></i>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>

        <div class="card" *ngIf="evaporadorasSelecionadas.length > 0">
            <form [formGroup]="form2">
                <div class="p-fluid p-formgrid p-grid p-col-12 p-mx-0 p-px-0">
                    <h5 class="p-col-12 p-px-0">Condensadoras</h5>
                    <div class="p-grid p-col-12 p-px-0">
                        <div class="p-as-end p-col-12 p-field p-lg-2 p-md-2 p-sm-4">
                            <label>Voltagem</label>
                            <p-dropdown [options]="lstVoltagens" placeholder="Selecione" optionLabel="label"
                                optionValue="value" [(ngModel)]="voltagem" [showClear]="true" formControlName="voltagem"
                                (onChange)="limparCombinacoesCondensadoras()">
                            </p-dropdown>
                            <div *ngIf="validacaoFormularioService.verificaCampo(form2,'voltagem')">
                                <small class="p-error"
                                    *ngIf="form2.controls.voltagem.errors?.required">{{mensagemErro}}</small>
                            </div>
                        </div>
                        <div class="p-as-end p-col-12 p-field p-lg-2 p-md-3 p-sm-4">
                            <label>Tipo de descarga</label>
                            <p-dropdown [options]="lstDescargas" placeholder="Selecione" optionLabel="label"
                                optionValue="value" [(ngModel)]="descarga" [showClear]="true" formControlName="descarga"
                                (onChange)="limparCombinacoesCondensadoras();filtrarQtdeCondensadora()">
                            </p-dropdown>
                            <div *ngIf="validacaoFormularioService.verificaCampo(form2,'descarga')">
                                <small class="p-error"
                                    *ngIf="form2.controls.descarga.errors?.required">{{mensagemErro}}</small>
                            </div>
                        </div>
                        <div class="p-as-end p-col-12 p-field p-lg-2 p-md-2 p-sm-4">
                            <label style="word-break: break-word; white-space: break-spaces;">Simultaneidade máxima
                                %</label>
                            <p-dropdown [options]="lstSimultaneidades" [(ngModel)]="simultaneidade"
                                placeholder="Selecione" optionLabel="label" optionValue="value"
                                formControlName="simultaneidade" [showClear]="true"
                                (onChange)="limparCombinacoesCondensadoras()"></p-dropdown>
                            <div *ngIf="validacaoFormularioService.verificaCampo(form2,'simultaneidade')">
                                <small class="p-error"
                                    *ngIf="form2.controls.simultaneidade.errors?.required">{{mensagemErro}}</small>
                            </div>
                        </div>
                        <div class="p-as-end p-col-12 p-field p-lg-2 p-md-3 p-sm-4">
                            <label>Ciclo</label>
                            <p-dropdown [options]="lstCiclos" placeholder="Selecione" optionLabel="label"
                                optionValue="value" [(ngModel)]="ciclo" [showClear]="true" formControlName="ciclo"
                                (onChange)="limparCombinacoesCondensadoras()">
                            </p-dropdown>
                            <div *ngIf="validacaoFormularioService.verificaCampo(form2,'ciclo')">
                                <small class="p-error"
                                    *ngIf="form2.controls.ciclo.errors?.required">{{mensagemErro}}</small>
                            </div>
                        </div>
                        <div class="p-as-end p-col-12 p-field p-lg-2 p-md-2 p-sm-4">
                            <label>Quantidade de condensadoras</label>
                            <p-dropdown [options]="lstQtdeCondensadoras" [(ngModel)]="qtdeCondensadora"
                                placeholder="Selecione" optionLabel="label" optionValue="value" [disabled]="desabilita"
                                formControlName="qtdeCondensadora" [showClear]="true"
                                (onChange)="limparCombinacoesCondensadoras()"></p-dropdown>
                            <div *ngIf="validacaoFormularioService.verificaCampo(form2,'qtdeCondensadora')">
                                <small class="p-error"
                                    *ngIf="form2.controls.qtdeCondensadora.errors?.required">{{mensagemErro}}</small>
                            </div>
                        </div>
                        <div class="p-as-end p-col-12 p-field p-lg-2 p-md-12 p-px-0 p-px-md-0 p-px-sm-0 p-sm-4">
                            <div class="p-col-12 p-pr-lg-0">
                                <button pButton type="button" icon="fa fa-calculator" (click)="calcularCondensadoras();"
                                    label="Calcular"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="p-fluid p-formgrid p-grid p-col-12 p-mx-0 p-px-0" *ngIf="calculado">
                <div class="p-col-12 p-py-2">
                    <div class="field-checkbox p-text-right">
                        <p-checkbox [(ngModel)]="opcao1" [binary]="true" inputId="binary1"></p-checkbox>&nbsp;
                        <label for="binary1">Incluir no PDF</label>
                    </div>
                </div>
                <p-accordion class="p-col-12 p-pb-0 p-px-0">
                    <p-accordionTab>
                        <ng-template pTemplate="header">
                            Opção com 1 condensadora
                            <div class="p-ml-auto p-p-0 p-text-right" *ngIf="simultaneidadeCalculada1aparelho > 0">
                                Simultaneidade: {{simultaneidadeCalculada1aparelho}}%
                            </div>
                        </ng-template>
                        <ng-template pTemplate="content" *ngIf="combinacaoCom1aparelhos.length == 0">
                            <div class="p-col-12 p-text-center">
                                Não existem condensadoras para esse conjunto de evaporadoras
                            </div>
                        </ng-template>
                        <ng-template pTemplate="content2" *ngIf="combinacaoCom1aparelhos.length > 0">
                            <p-table #dataTable [value]="combinacaoCom1aparelhos" [responsive]="true"
                                responsiveLayout="stack" [ngClass]="{'carregando': carregando}" autoLayout="true"
                                styleClass="p-datatable-customers p-datatable-sm" [rows]="10" [filterDelay]="0">
                                <ng-template pTemplate="header">
                                    <tr class="font-size">
                                        <th class="p-text-left p-col-4 p-py-0">Produto</th>
                                        <th class="p-text-center p-col-2 p-py-0">Qtde</th>
                                        <th class="p-text-center p-col-2 p-py-0">kcal/h</th>
                                        <th class="p-text-center p-col-2 p-py-0">HP</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-p>
                                    <tr class="font-size">
                                        <td>
                                            <p class="p-ml-2"
                                                [innerHtml]="stringUtils.formatarDescricao(p.fabricante, '', p.produto, p.descricao)">
                                            </p>
                                        </td>
                                        <td class="p-text-center">
                                            {{p.qtde}}
                                        </td>
                                        <td class="p-text-center">
                                            {{p.kcal}}
                                        </td>
                                        <td class="p-text-center">
                                            {{p.hp}}
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </ng-template>
                    </p-accordionTab>
                </p-accordion>
            </div>
            <div class="p-fluid p-formgrid p-grid p-col-12 p-mx-0 p-px-0"
                *ngIf="calculado  && qtdeCondensadora > 1 && descarga != 52">
                <div class="p-col-12 p-py-2">
                    <div class="field-checkbox p-text-right">
                        <p-checkbox [(ngModel)]="opcao2" [binary]="true" inputId="binary2"></p-checkbox>&nbsp;
                        <label for="binary2">Incluir no PDF</label>
                    </div>
                </div>
                <p-accordion class="p-col-12 p-pb-0 p-px-0" [activeIndex]="calculado">
                    <p-accordionTab>
                        <ng-template pTemplate="header">
                            Opção com 2 condensadoras
                            <div class="p-ml-auto p-p-0 p-text-right" *ngIf="simultaneidadeCalculada2aparelhos > 0">
                                Simultaneidade: {{simultaneidadeCalculada2aparelhos}}%
                            </div>
                        </ng-template>
                        <ng-template pTemplate="content" *ngIf="combinacaoCom2aparelhos.length == 0">
                            <div class="p-col-12 p-text-center">
                                Não existem condensadoras para esse conjunto de evaporadoras
                            </div>
                        </ng-template>
                        <ng-template pTemplate="content" *ngIf="combinacaoCom2aparelhos.length > 0">
                            <p-table #dataTable2 [value]="combinacaoCom2aparelhos" [responsive]="true"
                                responsiveLayout="stack" [ngClass]="{'carregando': carregando}" autoLayout="true"
                                styleClass="p-datatable-customers p-datatable-sm" [rows]="10" [filterDelay]="0">
                                <ng-template pTemplate="header">
                                    <tr class="font-size">
                                        <th class="p-text-left p-col-4 p-py-0">Produto</th>
                                        <th class="p-text-center p-col-2 p-py-0">Qtde</th>
                                        <th class="p-text-center p-col-2 p-py-0">kcal/h</th>
                                        <th class="p-text-center p-col-2 p-py-0">HP</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-p2>
                                    <tr class="font-size">
                                        <td>
                                            <p class="p-ml-2"
                                                [innerHtml]="stringUtils.formatarDescricao(p2.fabricante, '', p2.produto, p2.descricao)">
                                            </p>
                                        </td>
                                        <td class="p-text-center">
                                            {{p2.qtde}}
                                        </td>
                                        <td class="p-text-center">
                                            {{p2.kcal}}
                                        </td>
                                        <td class="p-text-center">
                                            {{p2.hp}}
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </ng-template>
                    </p-accordionTab>
                </p-accordion>
            </div>
            <div class="p-fluid p-formgrid p-grid p-col-12 p-mx-0 p-px-0"
                *ngIf="calculado && qtdeCondensadora == 3 && descarga != 52">
                <div class="p-col-12 p-py-2">
                    <div class="field-checkbox p-text-right">
                        <p-checkbox [(ngModel)]="opcao3" [binary]="true" inputId="binary3"></p-checkbox>&nbsp;
                        <label for="binary3">Incluir no PDF</label>
                    </div>
                </div>
                <p-accordion class="p-col-12 p-pb-0 p-px-0" [activeIndex]="calculado">
                    <p-accordionTab>
                        <ng-template pTemplate="header">
                            Opção com 3 condensadoras
                            <div class="p-ml-auto p-p-0 p-text-right" *ngIf="simultaneidadeCalculada3aparelhos > 0 ">
                                Simultaneidade: {{simultaneidadeCalculada3aparelhos}}%
                            </div>
                        </ng-template>
                        <ng-template pTemplate="content" *ngIf="combinacaoCom3aparelhos.length == 0">
                            <div class="p-col-12 p-text-center">
                                Não existem condensadoras para esse conjunto de evaporadoras
                            </div>
                        </ng-template>
                        <ng-template pTemplate="content" *ngIf="combinacaoCom3aparelhos.length > 0">
                            <p-table #dataTable3 [value]="combinacaoCom3aparelhos" [responsive]="true"
                                responsiveLayout="stack" [ngClass]="{'carregando': carregando}" autoLayout="true"
                                styleClass="p-datatable-customers p-datatable-sm" [rows]="10" [filterDelay]="0">
                                <ng-template pTemplate="header">
                                    <tr class="font-size">
                                        <th class="p-text-left p-col-4 p-py-0">Produto</th>
                                        <th class="p-text-center p-col-2 p-py-0">Qtde</th>
                                        <th class="p-text-center p-col-2 p-py-0">kcal/h</th>
                                        <th class="p-text-center p-col-2 p-py-0">HP</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-p3>
                                    <tr class="font-size">
                                        <td>
                                            <p class="p-ml-2"
                                                [innerHtml]="stringUtils.formatarDescricao(p3.fabricante, '', p3.produto, p3.descricao)">
                                            </p>
                                        </td>
                                        <td class="p-text-center">
                                            {{p3.qtde}}
                                        </td>
                                        <td class="p-text-center">
                                            {{moedaUtils.formatarParaFloatUmaCasaReturnZero(p3.kcal)}}
                                        </td>
                                        <td class="p-text-center">
                                            {{p3.hp}}
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </ng-template>
                    </p-accordionTab>
                </p-accordion>
            </div>
            <div class="p-fluid p-formgrid p-grid p-col-12 p-mx-0 p-px-0" *ngIf="calculado">
                <button pButton type="button" icon="fa fa-print" (click)="mostrarImpressao()"
                    label="Gerar PDF"></button>
            </div>
        </div>
    </div>
</div>


<!-- PARA IMPRESSÃO -->
<div class="p-grid" *ngIf="imprimindo">
    <div class="p-col-12 p-pb-0">
        <div class="card p-text-center" style="max-width: 100%; overflow: auto;">
            <div class="p-fluid p-formgrid p-grid p-col-12 p-mx-0 p-px-0 p-jc-between">
                <div>
                    <button pButton type="button" icon="fa fa-left" (click)="voltar()" label="Voltar"></button>
                </div>
                <div>
                    <button pButton type="button" icon="fa fa-print" (click)="exportPdf()" label="Baixar PDF"></button>
                </div>
            </div>
            <div id="html-pdf" class="p-grid p-col-12 p-d-inline-flex p-px-0" style="width: 520.3px;">
                <div class="p-col-12 p-p-0 p-px-0" style="font-size: 10px;font-family: Arial, Helvetica, sans-serif;">
                    <!-- logo tipo -->
                    <div id="logo" class="p-col-12 p-d-inline-flex p-jc-between p-px-0">
                        <img src="{{logo}}" routerLink="/" style="max-width: 80px;" />
                        <span class="p-text-bold">
                            {{dataAtual}}
                        </span>
                    </div>
                    <!-- Título -->
                    <div id="titulo" class="p-text-center">
                        <h5 class="p-text-bold">
                            Resumo do sistema VRF
                        </h5>
                    </div>
                    <!-- campos do formulário -->
                    <div id="formulario" class="p-grid p-col-12 p-px-0">
                        <div class="p-lg-4" *ngIf="nomeCliente != ''">
                            <span class="p-text-bold">Cliente:</span>&nbsp;
                            <span>{{nomeCliente}}</span>
                        </div>
                        <div class="p-lg-4" *ngIf="nomeObra != ''">
                            <span class="p-text-bold">Obra:</span>&nbsp;
                            <span>{{nomeObra}}</span>
                        </div>
                        <div class="p-lg-4" *ngIf="telefone != ''">
                            <span class="p-text-bold">Telefone:</span>&nbsp;
                            <span class="p-text-nowrap">{{stringUtils.formataTextoTelefone(telefone)}}</span>
                        </div>
                        <div class="p-lg-4" *ngIf="email != ''">
                            <span class="p-text-bold">E-mail:</span>&nbsp;
                            <span>{{email}}</span>
                        </div>
                        <div class="p-lg-4" *ngIf="instalador != ''">
                            <span class="p-text-bold">Instalador/Empresa:</span>&nbsp;
                            <span>{{instalador}}</span>
                        </div>
                        <div class="p-lg-4" *ngIf="telInstalador != ''">
                            <span class="p-text-bold">Telefone Instalador/Empresa:</span>&nbsp;
                            <span class="p-text-nowrap">{{stringUtils.formataTextoTelefone(telInstalador)}}</span>
                        </div>
                        <div class="p-lg-4" *ngIf="observacao != ''">
                            <span class="p-text-bold">Observações:</span>&nbsp;
                            <span>{{observacao}}</span>
                        </div>
                    </div>
                    <!-- lista de evaporadoras -->
                    <div id="evaps" class="p-col-12 p-px-0">
                        <div>
                            <span class="p-text-bold">Evaporadoras</span>
                        </div>
                        <div class="p-col-12 p-px-0">
                            <p-table #dt1 [value]="evaporadorasSelecionadas" [responsive]="false"
                                responsiveLayout="stack" [ngClass]="{'carregando': carregando}" 
                                styleClass="p-datatable-customers" [rows]="10" [filterDelay]="0">
                                <ng-template pTemplate="header" let-p>
                                    <tr style="font-size: 10px;font-family: Arial, Helvetica, sans-serif;">
                                        <th class="p-text-left p-col-5 p-py-0" style="background-color: #cecece">Produto
                                        </th>
                                        <th class="p-text-center p-py-0 p-col-2" style="background-color: #cecece">Qtde
                                        </th>
                                        <th class="p-text-center p-py-0 p-col-2" style="background-color: #cecece">
                                            Capacidade<br>
                                            (BTU/h)</th>
                                        <th class="p-text-center p-py-0 p-col-2" style="background-color: #cecece">
                                            Capacidade<br>
                                            (kcal/h)</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-p let-index="rowIndex">
                                    <tr style="font-size: 10px;font-family: Arial, Helvetica, sans-serif;" [pSelectableRow]="p">
                                        <td class="p-text-left p-d-inline-flex p-pl-2 p-py-1">
                                            <p class="p-ml-2" 
                                                [innerHtml]="stringUtils.formatarDescricao(p.fabricante, '', p.produto, p.descricao)">
                                            </p>
                                        </td>
                                        <td class="p-text-center p-py-1">{{p.qtde}}</td>
                                        <td class="p-text-center p-py-1">{{p.btu}}</td>
                                        <td class="p-text-center p-py-1"> {{p.kcal}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                    <!-- lista de opção 1 condensadora -->
                    <div id="opcao1" class="p-col-12 p-px-0" *ngIf="opcao1">
                        <div class="p-col-12 p-d-inline-flex p-jc-between p-px-0">
                            <div class="p-py-1">
                                <span class="p-text-bold">Opção com 1 condensadora</span>
                            </div>
                            <div class="p-py-1">
                                <span class="p-text-bold">Simultaneidade</span>
                                <span class="p-text-bold">
                                    {{moedaUtils.formatarParaFloatUmaCasaReturnZero(simultaneidadeCalculada1aparelho)}}%
                                </span>
                            </div>
                        </div>
                        <p-table #dataTable [value]="combinacaoCom1aparelhos" [responsive]="false"
                            responsiveLayout="stack" [ngClass]="{'carregando': carregando}" autoLayout="true"
                            styleClass="p-datatable-customers p-datatable-sm" [rows]="10" [filterDelay]="0">
                            <ng-template pTemplate="header">
                                <tr style="font-size: 10px;font-family: Arial, Helvetica, sans-serif;">
                                    <th class="p-text-left p-col-5 p-py-1" style="background-color: #cecece">Produto
                                    </th>
                                    <th class="p-text-center p-col-2 p-py-1" style="background-color: #cecece">Qtde</th>
                                    <th class="p-text-center p-col-2 p-py-1" style="background-color: #cecece">
                                        Capacidade (kcal/h)
                                    </th>
                                    <th class="p-text-center p-col-2 p-py-1" style="background-color: #cecece">HP</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-p>
                                <tr style="font-size: 10px;font-family: Arial, Helvetica, sans-serif;">
                                    <td class="p-py-1" style="font-size: 10px;font-family: Arial, Helvetica, sans-serif;">
                                        <p class="p-ml-2" 
                                            [innerHtml]="stringUtils.formatarDescricao(p.fabricante, '', p.produto, p.descricao)">
                                        </p>
                                    </td>
                                    <td class="p-text-center">
                                        {{p.qtde}}
                                    </td>
                                    <td class="p-text-center">
                                        {{p.kcal}}
                                    </td>
                                    <td class="p-text-center">
                                        {{p.hp}}
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td class="p-text-center" style="font-size: 10px;font-family: Arial, Helvetica, sans-serif;" colspan="4">
                                        Não existem condensadoras para esse conjunto de evaporadoras
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                    <!-- lista de opção 2 condensadora -->
                    <div id="opcao2" class="p-col-12 p-px-0" *ngIf="opcao2">
                        <div class="p-col-12 p-d-inline-flex p-jc-between p-px-0">
                            <div class="p-py-1">
                                <span class="p-text-bold">Opção com 2 condensadoras</span>
                            </div>
                            <div class="p-py-1">
                                <span class="p-text-bold">Simultaneidade</span>
                                <span class="p-text-bold">
                                    {{moedaUtils.formatarParaFloatUmaCasaReturnZero(simultaneidadeCalculada2aparelhos)}}%
                                </span>
                            </div>
                        </div>
                        <p-table #dataTable2 [value]="combinacaoCom2aparelhos" [responsive]="false"
                            responsiveLayout="stack" [ngClass]="{'carregando': carregando}" autoLayout="true"
                            styleClass="p-datatable-customers p-datatable-sm" [rows]="10" [filterDelay]="0">
                            <ng-template pTemplate="header">
                                <tr style="font-size: 10px;font-family: Arial, Helvetica, sans-serif;">
                                    <th class="p-text-left p-col-5 p-py-1" style="background-color: #cecece">Produto
                                    </th>
                                    <th class="p-text-center p-col-2 p-py-1" style="background-color: #cecece">Qtde</th>
                                    <th class="p-text-center p-col-2 p-py-1" style="background-color: #cecece">
                                        Capacidade (kcal/h)
                                    </th>
                                    <th class="p-text-center p-col-2 p-py-1" style="background-color: #cecece">HP</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-p2>
                                <tr style="font-size: 10px;font-family: Arial, Helvetica, sans-serif;" *ngIf="combinacaoCom2aparelhos.length > 0">
                                    <td style="font-size: 10px;font-family: Arial, Helvetica, sans-serif;">
                                        <p class="p-ml-2" 
                                            [innerHtml]="stringUtils.formatarDescricao(p2.fabricante, '', p2.produto, p2.descricao)">
                                        </p>
                                    </td>
                                    <td class="p-text-center" style="font-size: 10px;font-family: Arial, Helvetica, sans-serif;">
                                        {{p2.qtde}}
                                    </td>
                                    <td class="p-text-center" style="font-size: 10px;font-family: Arial, Helvetica, sans-serif;">
                                        {{p2.kcal}}
                                    </td>
                                    <td class="p-text-center" style="font-size: 10px;font-family: Arial, Helvetica, sans-serif;">
                                        {{p2.hp}}
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td class="p-text-center" style="font-size: 10px;font-family: Arial, Helvetica, sans-serif;" colspan="4">
                                        Não existem condensadoras para esse conjunto de evaporadoras
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                    <!-- lista de opção 3 condensadora -->
                    <div id="opcao3" class="p-col-12 p-px-0" *ngIf="opcao3">
                        <div class="p-col-12 p-d-inline-flex p-jc-between p-px-0">
                            <div class="p-py-1">
                                <span class="p-text-bold">Opção com 3 condensadoras</span>
                            </div>
                            <div class="p-py-1">
                                <span class="p-text-bold">Simultaneidade</span>
                                <span class="p-text-bold">
                                    {{moedaUtils.formatarParaFloatUmaCasaReturnZero(simultaneidadeCalculada3aparelhos)}}%
                                </span>
                            </div>
                        </div>
                        <p-table #dataTable3 [value]="combinacaoCom3aparelhos" [responsive]="false"
                            responsiveLayout="stack" [ngClass]="{'carregando': carregando}" autoLayout="true"
                            styleClass="p-datatable-customers p-datatable-sm" [rows]="10" [filterDelay]="0">
                            <ng-template pTemplate="header">
                                <tr style="font-size: 10px;font-family: Arial, Helvetica, sans-serif;">
                                    <th class="p-text-left p-col-5 p-py-1" style="background-color: #cecece">Produto
                                    </th>
                                    <th class="p-text-center p-col-2 p-py-1" style="background-color: #cecece">Qtde</th>
                                    <th class="p-text-center p-col-2 p-py-1" style="background-color: #cecece">
                                        Capacidade (kcal/h)
                                    </th>
                                    <th class="p-text-center p-col-2 p-py-1" style="background-color: #cecece">HP</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-p3>
                                <tr style="font-size: 10px;font-family: Arial, Helvetica, sans-serif;">
                                    <td> 
                                        <p class="p-ml-2" 
                                            [innerHtml]="stringUtils.formatarDescricao(p3.fabricante, '', p3.produto, p3.descricao)">
                                        </p>
                                    </td>
                                    <td class="p-text-center">
                                        {{p3.qtde}}
                                    </td>
                                    <td class="p-text-center">
                                        {{moedaUtils.formatarParaFloatUmaCasaReturnZero(p3.kcal)}}
                                    </td>
                                    <td class="p-text-center">
                                        {{p3.hp}}
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td class="p-text-center" style="font-size: 10px;font-family: Arial, Helvetica, sans-serif;" colspan="4">
                                        Não existem condensadoras para esse conjunto de evaporadoras
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                    <!-- texto para rodapé -->
                    <div id="rodape" style="font-size: 10px; text-align: left;" class="p-col-12 p-px-0">
                        <p [innerHtml]="textoRodape"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="imprimindo" id="div-pai" class="p-grid p-col-12 p-d-inline-flex p-px-0" style="width: 530.3px;">

</div>
<div *ngIf="imprimindo" id="div-filho" class="p-col-12 p-p-0 p-px-0" style="font-size: 10px;width: 530.3px;font-family: Arial, Helvetica, sans-serif;"></div>