<div class="p-grid">
    <div class="p-col-12 p-pb-0">
        <div class="card">
            <h4 class="p-my-0">Calculadora VRF</h4>
        </div>

        <div class="card">
            <div class="p-fluid p-formgrid p-grid p-col-12 p-mx-0 p-px-0">
                <h5 class="p-col-12 p-px-0">Dados do cliente</h5>
                <div class="p-grid">
                    <div class="p-field p-col-12 p-lg-4 p-md-4 p-sm-4 p-as-end">
                        <label>Nome do cliente</label>
                        <input pInputText type="text">
                    </div>
                    <div class="p-field p-col-12 p-lg-4 p-md-4 p-sm-4 p-as-end">
                        <label>Nome da obra</label>
                        <input pInputText type="text">
                    </div>
                    <div class="p-field p-col-12 p-lg-4 p-md-4 p-sm-4 p-as-end">
                        <label>Observações / Previsão de instalação</label>
                        <input pInputText type="text">
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <form [formGroup]="form">
                <div class="p-fluid p-formgrid p-grid p-col-12 p-mx-0 p-px-0">
                    <h5>Seleção de evaporadoras</h5>
                    <div class="p-grid p-col-12 p-px-0">
                        <div class="p-col-12 p-d-block p-d-lg-inline-flex p-d-md-inline-flex p-d-sm-inline-flex p-lg-7 
                                p-md-7 p-px-0 p-sm-7">
                            <div class="p-col-12 p-field p-lg-6 p-md-6 p-sm-6">
                                <label>Fabricante</label>
                                <p-dropdown [options]="lstFabricantes" formControlName="fabricanteSelecionado"
                                    [(ngModel)]="fabricanteSelecionado" placeholder="Selecione" optionLabel="label"
                                    optionValue="value" (onChange)="limparFiltros()"></p-dropdown>
                                <div  *ngIf="validacaoFormularioService.verificaCampo(form,'fabricanteSelecionado')">
                                    <small class="p-error"
                                        *ngIf="form.controls.fabricanteSelecionado.errors?.required">{{mensagemErro}}</small>
                                </div>
                            </div>
                        </div>
                        <div
                            class="p-as-center p-col-12 p-d-block p-d-lg-inline-flex p-d-md-inline-flex p-d-sm-inline-flex 
                                p-jc-end p-jc-md-end p-jc-sm-end p-lg-5 p-md-5 p-pt-lg-3 p-pt-md-3 p-pt-sm-3 p-pt-xl-3 p-sm-5">
                            <div class="p-as-center p-col-12 p-field p-lg-6 p-mb-sm-0 p-md-6 p-px-0 p-sm-6">
                                <button pButton type="button" icon="fa fa-plus" label="Evaporadora"
                                    (click)="adicionarEvaporadoras()"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div *ngIf="evaporadorasSelecionadas.length > 0" class="p-fluid p-formgrid p-grid p-col-12 p-mx-0 p-px-0">
                <div class="p-col-12 p-px-0 p-my-2">
                    <p-table #dt1 [value]="evaporadorasSelecionadas" [responsive]="true" responsiveLayout="stack"
                        [ngClass]="{'carregando': carregando}" styleClass="p-datatable-customers p-datatable-striped"
                        [rows]="10" [filterDelay]="0">
                        <ng-template pTemplate="header" let-p>
                            <tr>
                                <th class="p-text-left p-col-6 p-py-0">Produto</th>
                                <th class="p-text-right p-py-0">Qtde</th>
                                <th class="p-text-center p-py-0">Voltagem</th>
                                <th class="p-text-center p-py-0">Kcal/h</th>
                                <th class="p-text-center p-py-0">Total Kcal/h</th>
                                <th class="p-text-center p-py-0">Ações</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-p let-index="rowIndex">
                            <tr class="" [pSelectableRow]="p">
                                <td class="p-text-left p-d-inline-flex p-pl-2">
                                    <p class="p-ml-2"
                                        [innerHtml]="stringUtils.formatarDescricao(p.fabricante, '', p.produto, p.descricao)">
                                    </p>
                                </td>
                                <td class="p-py-0">
                                    <input class="p-text-right" id="qtde" type="number" pInputText placeholder=""
                                        [value]="p.qtde" [(ngModel)]="p.qtde" (change)="digitouQte(p)" />
                                </td>
                                <td class="p-text-center p-py-0">{{p.voltagem}}</td>
                                <td class="p-text-center p-py-0">{{p.kcal}}</td>
                                <td class="p-text-center p-py-0">{{p.kcal * p.qtde}}</td>
                                <td class="p-text-center p-py-0">
                                    <div class="p-text-center">
                                        <i class="pi pi-trash" style="color: red" (click)="removerItem(index)"></i>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="footer" class="font-size">
                            <tr class="font-size">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="p-text-right">Total</td>
                                <td class="p-text-center">

                                    {{totalKcalEvaporadoras}}
                                </td>
                                <td></td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="p-fluid p-formgrid p-grid p-col-12 p-mx-0 p-px-0">
                <h5>Condensadoras</h5>
                <form [formGroup]="form2" class="p-col-12 p-d-block p-d-lg-inline-flex p-d-md-inline-flex p-px-0">
                    <div class="p-col-12 p-d-block p-d-lg-inline-flex p-d-md-inline-flex p-d-sm-inline-flex p-lg-9 p-md-9 
                                p-pr-md-2 p-px-0 p-sm-12">
                        <div class="p-as-end p-col-12 p-lg-3 p-mb-3 p-md-3 p-pl-lg-0 p-pl-md-0 p-pr-sm-1
                                    p-px-0 p-sm-3 p-my-0 p-field">
                            <label>Voltagem</label>
                            <p-dropdown [options]="lstVoltagens" placeholder="Selecione" optionLabel="label"
                                optionValue="value" [(ngModel)]="voltagem" [showClear]="true"
                                formControlName="voltagem">
                            </p-dropdown>
                            <div  *ngIf="validacaoFormularioService.verificaCampo(form2,'voltagem')">
                                <small class="p-error"
                                    *ngIf="form2.controls.voltagem.errors?.required">{{mensagemErro}}</small>
                            </div>
                        </div>
                        <div class="p-as-end p-col-12 p-lg-3 p-mb-3 p-md-3 p-px-0 p-px-sm-1 p-sm-3 p-my-0  p-field">
                            <label>Tipo de descarga</label>
                            <p-dropdown [options]="lstDescargas" placeholder="Selecione" optionLabel="label"
                                optionValue="value" [(ngModel)]="descarga" [showClear]="true"
                                formControlName="descarga">
                            </p-dropdown>
                            <div  *ngIf="validacaoFormularioService.verificaCampo(form2,'descarga')">
                                <small class="p-error"
                                    *ngIf="form2.controls.descarga.errors?.required">{{mensagemErro}}</small>
                            </div>
                        </div>
                        <div class="p-as-end p-col-12 p-lg-3 p-mb-3 p-md-3 p-px-0 p-px-sm-1 p-sm-3 p-my-0 p-field">
                            <label style="word-break: break-word; white-space: break-spaces;">Simultaneidade máxima
                                %</label>
                            <p-dropdown [options]="lstSimultaneidades" [(ngModel)]="simultaneidade"
                                placeholder="Selecione" optionLabel="label" optionValue="value"
                                formControlName="simultaneidade" [showClear]="true"></p-dropdown>
                            <div  *ngIf="validacaoFormularioService.verificaCampo(form2,'simultaneidade')">
                                <small class="p-error"
                                    *ngIf="form2.controls.simultaneidade.errors?.required">{{mensagemErro}}</small>
                            </div>
                        </div>
                        <div class="p-as-end p-col-12 p-lg-3 p-mb-3 p-md-3 p-pl-sm-1 p-px-0 p-sm-3 p-my-0 p-field">
                            <label>Quantidade de condensadoras</label>
                            <p-dropdown [options]="lstQtdeCondensadoras" [(ngModel)]="qtdeCondensadora"
                                placeholder="Selecione" optionLabel="label" optionValue="value"
                                formControlName="qtdeCondensadora" [showClear]="true"></p-dropdown>
                            <div  *ngIf="validacaoFormularioService.verificaCampo(form2,'qtdeCondensadora')">
                                <small class="p-error"
                                    *ngIf="form2.controls.qtdeCondensadora.errors?.required">{{mensagemErro}}</small>
                            </div>
                        </div>
                    </div>
                    <div class="p-as-end p-col-12 p-lg-3 p-md-3 p-mt-sm-3 p-px-0 p-mt-3">
                        <div class="p-col-12 p-pr-lg-0 p-px-0">
                            <button pButton type="button" icon="fa fa-calculator" (click)="calcularCondensadoras()"
                                label="Calcular Condensadoras"></button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="p-fluid p-formgrid p-grid p-col-12 p-mx-0 p-px-0" *ngIf="calculado">
                <p-accordion class="p-col-12 p-pb-0 p-px-0">
                    <p-accordionTab>
                        <ng-template pTemplate="header">
                            Opção com 1 condensadora
                            <div class="p-ml-auto p-p-0 p-text-right" *ngIf="simultaneidadeCalculada1aparelho > 0">
                                Simultaneidade: {{simultaneidadeCalculada1aparelho}}
                            </div>
                        </ng-template>
                        <ng-template pTemplate="content" *ngIf="combinacaoCom1aparelhos.length == 0">
                            <div class="p-col-12 p-text-center">
                                Não existem condensadoras para esse conjunto de evaporadoras
                            </div>
                        </ng-template>
                        <ng-template pTemplate="content" *ngIf="combinacaoCom1aparelhos.length > 0">
                            <p-table #dataTable [value]="combinacaoCom1aparelhos" [responsive]="true"
                                responsiveLayout="stack" [ngClass]="{'carregando': carregando}" autoLayout="true"
                                styleClass="p-datatable-customers p-datatable-sm" [rows]="10" [filterDelay]="0">
                                <ng-template pTemplate="header">
                                    <tr class="font-size">
                                        <th class="">Produto</th>
                                        <th class="p-text-center">Kcal/h</th>
                                        <th class="p-text-center">Qtde</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-p>
                                    <tr class="font-size">
                                        <td>
                                            <p class="p-ml-2"
                                                [innerHtml]="stringUtils.formatarDescricao(p.fabricante, '', p.produto, p.descricao)">
                                            </p>
                                        </td>
                                        <td class="p-text-center">
                                            {{p.kcal}}
                                        </td>
                                        <td class="p-text-center">
                                            {{p.qtde}}
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </ng-template>
                    </p-accordionTab>
                </p-accordion>
            </div>
            <div class="p-fluid p-formgrid p-grid p-col-12 p-mx-0 p-px-0" *ngIf="calculado">
                <p-accordion class="p-col-12 p-pb-0 p-px-0">
                    <p-accordionTab>
                        <ng-template pTemplate="header">
                            Opção com 2 condensadoras
                            <div class="p-ml-auto p-p-0 p-text-right" *ngIf="simultaneidadeCalculada2aparelhos > 0">
                                Simultaneidade: {{simultaneidadeCalculada2aparelhos}}
                            </div>
                        </ng-template>
                        <ng-template pTemplate="content" *ngIf="combinacaoCom2aparelhos.length == 0">
                            <div class="p-col-12 p-text-center">
                                Não existem condensadoras para esse conjunto de evaporadoras
                            </div>
                        </ng-template>
                        <ng-template pTemplate="content" *ngIf="combinacaoCom2aparelhos.length > 0">
                            <p-table #dataTable [value]="combinacaoCom2aparelhos" [responsive]="true"
                                responsiveLayout="stack" [ngClass]="{'carregando': carregando}" autoLayout="true"
                                styleClass="p-datatable-customers p-datatable-sm" [rows]="10" [filterDelay]="0">
                                <ng-template pTemplate="header">
                                    <tr class="font-size">
                                        <th class="">Produto</th>
                                        <th class="p-text-center">Kcal/h</th>
                                        <th class="p-text-center">Qtde</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-p>
                                    <tr class="font-size">
                                        <td>
                                            <p class="p-ml-2"
                                                [innerHtml]="stringUtils.formatarDescricao(p.fabricante, '', p.produto, p.descricao)">
                                            </p>
                                        </td>
                                        <td class="p-text-center">
                                            {{p.kcal}}
                                        </td>
                                        <td class="p-text-center">
                                            {{p.qtde}}
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </ng-template>
                    </p-accordionTab>
                </p-accordion>
            </div>
            <div class="p-fluid p-formgrid p-grid p-col-12 p-mx-0 p-px-0" *ngIf="calculado">
                <p-accordion class="p-col-12 p-pb-0 p-px-0">
                    <p-accordionTab>
                        <ng-template pTemplate="header">
                            Opção com 3 condensadoras
                            <div class="p-ml-auto p-p-0 p-text-right" *ngIf="simultaneidadeCalculada3aparelhos > 0">
                                Simultaneidade: {{simultaneidadeCalculada3aparelhos}}
                            </div>
                        </ng-template>
                        <ng-template pTemplate="content" *ngIf="combinacaoCom3aparelhos.length == 0">
                            <div class="p-col-12 p-text-center">
                                Não existem condensadoras para esse conjunto de evaporadoras
                            </div>
                        </ng-template>
                        <ng-template pTemplate="content" *ngIf="combinacaoCom3aparelhos.length > 0">
                            <p-table #dataTable [value]="combinacaoCom3aparelhos" [responsive]="true"
                                responsiveLayout="stack" [ngClass]="{'carregando': carregando}" autoLayout="true"
                                styleClass="p-datatable-customers p-datatable-sm" [rows]="10" [filterDelay]="0">
                                <ng-template pTemplate="header">
                                    <tr class="font-size">
                                        <th class="">Produto</th>
                                        <th class="p-text-center">Kcal/h</th>
                                        <th class="p-text-center">Qtde</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-p>
                                    <tr class="font-size">
                                        <td>
                                            <p class="p-ml-2"
                                                [innerHtml]="stringUtils.formatarDescricao(p.fabricante, '', p.produto, p.descricao)">
                                            </p>
                                        </td>
                                        <td class="p-text-center">
                                            {{p.kcal}}
                                        </td>
                                        <td class="p-text-center">
                                            {{p.qtde}}
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </ng-template>
                    </p-accordionTab>
                </p-accordion>
                <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()"
                    class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
            </div>
        </div>
    </div>
</div>