<div class="login-body">
    <!-- <div class="login-image"></div> -->
    <div class="card login-panel p-fluid" style="height: 100%;">
        <div class="login-panel-content">
            <div class="p-grid">
               
                <div class="p-col-9" style="text-align:left;">
                    <h2 class="welcome-text">Bem vindo</h2>
                </div>
                <div class="p-col-12" style="text-align:left;">
                    <label class="login-label">E-mail/ Usuário</label>
                    <div class="login-input">
                        <input type="text" [(ngModel)] = "email_usuario" placeholder="Usuário" pInputText/>
                    </div>
                </div>
                <div class="p-col-12" style="text-align:left;">
                    <label class="login-label">Senha</label>
                    <div class="login-input">
                        <input type="password" [(ngModel)] = "senha" placeholder="Senha" pPassword p-password-info="Entre com a senha"/>
                    </div>
                </div>
                <div class="p-col-12 p-md-6 button-pane">
                    <button pButton type="button" (click)="login()" label="Sign In"></button>
                </div>
                <!-- <div class="p-col-12 p-md-6 link-pane">
                    <button class="p-link">Forget Password?</button>
                </div> -->
            </div>
        </div>
    </div>
</div>
