<div class="login-body">
    <div class="card login-panel login-image p-fluid" style="height: 100%;">
        <div class="login-panel-content" style="top:105px">
            <div class="p-grid">

                <div class="p-col-12" style="text-align:center;">
                    <h2 class="welcome-text">Bem vindo</h2>
                </div>
                <div *ngIf="!autenticou" class="p-col-12" style="text-align:left;">
                    <label class="login-label">E-mail/ Usuário</label>
                    <div class="login-input">
                        <input type="text" [(ngModel)]="usuario" placeholder="Usuário" pInputText />
                    </div>
                </div>
                <div *ngIf="!autenticou" class="p-col-12" style="text-align:left;">
                    <label class="login-label">Senha</label>
                    <div class="login-input">
                        <input type="password" [(ngModel)]="senha" placeholder="Senha" pPassword p-password-info="Entre com a senha" [feedback]="false"/>
                    </div>
                </div>
                <div *ngIf="mostrarLoja" class="p-col-12" style="text-align:left;">
                    <label class="login-label">Loja</label>
                    <div class="login-input">
                        <p-dropdown id="loja" [options]="lojasUsuario" placeholder="Selecione" [(ngModel)]="loja">
                        </p-dropdown>
                    </div>
                </div>
                <div class="p-col-12">
                    <button pButton type="submit" (click)="login()" label="Entrar"></button>
                </div>
            </div>
        </div>
    </div>
</div>
