<p-accordion class="p-col-12 p-pb-0"
    *ngFor="let orcamento of novoOrcamentoService.orcamentoCloneCotacaoDto.listaOrcamentoCotacaoDto; let i = index">
    <p-accordionTab>
        <ng-template pTemplate="header">
            Opção {{i + 1}}
            <div class="p-ml-auto p-p-0 p-text-right" [ngClass]="{'carregando': carregandoProds}">
                <span>{{novoOrcamentoService.moedaUtils.formatarMoedaComPrefixo(orcamento.VlTotal)}}</span>
                <i class="pi pi-fw pi-copy" (click)="copiarOpcao(orcamento)"></i>
            </div>
        </ng-template>
        <ng-template pTemplate="content">
            <p-table #dataTable [value]="orcamento.listaProdutos" [responsive]="true" responsiveLayout="stack"
                 autoLayout="true"
                styleClass="p-datatable-customers p-datatable-sm" [rows]="10" [filterDelay]="0">
                <ng-template pTemplate="header">
                    <tr class="font-size">
                        <th class="">Produto</th>
                        <th class="p-text-right">Qtde</th>
                        <th class="p-text-right">Preço NF</th>
                        <th class="p-text-right">VL Lista</th>
                        <th class="p-text-right">Desc%</th>
                        <th class="p-text-right">VL Venda</th>
                        <th class="p-text-right">VL Total</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-p>
                    <tr class="font-size p-shadow-2" (click)="mostrarIrmaos($event, p)">
                        <td class="{{telaDesktop ? 'chk': 'chk p-d-inline-flex'}}">
                            <span class="p-column-title"
                                [ngStyle]="telaDesktop ? {'display':'none'}:{'display':'contents'}">
                                <i class="pi pi-chevron-circle-down icone"></i>
                            </span>
                            <input type="hidden" value="{{p.produto}}" [(ngModel)]="p.produto" />
                            <input type="hidden" value="{{p.coeficienteDeCalculo}}"
                                [(ngModel)]="p.coeficienteDeCalculo" />
                            <p class="p-ml-2"
                                [innerHtml]="stringUtils.formatarDescricao(p.fabricante, p.fabricanteNome, p.produto, p.descricao)">
                            </p>
                        </td>
                        <td class="{{telaDesktop ? 'p-jc-between': p.mostrarCampos ? 'p-d-inline-flex p-jc-between' : 'p-jc-between'}}"
                            [ngStyle]="telaDesktop ? {'display':'table-cell'}:p.mostrarCampos ? {'display':'inline-flex'} : {'display':'none'}">
                            <span class="p-column-title p-ml-4">Quantidade</span>
                            <div class="p-text-right">
                                {{p.qtde}}
                            </div>

                        </td>
                        <td class="{{telaDesktop ? 'p-jc-between': p.mostrarCampos ? 'p-d-inline-flex p-jc-between' : 'p-jc-between'}}"
                            [ngStyle]="telaDesktop ? {'display':'table-cell'}:p.mostrarCampos ? {'display':'inline-flex'} : {'display':'none'}">
                            <span class="p-column-title p-ml-4">Preço NF</span>
                            <div class="p-text-right">
                                {{novoOrcamentoService.moedaUtils.formatarMoedaSemPrefixo(p.precoNF)}}
                            </div>
                        </td>
                        <td class="{{telaDesktop ? 'p-jc-between': p.mostrarCampos ? 'p-d-inline-flex p-jc-between' : 'p-jc-between'}}"
                            [ngStyle]="telaDesktop ? {'display':'table-cell'}:p.mostrarCampos ? {'display':'inline-flex'} : {'display':'none'}">
                            <span class="p-column-title p-ml-4">VL Lista:</span>
                            <div class="p-text-right">
                                {{novoOrcamentoService.moedaUtils.formatarMoedaSemPrefixo(p.precoLista)}}
                            </div>
                        </td>
                        <td class="{{telaDesktop ? 'p-jc-between': p.mostrarCampos ? 'p-d-inline-flex p-jc-between' : 'p-jc-between'}}"
                            [ngStyle]="telaDesktop ? {'display':'table-cell'}:p.mostrarCampos ? {'display':'inline-flex'} : {'display':'none'}">
                            <span class="p-column-title p-ml-4">Desc%</span>
                            <div class="p-text-right">
                                {{novoOrcamentoService.moedaUtils.formatarValorDuasCasaReturnZero(p.descDado)}}%
                            </div>
                        </td>
                        <td class="{{telaDesktop ? 'p-jc-between': p.mostrarCampos ? 'p-d-inline-flex p-jc-between' : 'p-jc-between'}}"
                            [ngStyle]="telaDesktop ? {'display':'table-cell'}:p.mostrarCampos ? {'display':'inline-flex'} : {'display':'none'}">
                            <span class="p-column-title p-ml-4">VL Venda</span>
                            <div class="p-text-right">
                                {{novoOrcamentoService.moedaUtils.formatarMoedaSemPrefixo(p.precoVenda)}}
                            </div>
                        </td>
                        <td class="{{telaDesktop ? 'p-jc-between': p.mostrarCampos ? 'p-d-inline-flex p-jc-between' : 'p-jc-between'}}"
                            [ngStyle]="telaDesktop ? {'display':'table-cell'}:p.mostrarCampos ? {'display':'inline-flex'} : {'display':'none'}">
                            <span class="p-column-title p-ml-4">VL Total:</span>
                            <div class="p-text-right">
                                {{novoOrcamentoService.moedaUtils.formatarMoedaSemPrefixo(p.totalItem)}}
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="footer" class="font-size">
                    <tr class="font-size">
                        <td class="p-text-right"></td>
                        <td></td>
                        <td class="p-text-right">
                        </td>
                        <td></td>
                        <td></td>
                        <td class="p-text-right">Total</td>
                        <td class="p-text-right">
                            {{novoOrcamentoService.moedaUtils.formatarMoedaComPrefixo(orcamento.vlTotal)}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <p-divider></p-divider>
            <div class="p-mt-3">
                <div class="p-grid p-col-12">
                    <div class="p-col-12 p-lg-6 p-md-6 p-sm-6 p-mx-0 p-px-0 font-size">
                        <span class="p-text-bold">Formas de pagamento:</span>
                    </div>
                    <div class="p-col-12 p-lg-6 p-md-6 p-sm-6 p-mx-0 p-px-0 font-size">
                        <span class="p-text-bold">Observações:</span>
                    </div>
                </div>
            </div>
            
            <div class="p-mt-3">
                <div *ngFor="let fp of orcamento.formaPagto">
                    <div class="p-grid p-col-12 p-my-2">
                        <div class="p-col-12 p-lg-6 p-md-6 p-sm-6 p-mx-0 p-px-0 font-size">
                            <ul class="p-mt-0">
                                <li>
                                    <div [innerHtml]="novoOrcamentoService.formatarFormaPagamento(orcamento, fp)">
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="p-col-12 p-lg-6 p-md-6 p-sm-6 p-mx-0 p-px-0 font-size">
                            <ul *ngIf="fp.observacoesGerais" class="p-mt-0">
                                <li>
                                    {{fp.observacoesGerais}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-accordionTab>
</p-accordion>