<!-- 
página de edição em ASP:
http://discomercio.com.br/homologacao/orcamento/OrcamentoNovoProdCompostoMask.asp para escolher os producots
http://discomercio.com.br/homologacao/orcamento/OrcamentoNovoConsiste.asp para listar os produtos

 -->

<section [ngClass]="{'sectionDesktop': telaDesktop, 'sectionCelular': !telaDesktop}">
	<header *ngIf="!prePedidoDto" [ngClass]="{'carregando': carregandoDto || carregandoProds}">Carregando dados</header>
	<form style="display: contents;" *ngIf="prePedidoDto">
		<header>
			<ng-container *ngIf="criando; else tituloEditando">Criar Pedido</ng-container>
			<ng-template #tituloEditando>Editar Pedido</ng-template>
		</header>
		<article class="indicadorlinha" [ngClass]="{'carregando': carregandoProds && clicouAddProd}">
			<div style="padding-bottom: 0.6em;"><strong>Cliente:</strong> {{cpfCnpj()}} -
				{{prePedidoDto.DadosCliente.Nome}}</div>

			<!--  RELAÇÃO DE PRODUTOS SEM PRESENÇA NO ESTOQUE 
				fazemos abaixo de cada um dos itens

				<% if Not (erro_produto_indisponivel And bloquear_cadastramento_quando_produto_indiponivel) then %>
				neste caso, ele não permite criar o pré-pedido. Por enquanto, estamos mandando para o servidor.

			-->


			<div style="width: 100%; text-align: right; padding-bottom: 1em;">
				<div>
					<a mat-raised-button (click)="adicionarProduto()"
						style="background-color: #007bff !important; color: white !important; font-size: 80%;">
						<span class="pi pi-plus"></span> Adicionar produto
					</a></div>
			</div>
			<!--  R E L A Ç Ã O   D E   P R O D U T O S  -->
			<!-- versão desktop -->
			<table class="tabelaitens destaquelinha" *ngIf="telaDesktop">
				<thead>

					<tr>
						<th style="width: 26rem; max-width: 26rem;" scope="col" align="left" valign="bottom"><span
								class="PLTe">Produto</span></th>

						<!-- esta coluna está oculta: $(".tdProdObs").hide(); 
						<th scope="col" class="MB tdProdObs" align="left" valign="bottom"><span class="PLTe">Observações</span></th> -->

						<th scope="col" class="hquantidade" align="right" valign="bottom"><span class="PLTd">Qtde</span>
						</th>
						<th *ngIf="permite_RA_Status" scope="col" class="preco" align="right" valign="bottom"><span
								class="PLTd">Preço</span></th>
						<th scope="col" class="hpreco" align="right" valign="bottom"><span class="PLTd">VL Lista</span>
						</th>
						<th scope="col" class="hdesconto" align="right" valign="bottom"><span class="PLTd">Desc%
							</span></th>
						<th scope="col" class="hpreco" align="right" valign="bottom"><span class="PLTd">VL Venda</span>
						</th>
						<th scope="col" class="hpreco" align="right" valign="bottom"><span class="PLTd">VL Total</span>
						</th>
					</tr>
				</thead>
				<tbody>

					<ng-container *ngFor="let i of prePedidoDto?.ListaProdutos">
						<tr>
							<td align="left" style="cursor: pointer;">
								{{i.Fabricante}}/{{i.Produto}} -
								<span [innerHTML]="i.Descricao"></span>
							</td>
							<td align="center">
								{{i.Qtde}}
							</td>
							<td *ngIf="permite_RA_Status" align="right">
								<mat-form-field class="preco">
									<input matInput type="text" required
										[value]="moedaUtils.formatarMoedaSemPrefixo(i.Preco_NF)"
										(keyup)="formatarPreco_NF($event,i)" (blur)="digitouPreco_NF($event,i)">
								</mat-form-field>
							</td>
							<td align="right">
								{{moedaUtils.formatarMoedaSemPrefixo(i.Preco_Lista)}}
							</td>
							<td align="right">
								<mat-form-field class="desconto">
									<input matInput type="text"
										[value]="moedaUtils.formatarMoedaSemPrefixo(i.Desc_Dado)"
										(keyup)="formatarDesc($event,i)" (blur)="digitouDesc($event,i)">
								</mat-form-field>%
							</td>
							<td align="right">
								<mat-form-field class="preco">
									<input matInput type="text" required
										[value]="moedaUtils.formatarMoedaSemPrefixo(i.Preco_Venda)"
										(keyup)="formataPreco_Venda($event,i)" (blur)="digitouPreco_Venda($event,i)">
								</mat-form-field>
							</td>
							<td align="right">
								{{moedaUtils.formatarMoedaSemPrefixo(i.TotalItem)}}
							</td>
						</tr>
						<tr *ngIf="estoqueExcedido(i)">
							<td colspan="6" class="avisoestoque" *ngIf="!permite_RA_Status">
								Quantidade solicitada é maior que o estoque disponível!
							</td>
							<td colspan="7" class="avisoestoque" *ngIf="permite_RA_Status">
								Quantidade solicitada é maior que o estoque disponível!
							</td>
						</tr>
						<tr *ngIf="produtoTemAviso(i)">
							<td colspan="6" class="avisoestoque" *ngIf="!permite_RA_Status">
								Aviso: {{produtoMsgAviso(i)}}
							</td>
							<td colspan="7" class="avisoestoque" *ngIf="permite_RA_Status">
								Aviso: {{produtoMsgAviso(i)}}
							</td>
						</tr>
						<!-- verifica a qtde máxima de venda permitida -->
						<tr *ngIf="qtdeVendaPermitida(i)">
							<td colspan="6" class="avisoestoque" *ngIf="!permite_RA_Status">
								{{this.msgQtdePermitida}}
							</td>
							<td colspan="7" class="avisoestoque" *ngIf="permite_RA_Status">
								{{this.msgQtdePermitida}}
							</td>
						</tr>
					</ng-container>

					<!-- parte de baixo da tabela -->
					<tr>
						<!-- pula as colunas vazias -->
						<td align="right" *ngIf="permite_RA_Status">
							<strong style="margin-right: 30%;">RA {{somarRA()}}
							</strong>
						</td>
						<td align="right"></td>
						<td *ngIf="!permite_RA_Status" align="right"></td>
						<td align="right" *ngIf="permite_RA_Status">
							<strong
								style="margin-left: 2em;">{{moedaUtils.formatarMoedaSemPrefixo(novoPrepedidoDadosService.totalPedidoRA())}}</strong>
						</td>
						<td align="right"> </td>
						<td align="right"> </td>
						<td align="right"> </td>
						<td align="right">
							<strong>{{moedaUtils.formatarMoedaSemPrefixo(novoPrepedidoDadosService.totalPedido())}}</strong>
						</td>
					</tr>

				</tbody>

			</table>




			<!--  R E L A Ç Ã O   D E   P R O D U T O S  -->
			<!-- versão celular -->
			<div *ngIf="!telaDesktop">
				<div *ngFor="let i of prePedidoDto?.ListaProdutos" class="caixacel ">
					<!-- sempre uma linha inteira -->
					<div style="cursor: pointer; padding-bottom: 1em; text-align: center">
						Produto
						{{i.Fabricante}}/{{i.Produto}} -
						<span [innerHTML]="i.Descricao"></span>
					</div>

					<div style="display: flex; justify-content: space-around;">
						<span>
							<mat-form-field class="quantidade" style="width: 5em">
								<input matInput [ngModelOptions]="{standalone: true}" type="number" required
									[(ngModel)]="i.Qtde" (keyup)="digitouQte(i)" (change)="digitouQte(i)"
									placeholder="Quantidade">
							</mat-form-field>
						</span>
						<span *ngIf="permite_RA_Status">
							<mat-form-field class="preco">
								<input matInput type="text" required
									[value]="moedaUtils.formatarMoedaSemPrefixo(i.Preco_NF)"
									(keyup)="formatarPreco_NF($event,i)" (blur)="digitouPreco_NF($event,i)"
									placeholder="Preço">
							</mat-form-field>
						</span>

						<span>
							<mat-form-field class="desconto">
								<input matInput type="text" [value]="moedaUtils.formatarMoedaSemPrefixo(i.Desc_Dado)"
									(keyup)="formatarDesc($event,i)" (blur)="digitouDesc($event,i)"
									placeholder="Desconto">
							</mat-form-field>%
						</span>
						<span>
							<mat-form-field class="preco">
								<input matInput type="text" required
									[value]="moedaUtils.formatarMoedaSemPrefixo(i.Preco_Venda)"
									(keyup)="formataPreco_Venda($event,i)" (blur)="digitouPreco_Venda($event,i)"
									placeholder=" VL Venda">
							</mat-form-field>
						</span>
					</div>
					<div style="display: flex; justify-content: space-around; align-items: center;">
						<span>
							VL Lista: {{moedaUtils.formatarMoedaSemPrefixo(i.Preco_Lista)}}
						</span>

						<span>VL Total:
							{{moedaUtils.formatarMoedaSemPrefixo(i.TotalItem)}}
						</span>

					</div>
					<!-- mensagem de estoque em linha separada -->
					<div *ngIf="estoqueExcedido(i)" class="avisoestoque" style="padding-top: 1em">
						<!-- Quantidade solicitada é maior que o estoque de {{estoqueExistente(i)}} -->
						Quantidade solicitada é maior que o estoque disponível!
					</div>
					<!-- aviso é em linha separada -->
					<div *ngIf="produtoTemAviso(i)" class="avisoestoque" style="padding-top: 1em">
						Aviso: {{produtoMsgAviso(i)}}
					</div>
					<div *ngIf="qtdeVendaPermitida(i)" class="avisoestoque" style="padding-top: 1em">
						<!-- Quantidade solicitada é maior que o estoque de {{estoqueExistente(i)}} -->
						Quantidade solicitada excede a quantidade máxima de venda permitida!
					</div>
				</div>

			</div>
			<div *ngIf="!telaDesktop">
				<!-- parte de baixo da tabela -->
				<!-- fazemos fora do div principal pq não queremos o destaque de linha aqui -->
				<div style="text-align: left; padding-right: 1em;">
					<span *ngIf="permite_RA_Status">
						<strong>RA: {{somarRA()}}</strong>
					</span>
				</div>
				<div style="text-align: left; padding-right: 1em;">
					<span *ngIf="permite_RA_Status">
						<strong>Total Preço:
							{{moedaUtils.formatarMoedaSemPrefixo(novoPrepedidoDadosService.totalPedidoRA())}}</strong>
					</span>
				</div>
				<div style="text-align: left; padding-right: 1em;">
					<span>
						<strong>Total VL Venda :
							{{moedaUtils.formatarMoedaSemPrefixo(novoPrepedidoDadosService.totalPedido())}}</strong>
					</span>
				</div>
			</div>
			<div *ngIf="prePedidoDto?.ListaProdutos.length > 0" align="right">
				<a mat-raised-button (click)="removerTodosProdutos()"
				style="background-color: #007bff !important; color: white !important; font-size: 80%;">
				<span class="pi pi-trash"></span>&nbsp; Excluir todos os produtos
			</a>
			</div>
			<div>
				<app-dados-pagto #dadosPagto></app-dados-pagto>
			</div>
		</article>
		<footer>
			<a mat-raised-button color="accent" (click)="voltar()"
				style="font-size:80%;background-color: #007bff !important;color: white !important;">
				<span class="pi pi-arrow-circle-left"> </span> Voltar
			</a>
			<button mat-raised-button color="accent" (click)="continuar()" type="button"
				style="background-color: #007bff !important;color: white !important;font-size:80%">
				<span class="pi pi-arrow-circle-right"> </span> Avançar
			</button>
		</footer>
	</form>
</section>