<div class="p-grid" [ngClass]="{'carregando': carregando}">
    <div class="p-col-12">
        <div class="card">
            <h4>Alterar Senha</h4>

            <form [formGroup]="form" autocomplete="off">
                <div class="p-fluid p-formgrid p-grid p-col-12 p-mx-0 p-px-0">

                    <div class="p-field p-col-12 p-lg-6 p-md-6 p-sm-6">
                        <label for="nome">E-mail/Usuário</label>
                        <input id="nome" type="text" pInputText value="{{usuarioSenha.nome}}" disabled="" />
                    </div>

                    <div class="p-field p-col-12 p-lg-6 p-md-6 p-sm-6 login-input">
                        <label for="senha">Senha</label>
                        <span class="p-input-icon-right">
                            <i style="cursor: pointer"
                                [ngClass]="password.type == 'password'? 'pi pi-eye': 'pi pi-eye-slash'"
                                (click)=" password.type = password.type == 'password' ? 'text' : 'password'"></i>
                            <input id="senha" type="password" name="pwd" pPassword formControlName="senha"
                                [feedback]="false" #password autofocus autocomplete="new-password">
                            <div *ngIf="validacaoFormularioService.verificaCampo(form,'senha')">
                                <small class="p-error"
                                    *ngIf="form.controls.senha.errors?.required">{{mensagemErro}}</small>
                            </div>
                        </span>
                    </div>

                    <div class="p-field p-col-12 p-lg-6 p-md-6 p-sm-6 login-input">
                        <label for="novaSenha">Nova Senha</label>
                        <span class="p-input-icon-right">
                            <i style="cursor: pointer"
                                [ngClass]="newPassword.type == 'password'? 'pi pi-eye': 'pi pi-eye-slash'"
                                (click)=" newPassword.type = newPassword.type == 'password' ? 'text' : 'password'"></i>
                            <input id="novaSenha" type="password" pPassword formControlName="novaSenha"
                                [feedback]="false" #newPassword />
                            <div *ngIf="validacaoFormularioService.verificaCampo(form,'novaSenha')">
                                <small class="p-error"
                                    *ngIf="form.controls.novaSenha.errors?.required">{{mensagemErro}}</small>
                                <small class="p-error" *ngIf="form.controls.novaSenha.errors?.pattern">A senha deve
                                    ter de 8 a 15 caracteres com pelo menos uma letra e um número!</small>
                            </div>
                        </span>
                    </div>

                    <div class="p-field p-col-12 p-lg-6 p-md-6 p-sm-6">
                        <label for="confirmacao">Confirmação</label>
                        <span class="p-input-icon-right">
                            <i style="cursor: pointer"
                                [ngClass]="confirmaPassword.type == 'password'? 'pi pi-eye': 'pi pi-eye-slash'"
                                (click)=" confirmaPassword.type = confirmaPassword.type == 'password' ? 'text' : 'password'"></i>
                            <input id="confirmacao" type="password" pInputText placeholder=""
                                formControlName="confirmacao" #confirmaPassword />
                            <div *ngIf="validacaoFormularioService.verificaCampo(form,'confirmacao')">
                                <small class="p-error"
                                    *ngIf="form.controls.confirmacao.errors?.required">{{mensagemErro}}</small>
                                <small class="p-error" *ngIf="form.controls.confirmacao.errors?.pattern">A senha deve
                                    ter de 8 a 15 caracteres com pelo menos uma letra e um número!</small>
                            </div>
                        </span>
                    </div>

                </div>
            </form>
            <div class="p-field p-d-flex p-jc-around p-mb-0 p-mt-12">
                <div class="p-field p-d-flex p-jc-around p-mb-0 p-mt-6">
                    <button pButton pRipple label="Salvar" icon="pi pi-save" (click)="atualizar()"></button>
                </div>
            </div>
        </div>
    </div>
</div>