<div class="p-grid">
    <div class="p-col-12">
        <div class="card">
            <h4>Meus dados</h4>
            <div class="p-fluid p-formgrid p-grid p-col-12 p-mx-0 p-px-0">

                <div class="p-field p-col-12 p-lg-4 p-md-6 p-sm-6">
                    <label><b>Nome:</b> {{usuario.nome}}</label>
                </div>

                <div class="p-field p-col-12 p-lg-4 p-md-6 p-sm-6">
                    <label>
                        <b>Tipo Usuário:</b>
                        {{usuario.tipoUsuario}} -
                        <label *ngIf="usuario.tipoUsuario == 0">GESTOR</label>
                        <label *ngIf="usuario.tipoUsuario == 1">VENDEDOR_UNIS</label>
                        <label *ngIf="usuario.tipoUsuario == 2">PARCEIRO</label>
                        <label *ngIf="usuario.tipoUsuario == 3">PARCEIRO_VENDEDOR</label>
                    </label>
                </div>

                <div class="p-field p-col-12 p-lg-4 p-md-6 p-sm-6">
                    <label><b>Loja Logado:</b> {{this.autenticacaoService._lojaLogado}}</label>
                </div>

                <div class="p-field p-col-12 p-lg-4 p-md-6 p-sm-6">
                    <label><b>Vendedor:</b> {{usuario.idVendedor}}</label>
                </div>

                <div class="p-field p-col-12 p-lg-4 p-md-6 p-sm-6">
                    <label><b>Parceiro:</b> {{usuario.idParceiro}}</label>
                </div>

                <div class="p-field p-col-12 p-lg-4 p-md-6 p-sm-6">
                    <label><b>Unidade Negócio:</b> {{usuario.unidadeNegocio}}</label>
                    <br><br>
                    <label><b>Versão frontend:</b> {{versaoApi}}</label>
                    <br>
                    <label><b>Versão backend:</b> {{versaoApi}}</label>
                </div>

                <div class="p-field p-col-12 p-lg-6 p-md-6 p-sm-6">
                    <label><b>Permissões:</b>

                        <div *ngFor="let p of usuario.permissoes;let i = index">
                            <div *ngFor="let o of operacao;let z = index">
                                <div *ngIf="p == o.Id">
                                <label>{{p}} - </label>
                                <label>{{operacao[z].Descricao}}</label>
                                </div>
                            </div>
                        </div>
                    </label>
                </div>

            </div>
        </div>
    </div>
</div>