<div class="p-grid">
    <div class="p-col-12">
        <div class="card">
            <h4>Downloads</h4>

            <div class="p-field p-d-flex p-jc-end p-mt-5">
                <div class="p-col-2"><button pButton pRipple label="Upload" icon="pi pi-upload" *ngIf="!ehArquivo && isAutorizado"
                    class="p-as-end p-mr-2" (click)="uploadClick();"
                    [ngClass]="{'p-button-icon-only':!telaDesktop}"></button></div>
                <div class="p-col-4"><button pButton pRipple label="Nova pasta" icon="{{!this.novaPasta? 'pi pi-plus' : 'pi pi-minus'}}"
                    *ngIf="!ehArquivo && isAutorizado" class="p-as-end" (click)="novaPastaClick()"
                    [ngClass]="{'p-button-icon-only':!telaDesktop, 'altura':!telaDesktop}"></button></div>
                <!-- <button pButton pRipple label="Baixar Arquivo" icon="pi pi-download" *ngIf="ehArquivo" class="p-as-end"
                    (click)="downloadClick()" [ngClass]="{'p-button-icon-only':!telaDesktop, 'altura':!telaDesktop}"></button>&nbsp; -->
                <div class="p-col-2"><button pButton pRipple label="Editar" icon="pi pi-pencil" *ngIf="isAutorizado && !edicao" class="p-as-end"
                    (click)="editarClick()" [ngClass]="{'p-button-icon-only':!telaDesktop}"></button></div>
                    <div class="p-col-2"><button pButton pRipple label="Cancelar" icon="pi pi-times" *ngIf="isAutorizado && edicao" class="p-as-end p-button-outlined"
                    (click)="editarClick()" [ngClass]="{'p-button-icon-only':!telaDesktop}"></button></div>
            </div>
            <form [formGroup]="form">
                <div class="p-col-12 p-d-inline-flex p-fluid p-grid p-ai-center" *ngIf="this.novaPasta">
                    <div class="p-col-12 p-field p-lg-5 p-md-5 p-sm-6 ">
                        <input id="pasta" type="text" pInputText placeholder="Nome da pasta" formControlName="pasta" />
                        <small class="p-error"
                            *ngIf="validacaoFormGroup.verificaCampo(form,'pasta')">{{mensagemErro}}</small>
                    </div>
                    <div class="p-col-12 p-field p-lg-5 p-md-5 p-sm-6">
                        <input id="descricaoPasta" type="text" pInputText placeholder="Descrição da pasta"
                            formControlName="descricaoPasta" />
                        <small class="p-error"
                            *ngIf="validacaoFormGroup.verificaCampo(form,'descricaoPasta')">{{mensagemErro}}</small>
                    </div>
                    <div class="p-field p-col-12 p-field p-lg-2 p-md-2 p-sm-12">
                        <button pButton pRipple label="Adicionar Pasta" icon="pi pi-plus" (click)="addPastaTable()"
                            class="p-as-end p-pl-3"></button>
                    </div>
                </div>
                <div class="p-fluid p-formgrid p-m-0" *ngIf="this.edicao">
                    <div class="p-col-12 p-grid p-d-inline-flex p-px-0  ">

                        <div class="p-field p-col-12 p-lg-3 p-md-3 p-sm-3">
                            <label class="p-d-block" for="txtNome">Nome</label>
                            <input id="txtNome" type="text" pInputText value="{{this.selectedFiles2.data.name}}"
                                formControlName="txtNome" />
                            <small class="p-error"
                                *ngIf="validacaoFormGroup.verificaCampo(form,'txtNome')">{{mensagemErro}}</small>
                        </div>
                        <div class="p-field p-col-12 p-lg-3 p-md-3 p-sm-3">
                            <label class="p-d-block" for="txtDescricao">Descrição</label>
                            <input id="txtDescricao" type="text" pInputText value={{this.selectedFiles2.data.descricao}}
                                formControlName="txtDescricao" />
                            <small class="p-error"
                                *ngIf="validacaoFormGroup.verificaCampo(form,'txtDescricao')">{{mensagemErro}}</small>
                        </div>

                        <div class="p-field p-col-12 p-lg-3 p-as-end p-md-3 p-sm-3">
                            <button pButton pRipple label="Salvar" icon="pi pi-save"
                                (click)="editarSalvarClick()"></button>
                        </div>
                        <div class="p-field p-col-12  p-lg-3 p-as-end p-md-3 p-sm-3">
                            <button pButton pRipple label="Excluir" icon="pi pi-trash" class="p-button-danger"
                                (click)="excluirClick()"></button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="p-fluid p-formgrid p-grid" *ngIf="ehUpload">
                <p-fileUpload class="p-col-12" id="arquivo" name="arquivo" url="{{urlUpload}}"
                    (onBeforeUpload)="onBeforeUpload($event)" (onUpload)="onUpload($event)" fileLimit="1" accept=".pdf"
                    maxFileSize="52428800">
                    <ng-template pTemplate="content">
                        <ul *ngIf="uploadedFiles.length">
                            <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                        </ul>
                    </ng-template>
                </p-fileUpload>
            </div>

            <p-treeTable [value]="files2" [columns]="cols" selectionMode="single" [(selection)]="selectedFiles2"
                dataKey="key">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" [ngStyle]="{'display': col.visible}">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
                    <a *ngIf="rowData.type == 'File'" (click)="downloadSelecionado(rowData)">                        
                        <tr [ttRow]="rowNode" [ttRow]="rowNode" [ttSelectableRow]="rowNode" (click)="controlaBotoes(rowData)">
                            <td *ngFor="let col of columns; let i = index"
                                [ngClass]="{'p-text-bold': col.field === 'name' && rowData.type == 'Folder', 'p-text-italic': rowData.type == 'File'}"
                                [ngStyle]="{'display': col.visible}" style="cursor: pointer;color: blue;text-decoration: underline;">
                                <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
                                <span *ngIf="i == 0 && rowData.type == 'Folder'" class="p-tree-node-icon"><i
                                        class="pi pi-folder"></i></span>
                                <span *ngIf="i == 0 && rowData.type == 'File'" class="p-tree-node-icon">
                                <i class="pi pi-file"></i>
                                </span>
                                
                                    {{rowData[col.field]}}

                            </td>
                        </tr>
                    </a>
                    <tr *ngIf="rowData.type != 'File'" [ttRow]="rowNode" [ttRow]="rowNode" [ttSelectableRow]="rowNode" (click)="controlaBotoes(rowData)">
                        <td *ngFor="let col of columns; let i = index"
                            [ngClass]="{'p-text-bold': col.field === 'name' && rowData.type == 'Folder', 'p-text-italic': rowData.type == 'File'}"
                            [ngStyle]="{'display': col.visible}">
                            <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
                            <span *ngIf="i == 0 && rowData.type == 'Folder'" class="p-tree-node-icon"><i
                                    class="pi pi-folder"></i></span>
                            <span *ngIf="i == 0 && rowData.type == 'File'" class="p-tree-node-icon">
                            <i class="pi pi-file"></i>
                            </span>
                            
                                {{rowData[col.field]}}

                        </td>
                    </tr>
                </ng-template>
            </p-treeTable>
        </div>
    </div>
</div>