<div class="p-grid" [ngClass]="{'carregando' : carregando}">
    <div class="p-col-12">
        <div class="card">
            <h4>Downloads</h4>

            <div class="p-field p-d-flex p-jc-end p-mt-5">
                <button pButton pRipple label="{{!this.ehUpload ? 'Upload' : 'Cancelar'}}"
                    icon="{{!this.ehUpload ? 'pi pi-upload': 'pi pi-times'}}" *ngIf="!ehArquivo && exibeBotaoUpload"
                    class="p-as-end p-mr-2" (click)="uploadClick();"
                    [ngClass]="{'p-button-icon-only':!telaDesktop, 'p-button-outlined':this.ehUpload}"></button>

                <button pButton pRipple label="{{!this.novaPasta ? 'Nova pasta': 'Cancelar'}}"
                    icon="{{!this.novaPasta? 'pi pi-plus' : 'pi pi-times'}}" *ngIf="!ehArquivo && exibeBotaoNovaPasta"
                    class="p-as-end" (click)="novaPastaClick()"
                    [ngClass]="{'p-button-icon-only':!telaDesktop, 'altura':!telaDesktop, 'p-button-outlined':this.novaPasta}"></button>&nbsp;

                <button pButton pRipple label="Editar" icon="pi pi-pencil" *ngIf="exibeBotaoEditarArquivoPasta && !edicao"
                    class="p-as-end" (click)="editarClick()" [ngClass]="{'p-button-icon-only':!telaDesktop}"></button>

                <button pButton pRipple label="Cancelar" icon="pi pi-times" *ngIf="edicao"
                    class="p-as-end p-button-outlined" (click)="editarClick()"
                    [ngClass]="{'p-button-icon-only':!telaDesktop}"></button>
            </div>
            <form [formGroup]="form">
                <div class="p-col-12 p-d-inline-flex p-fluid p-grid p-ai-center" *ngIf="this.novaPasta">
                    <div class="p-col-12 p-field p-lg-5 p-md-5 p-sm-6 ">
                        <input id="pasta" type="text" pInputText placeholder="Nome da pasta" formControlName="pasta" />
                        <small class="p-error"
                            *ngIf="validacaoFormGroup.verificaCampo(form,'pasta')">{{mensagemErro}}</small>
                    </div>
                    <div class="p-col-12 p-field p-lg-5 p-md-5 p-sm-6">
                        <input id="descricaoPasta" type="text" pInputText placeholder="Descrição da pasta"
                            formControlName="descricaoPasta" />
                        <small class="p-error"
                            *ngIf="validacaoFormGroup.verificaCampo(form,'descricaoPasta')">{{mensagemErro}}</small>
                    </div>
                    <div class="p-field p-col-12 p-field p-lg-2 p-md-2 p-sm-12">
                        <button pButton pRipple label="Adicionar Pasta" icon="pi pi-plus" (click)="addPastaTable()"
                            class="p-as-end p-pl-3"></button>
                    </div>
                </div>
                <div class="p-fluid p-formgrid p-m-0" *ngIf="this.edicao">
                    <div class="p-col-12 p-grid p-d-inline-flex p-px-0  ">

                        <div class="p-field p-col-12 p-lg-3 p-md-3 p-sm-3">
                            <label class="p-d-block" for="txtNome">Nome</label>
                            <input id="txtNome" maxlength="255" type="text" pInputText value="{{this.estruturaSelecionada.data.name}}"
                                formControlName="txtNome" />
                            <small class="p-error"
                                *ngIf="validacaoFormGroup.verificaCampo(form,'txtNome')">{{mensagemErro}}</small>
                        </div>
                        <div class="p-field p-col-12 p-lg-3 p-md-3 p-sm-3">
                            <label class="p-d-block" for="txtDescricao">Descrição</label>
                            <input id="txtDescricao"  maxlength="500" type="text" pInputText value={{this.estruturaSelecionada.data.descricao}}
                                formControlName="txtDescricao" />
                            <small class="p-error"
                                *ngIf="validacaoFormGroup.verificaCampo(form,'txtDescricao')">{{mensagemErro}}</small>
                        </div>

                        <div class="p-field p-col-12 p-lg-3 p-as-end p-md-3 p-sm-3">
                            <button pButton pRipple label="Salvar" icon="pi pi-save"
                                (click)="editarSalvarClick()"></button>
                        </div>
                        <div class="p-field p-col-12  p-lg-3 p-as-end p-md-3 p-sm-3" *ngIf="exibeBotaoExcluirArquivoPasta">
                            <button pButton pRipple label="Excluir" icon="pi pi-trash" class="p-button-danger"
                                (click)="excluirClick()"></button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="p-fluid p-formgrid p-grid" *ngIf="ehUpload">
                <p-fileUpload  class="p-col-12" id="arquivo" name="arquivo" [customUpload]="true" (uploadHandler)="myUploader($event)"
                    fileLimit="1" accept=".pdf" maxFileSize="52428800" chooseLabel="Carregar" cancelLabel="Cancelar">
                    <ng-template pTemplate="content">
                        <ul *ngIf="uploadedFiles.length">
                            <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                        </ul>
                    </ng-template>
                </p-fileUpload>
            </div>
            
            <p-treeTable [value]="estrutura" [columns]="cols" selectionMode="single" [(selection)]="estruturaSelecionada" dataKey="key">
                <ng-template pTemplate="header" let-columns>
                    <tr *ngIf="telaDesktop">
                        <th *ngFor="let col of columns" [ngStyle]="{'display': col.visible}"
                            [ngClass]="{'p-col-5': col.field == 'name', 'p-col-2': col.field == 'size', 'p-col-3': col.field == 'descricao', 'p-col-2 p-text-center': col.field == 'acoes'}">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
                    <tr [ttRow]="rowNode" [ttRow]="rowNode" [ttSelectableRow]="rowNode"
                        (click)="controlaBotoes(rowData)">
                        <td *ngFor="let col of columns; let i = index"
                            [ngClass]="{'p-text-bold': col.field === 'name' && rowData.type == 'Folder', 'p-text-italic': rowData.type == 'File'}"
                            [ngStyle]="{'display': col.visible}">
                            <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
                            <span *ngIf="i == 0 && rowData.type == 'Folder'" class="p-tree-node-icon"><i
                                    class="pi pi-folder"></i>&nbsp;</span>
                            <span *ngIf="i == 0 && rowData.type == 'File'" class="p-tree-node-icon"><i
                                    class="pi pi-file"></i>&nbsp;</span>
                            {{rowData[col.field]}}
                            <div *ngIf="rowData.type == 'File' && col.field == 'acoes'" class="p-text-center">
                                <button pButton pRipple label="Download" icon="pi pi-download" class="p-as-end p-mr-2"
                                    (click)="downloadSelecionado(rowData)"
                                    [ngClass]="{'p-button-icon-only':!telaDesktop}"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-treeTable>
        </div>
    </div>
</div>