<div class="p-grid">
    <div class="p-col-12">
        <div class="card">
            <h4>Informações do Produto</h4>
        </div>
    </div>
</div>

<div class="p-grid">
    <div class="p-col-12">
        <div class="card p-d-block p-d-lg-flex p-d-md-flex p-d-sm-flex">
            <div class="p-fluid p-formgrid p-col-12 p-lg-7 p-md-7 p-sm-6 p-mx-0 p-px-0"
                *ngIf="produtoDados != undefined">
                <div class="p-text-bold">Fabricante:</div>
                <div class="p-field p-col-12">
                    <!-- <span>{{produtoDados[0].fabricante}} - {{produtoDados[0].fabricanteNome}}</span> -->
                    <span>
                        {{ produtoDados.length > 0 ? produtoDados[0].fabricante + ' - ' : '' }}
                        {{ produtoDados.length > 0 ? produtoDados[0].fabricanteNome : ''}}
                    </span>
                </div>
                <div class="p-text-bold">Código:<br></div>
                <div class="p-field p-col-12">
                    <span>{{ produtoDados.length > 0 ? produtoDados[0].produto : '' }}</span>
                </div>
                <div class="p-text-bold">Descrição:</div>
                <div class="p-field p-col-12">
                    <span>{{ produtoDados.length > 0 ? produtoDados[0].descricao : '' }}</span>
                </div>
                <div class="p-text-bold">Descrição Completa:</div>
                <div class="p-field p-col-12">
                    <span [innerHTML]=" produtoDados.length > 0 ? produtoDados[0].descricaoCompleta : '' "></span>
                </div>

            </div>
            <div class="p-col-12 p-lg-5 p-md-5 p-sm-6">
                <div class="card">
                    <div>
                        <div class="p-mb-3" class="p-ai-center p-d-flex p-justify-center p-mb-3">
                            <img *ngIf="produto.imagem != null" src="{{imgUrl}}{{produto.imagem?.Caminho}}" class="product-image" style="max-width: 300px; max-height: 200px;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="p-grid">
    <div class="p-col-12">
        <div class="card">
            <div class="p-fluid p-formgrid p-col-12 p-mx-0 p-px-0 p-field" *ngIf="produtoDados != undefined">
                <div class=" p-col-12 p-d-inline-flex" *ngFor="let prop of produtoDados; let i=index">
                    <div class="p-col-6">
                        <div class="p-text-bold"><span>{{prop.nomePropriedade}}:</span></div>
                    </div>
                    <div class="p-col-6">
                        <div><span>{{prop.valorPropriedade}}</span></div>
                    </div>
                </div>
            </div>
            <div class="p-col-12 p-text-center">
                <button pButton type="button" label="Voltar" icon="fa fa-reply" (click)="voltarClick()"></button>
            </div>
        </div>
    </div>
</div>
