<div class="p-col-12" [ngClass]="{'carregando': carregando}">
    <div class="p-fluid p-formgrid p-grid p-col-12 p-mx-0 p-px-0">

        <div class="p-col-12 p-field p-grid p-pr-0">
            <div class="p-field p-col-12 p-lg-3 p-md-6 p-sm-6">
                <label for="produto">Produto ou código</label>
            <input id="produto" type="text" pInputText [(ngModel)]="produto" />
            </div>
            <div class="p-field p-col-12 p-lg-3 p-md-6 p-sm-6">
                <label for="fabricante">Fabricante</label>
                <p-multiSelect [options]="fabricantes" [(ngModel)]="fabricantesSelecionados" defaultLabel="Selecione"
                    optionLabel="Value" optionValue="Id" emptyMessage="Nenhum item encontrado"
                    emptyFilterMessage="Nenhum item encontrado" resetFilterOnHide="true"></p-multiSelect>
            </div>
            <div class="p-field p-col-12 p-lg-3 p-md-6 p-sm-6 p-pr-md-0 p-pr-sm-0">
                <label for="grupo">Categoria</label>
                <p-multiSelect [options]="categorias" [(ngModel)]="categoriasSelecionadas" defaultLabel="Selecione"
                    optionLabel="Value" optionValue="Id" emptyMessage="Nenhum item encontrado"
                    emptyFilterMessage="Nenhum item encontrado" resetFilterOnHide="true"></p-multiSelect>
            </div>
            <div class="p-field p-col-12 p-lg-3 p-md-6 p-sm-6">
                <label for="ciclo">Ciclo</label>
                <p-dropdown [options]="ciclos" [(ngModel)]="cicloSelecionado"
                    [showClear]="true" optionValue="Id" optionLabel="Value" placeholder="Selecione"
                    emptyMessage="Nenhum item encontrado">
                </p-dropdown>
            </div>
            <div class="p-field p-col-12 p-lg-3 p-md-6 p-sm-6 p-pr-md-0 p-pr-sm-0">
                <label for="capacidade">Capacidade</label>
                <p-multiSelect [options]="capacidades" [(ngModel)]="capacidadesSelecionadas" defaultLabel="Selecione"
                    optionLabel="Value" optionValue="Id" emptyMessage="Nenhum item encontrado"
                    emptyFilterMessage="Nenhum item encontrado" resetFilterOnHide="true"></p-multiSelect>
            </div>
        </div>

        <div class="p-col-12 p-field p-grid p-pr-0">
            <div class="p-field p-col-12 p-lg-3 p-md-6 p-sm-6"></div>
            <div class="p-field p-col-12 p-lg-3 p-md-6 p-sm-6"></div>
            <div class="p-field p-col-12 p-lg-3 p-md-6 p-sm-6 p-pr-md-0 p-pr-sm-0"></div>
            <div class="p-field p-col-12 p-lg-3 p-md-6 p-sm-6">
                <button pButton type="button" label="Pesquisar" icon="pi pi-search" (click)="pesquisar()"></button>
            </div>
        </div>

    </div>
    <div class="p-col-12">
        <p-table #dataTable [value]="prodsTela" [responsive]="true" responsiveLayout="stack" selectionMode="single"
            autoLayout="true" [(selection)]="selecionado" styleClass="p-datatable-customers p-datatable-sm"
            [rows]="novoOrcamentoService.pageItens" [filterDelay]="0" [paginator]="true" [(first)]="first">
            <ng-template pTemplate="body" let-p>
                <ng-container>

                    <tr class="p-selectable-row p-field-checkbox" id="linha_tabela" class="font-size"
                        [pSelectableRow]="p" *ngIf="p.vendavel && p.produtoDto.unitarioVendavel">
                        <td class="p-d-inline-flex" style="width: 100%">
                            <span>
                                <p-tableRadioButton [value]="p" (click)="marcarLinha($event)"></p-tableRadioButton>
                            </span>
                            <p class="p-ml-2"
                                [innerHtml]="stringUtils.formatarDescricao(p.produtoDto.fabricante, p.produtoDto.fabricante_Nome, p.produtoDto.produto, p.produtoDto.descricaoHtml)">
                            </p>
                        </td>
                        <td class="{{telaDesktop ? 'p-jc-between' : 'p-d-inline-flex p-jc-between'}}">
                            <span class="p-column-title p-ml-4">VL Lista:</span>
                            <div class="p-text-right">
                                {{moedaUtils.formatarMoedaComPrefixo(p.produtoDto.precoLista)}}
                            </div>
                        </td>
                    </tr>
                    <tr *ngFor="let f of p.Filhos" [ngStyle]="{}">
                        <ng-container *ngIf="telaDesktop">
                            <td class="p-pl-6">
                                <span class="p-column-title">Produto</span>
                                {{f.qtde}} x {{ProdutoTelaFabrProd(f.fabricante, f.fabricante_Nome, f.produto)}} -
                                <span [innerHTML]="produtoDescr(f.fabricante, f.produto).descricaoHtml"></span>
                            </td>
                            <td class="p-pl-6">
                                <span class="p-column-title" *ngIf="f.alertas != null">Alerta:</span>
                                <div *ngIf="!novoOrcamentoService.onResize() && f.alertas != null" class="p-text-right">
                                    <p-avatar label="!" styleClass="p-mr-2" size="small" shape="circle"
                                        pTooltip="{{f.alertas}}"
                                        [style]="{'background-color':'red', 'color': '#ffffff', 'width':'1rem', 'height':'1rem'}">
                                    </p-avatar>
                                </div>
                                <div *ngIf="novoOrcamentoService.onResize() && f.alertas != null" class="p-text-right"
                                    style="color:red">
                                    {{f.alertas}}
                                </div>
                            </td>
                        </ng-container>
                    </tr>
                </ng-container>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td colspan="7" class="p-text-center">
                        Clique em Pesquisar para listar produtos, utilize os filtros para agilizar a pesquisa.
                    </td>
                </tr>
            </ng-template>

        </p-table>
    </div>
    <div class="footer">
        <button type="text" pButton label="Ok" (click)="addProduto()" style="width: auto"></button>
    </div>
</div>