<div class="p-col-12" [ngClass]="{'carregando': carregando}">
    <div class="p-fluid p-formgrid p-grid p-col-12 p-mx-0 p-px-0">
        <div class="p-col-12 p-field p-grid p-pr-0">
            <div class="p-field p-col-12 p-lg-2 p-md-3 p-sm-6 p-as-end">
                <label for="produto">Produto ou código</label>
                <input id="produto" type="text" pInputText [(ngModel)]="produto"
                    [ngModelOptions]="{standalone: true}" />
            </div>
            <div class="p-field p-col-12 p-lg-2 p-md-3 p-sm-6 p-as-end">
                <label for="fabricante">Fabricante</label>
                <p-multiSelect [options]="fabricantes" [(ngModel)]="fabricantesSelecionados" defaultLabel="Selecione"
                    optionLabel="Value" optionValue="Id" emptyMessage="Nenhum item encontrado"
                    emptyFilterMessage="Nenhum item encontrado" resetFilterOnHide="true"
                    [ngModelOptions]="{standalone: true}"></p-multiSelect>
            </div>
            <div class="p-field p-col-12 p-lg-2 p-md-3 p-sm-6 p-pr-md-0 p-pr-sm-0 p-as-end">
                <label for="grupo">Categoria</label>
                <p-multiSelect [options]="categorias" [(ngModel)]="categoriasSelecionadas" defaultLabel="Selecione"
                    optionLabel="Value" optionValue="Id" emptyMessage="Nenhum item encontrado"
                    emptyFilterMessage="Nenhum item encontrado" resetFilterOnHide="true"
                    [ngModelOptions]="{standalone: true}"></p-multiSelect>
            </div>
            <div class="p-field p-col-12 p-lg-2 p-md-3 p-sm-6 p-as-end">
                <label for="ciclo">Ciclo</label>
                <p-dropdown [options]="ciclos" [(ngModel)]="cicloSelecionado" [showClear]="true" optionValue="Id"
                    optionLabel="Value" placeholder="Selecione" emptyMessage="Nenhum item encontrado"
                    [ngModelOptions]="{standalone: true}">
                </p-dropdown>
            </div>
            <div class="p-field p-col-12 p-lg-2 p-md-3 p-sm-6 p-pr-md-0 p-pr-sm-0 p-as-end">
                <label for="capacidade">Capacidade</label>
                <p-multiSelect [options]="capacidades" [(ngModel)]="capacidadesSelecionadas" defaultLabel="Selecione"
                    optionLabel="Value" optionValue="Id" [ngModelOptions]="{standalone: true}"
                    emptyMessage="Nenhum item encontrado" emptyFilterMessage="Nenhum item encontrado"
                    resetFilterOnHide="true"></p-multiSelect>
            </div>
            <div class="p-field p-col-12 p-lg-2 p-md-3 p-sm-6 p-pr-md-0 p-pr-sm-0 p-as-end">
                <div class="">
                    <button pButton type="button" label="Pesquisar" icon="pi pi-search" (click)="pesquisar()"></button>
                </div>
            </div>
        </div>
    </div>
    <div class="p-col-12">
        <div
            style="max-height: calc(100vh - 300px); min-height: calc(100vh - 300px); overflow:auto; border: 1px solid #cecece;">
            <p-table #dataTable [value]="prodsTela" [responsive]="true" responsiveLayout="stack" autoLayout="true"
                styleClass="p-datatable-customers p-datatable-sm" [filterDelay]="0">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Descrição</th>
                        <th class="p-text-center">Qtde</th>
                        <th class="p-text-center">Preço</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-p style="max-height: 350px; display: block;">
                    <ng-container *ngIf="p.produtoDto.unitarioVendavel && p.visivel">

                        <tr class="p-field-checkbox" id="linha_tabela_{{p.produtoDto.produto}}" class="font-size"
                            [pSelectableRow]="p" *ngIf="p.vendavel">
                            <td class="p-d-inline-flex" style="width: 100%">
                                <p class="p-ml-2"
                                    [innerHtml]="stringUtils.formatarDescricao(p.produtoDto.fabricante, p.produtoDto.fabricante_Nome, p.produtoDto.produto, p.produtoDto.descricaoHtml)">
                                </p>
                            </td>
                            <td class="{{telaDesktop ? 'p-jc-between' : 'p-d-inline-flex p-jc-between'}}">
                                <span class="pi pi-minus-circle p-px-1" (click)="subtrairQtde(p)"> </span>
                                <input class="p-col-5 p-text-right" type="text" pInputText [(ngModel)]="p.qtde"
                                    (keyup)="formatarQtde($event, p)" />
                                <span class="pi pi-plus-circle p-px-1" (click)="addQtde(p)"> </span>
                            </td>
                            <td class="{{telaDesktop ? 'p-jc-between p-text-nowrap' : 'p-d-inline-flex p-jc-between'}}">
                                <span class="p-column-title p-ml-4">VL Lista:</span>
                                <div class="p-text-right">
                                    {{moedaUtils.formatarMoedaComPrefixo(p.produtoDto.precoLista)}}
                                </div>
                            </td>
                        </tr>
                        <tr *ngFor="let f of p.Filhos" [ngStyle]="{}">
                            <ng-container *ngIf="telaDesktop && f.visivel">
                                <td class="p-pl-6">
                                    <span class="p-column-title">Produto</span>
                                    {{f.qtde}} x {{ProdutoTelaFabrProd(f.fabricante, f.fabricante_Nome, f.produto)}} -
                                    <span [innerHTML]="produtoDescr(f.fabricante, f.produto).descricaoHtml"></span>
                                </td>
                                <td class="p-pl-6">
                                    <span class="p-column-title" *ngIf="f.alertas != null">Alerta:</span>
                                    <div *ngIf="!novoOrcamentoService.onResize() && f.alertas != null"
                                        class="p-text-right">
                                        <p-avatar label="!" styleClass="p-mr-2" size="small" shape="circle"
                                            pTooltip="{{f.alertas}}"
                                            [style]="{'background-color':'red', 'color': '#ffffff', 'width':'1rem', 'height':'1rem'}">
                                        </p-avatar>
                                    </div>
                                    <div *ngIf="novoOrcamentoService.onResize() && f.alertas != null"
                                        class="p-text-right" style="color:red">
                                        {{f.alertas}}
                                    </div>
                                </td>
                            </ng-container>
                        </tr>
                    </ng-container>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="7" class="p-text-center">
                            Clique em Pesquisar para listar produtos, utilize os filtros para agilizar a pesquisa.
                        </td>
                    </tr>
                </ng-template>

            </p-table>
        </div>
        <div class="p-col-12 p-d-inline-flex p-jc-end p-px-0 p-py-2">
            <div class="p-p-2">
                <button type="text" pButton label="Adicionar" icon="pi pi-plus" (click)="addProduto()"
                    style="width: auto"></button>
            </div>
            <div class="p-p-2">
                <button type="text" pButton label="Fechar" icon="pi pi-times" (click)="fechar()"
                    style="width: auto"></button>
            </div>
        </div>
    </div>

</div>