<div [ngClass]="{'carregando': carregando}">
    <div class="p-fluid p-grid">
        <div class="p-field p-col-12 p-lg-2 p-md-2 p-sm-3 p-as-end p-py-0">
            <label for="cep">Cep</label>
            <p-inputMask type="text" id="cep" [(ngModel)]="Cep" (blur)="saiuCep()" placeholder="CEP" mask="{{mascaraCep}}"></p-inputMask>
        </div>
        <div class="p-as-end p-field">
            <button pButton pRipple label="Não sei o Cep" icon="pi pi-search" (click)="buscarCep()"></button>
        </div>
        <div class="p-field p-col-12 p-lg-5 p-md-7 p-sm-5 p-as-end p-py-0">
            <label for="endereco">Endereço</label>
            <input id="endereco" pInputText [(ngModel)]="Endereco" placeholder="Endereço" />
        </div>
        <div class="p-field p-col-2 p-sm-2 p-as-end p-py-0">
            <label for="numero">Nº</label>
            <input id="numero" pInputText [(ngModel)]="Numero" placeholder="Nº" />
        </div>
        <div class="p-field p-col-10 p-lg-3 p-md-6 p-sm-6 p-as-end p-py-0">
            <label for="complemento">Complemento</label>
            <input id="complemento" pInputText [(ngModel)]="Complemento" placeholder="Complemento" />
        </div>
    </div>
    <div class="p-fluid p-grid">
        <div class="p-field p-as-end p-py-0 p-col-12 p-lg-5 p-md-5 p-sm-5">
            <label for="bairro">Bairro</label>
            <input id="bairro" pInputText [(ngModel)]="Bairro" placeholder="Bairro" />
        </div>
        <div class="p-field p-col-10 p-lg-5 p-md-5 p-sm-5 p-as-end p-py-0">
            <label for="cidade">Cidade</label>
            <input id="cidade" pInputText [(ngModel)]="Cidade" placeholder="Cidade" />
        </div>
        <div class="p-field p-col-2 p-as-end p-py-0">
            <label for="uf">UF</label>
            <input id="uf" pInputText [(ngModel)]="Uf" placeholder="UF" />
        </div>
    </div>
</div>