// campos de edicao de endereço

.edicao-endereco {
  //alterantiva para usar a linha toda: width: calc(100% - 2em);
  width: 55ch;
}
.edicao-numero{
    width: 18ch;
}
.edicao-compl{
    width: 30ch;
}
.edicao-bairro{
    width: 40ch;
}
.edicao-cidade{
    width: 40ch;
}
.edicao-uf{
    width: 8em;
}
.edicao-cep{
    width: 30ch;
}
