<div class="p-grid">
    <div class="p-col-12">
        <div class="card" [ngClass]="{'carregando' : carregando}">

            <h4 style="color: #007BFF"><i class="fa fa-image"></i>&nbsp;Imagem</h4>
        </div>
    </div>
</div>

<div class="p-grid p-d-lg-flex">
    <div class="p-col-12">
        <div class="card" [ngClass]="{'carregando' : carregando}">
            <div class="p-mb-3" class="p-ai-center p-d-flex p-justify-center p-mb-3">
                <div class="product-item">
                    <div class="product-item-content" *ngIf="produtoDetalhe.imagem!= null">
                        <div class="p-mb-12">
                            <img src="{{imgUrl}}{{produtoDetalhe.imagem.Caminho}}" class="product-image"
                                style="max-width: 300px; max-height: 200px;" />
                        </div>
                        <div class="p-mb-12">
                            <center>
                                <p-button type="button" styleClass="p-button-help p-button-rounded" icon="pi pi-trash"
                                    (click)="excluirImagemClick(produtoDetalhe.imagem.Id)" pTooltip="Excluir imagem">
                                </p-button>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
            <p-fileUpload id="arquivo" name="arquivo" *ngIf="produtoDetalhe.imagem == null" accept="image/*"
                [maxFileSize]="52428800" label="Import" chooseLabel="Upload" class="mr-2 inline-block"
                chooseLabel="Selecionar" chooseIcon="pi pi-upload" [showUploadButton]=false uploadIcon="fa fa-send"
                [customUpload]="true" [showCancelButton]=false (onSelect)="onSelectFile($event)">
            </p-fileUpload>

        </div>
    </div>
</div>
<div class="p-grid">
    <div class="p-col-12">
        <div class="card" [ngClass]="{'carregando' : carregando}">

            <h4 style="color: #007BFF">
                <i class="fa fa-info-circle" style="font-size:36px"></i>
                &nbsp;Características do Produto
            </h4>
        </div>
    </div>
</div>
<div class="p-grid">
    <div class="p-col-12">
        <div class="card" [ngClass]="{'carregando' : carregando}">
            <form [formGroup]="form">
                <p align="right"><button pButton type="button" label="Voltar" icon="fa fa-reply"
                        (click)="voltarClick()"></button>&nbsp;
                    <button pButton type="button" label="Salvar" icon="fa fa-save"
                        (click)="atualizarProdutoClick()"></button>
                </p>
                <div class="p-d-lg-flex p-d-md-flex">
                    <div class="p-fluid p-formgrid p-col-12 p-lg-7 p-md-7 p-mx-0 p-px-0">
                        <div class="p-text-bold">Exibir no Catálogo:</div>
                        <div class="p-field">
                            <p-inputSwitch id="ativo" formControlName="ativo" [(ngModel)]="produtoDetalhe.Ativo">
                            </p-inputSwitch>
                        </div>
                        <div class="p-text-bold">Nome do Fabricante:</div>
                        <div class="p-field">
                            <p-dropdown id="dpdFabricante" [options]="fabricantes" formControlName="fabricante"
                                placeholder="Selecione" optionValue="Fabricante" optionLabel="Descricao"
                                [(ngModel)]="produtoDetalhe.Fabricante"></p-dropdown>

                            <!-- <input id="fabricante" name="descricao" type="text" pInputText placeholder="Fabricante"
                                formControlName="fabricante" value="{{produtoDetalhe.Fabricante}}" /> -->
                        </div>
                        <small class="p-error"
                            *ngIf="validacaoFormularioService.verificaCampo(form,'fabricante')">{{mensagemErro}}</small>

                        <div class="p-text-bold">Código:<br></div>
                        <div class="p-field">
                            <input id="produto" formControlName="produto" type="text" pInputText
                                value="{{produtoDetalhe.Produto}}" disabled="true" />
                        </div>

                        <div class="p-field">
                            <label class="p-text-bold">Descrição:</label>
                            <input id="nome" name="nome" type="text" pInputText placeholder="Nome do Produto"
                                formControlName="nome" [(ngModel)]="produtoDetalhe.Nome" />
                        </div>
                        <small class="p-error"
                            *ngIf="validacaoFormularioService.verificaCampo(form,'nome')">{{mensagemErro}}</small>

                        <div class="p-field">
                            <label for="descricao" class="p-text-bold">Descrição Completa:</label>
                            <input id="descricao" name="descricao" type="text" pInputText
                                placeholder="Descrição completa" formControlName="descricao"
                                [(ngModel)]="produtoDetalhe.Descricao" />
                        </div>
                        <small class="p-error"
                            *ngIf="validacaoFormularioService.verificaCampo(form,'descricao')">{{mensagemErro}}</small>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>

<!-- PROPRIEDADES DO PRODUTO -->
<div class="p-grid">
    <div class="p-col-12">
        <div class="card" [ngClass]="{'carregando' : carregando}">
            <h4 style="color: #007BFF"><i class="fa fa-gear" style="font-size:36px;"></i>&nbsp;Propriedades do Produto
            </h4>
        </div>
    </div>
</div>

<div class="p-grid">
    <div class="p-col-12">
        <div class="card">
            <div class="p-col-12 p-px-0">
                <div class="p-col-12 p-fluid p-formgrid p-lg-12 p-md-12 p-px-0" [ngClass]="{'carregando' : carregando}"
                    *ngFor="let lista of propriedades; let i=index">
                    <div class="p-text-bold" id="lbl-propriedade-{{lista.id}}">{{lista.descricao}}:</div>
                    <div id="elemento" *ngIf="lista.IdCfgTipoPropriedade == 0" class="p-col-12">
                        <div class="p-col-3 p-md-1 p-sm-2" style="display: inline-block;vertical-align: middle;">
                            <p-inputSwitch id="campo-ativo-{{lista.id}}" (onChange)="onChangeAtivo(lista.id,i)"
                                [(ngModel)]="!produtosParaTela[i].propriedadeOcultaItem">
                            </p-inputSwitch>
                        </div>
                        <div class="p-col-9 p-sm-5" style="display: inline-block;vertical-align: middle;">
                            <input id="campo-{{lista.id}}" type="text" pInputText
                                [(ngModel)]="produtosParaTela[i].valorPropriedade" />
                        </div>
                    </div>
                    <div id="elemento" *ngIf="lista.IdCfgTipoPropriedade == 1" class="p-col-12">
                        <div class="p-col-3 p-md-1 p-sm-2" style="display: inline-block;vertical-align: middle;">
                            <p-inputSwitch id="campo-ativo-{{lista.id}}"
                                (onChange)="onChangeAtivo(produtosParaTela[i].idPropriedade, i)"
                                [(ngModel)]="!produtosParaTela[i].propriedadeOcultaItem">
                            </p-inputSwitch>
                        </div>
                        <!-- pensar
                                mostrar valor selecionado no input e ao clicar esconder e mostrar o dropdown
                            -->
                        <!-- <div *ngIf="!produtosParaTela[i].clicou" class="p-col-9 p-sm-5" style="display: inline-block;vertical-align: middle;">
                            <input id="campo-{{lista.id}}" type="text" pInputText placeholder="Selecione"
                                [(ngModel)]="produtosParaTela[i].valorPropriedade" (click)="mudarValorLista(produtosParaTela[i], 'campo-'+lista.id)" />
                        </div> -->
                        <div class="p-col-9 p-sm-5" style="display: inline-block;vertical-align: middle;">
                            <p-dropdown id="campo-{{lista.id}}" [options]="lstOpcoes[lista.id]" optionValue="value"
                                optionLabel="label" placeholder="Selecione"
                                [(ngModel)]="produtosParaTela[i].idValorPropriedadeOpcao" [showClear]="true">
                            </p-dropdown>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <p-table #dt1 [value]="propriedades">
                <ng-template pTemplate="body" let-lista let-i="rowIndex">
                    <div class="p-col-12 p-fluid p-formgrid p-lg-12 p-md-12 p-px-0">
                        <div class="p-text-bold" id="lbl-propriedade-{{lista.id}}">{{lista.descricao}}:</div>
                        <div id="elemento" *ngIf="lista.IdCfgTipoPropriedade == 0" class="p-col-12">
                            <div class="p-col-3 p-md-1 p-sm-2" style="display: inline-block;vertical-align: middle;">
                                <p-inputSwitch id="campo-ativo-{{lista.id}}" (onChange)="onChangeAtivo(lista.id,i)"
                                    [(ngModel)]="!produtosParaTela[i].propriedadeOcultaItem">
                                </p-inputSwitch>
                            </div>
                            <div class="p-col-9 p-sm-5" style="display: inline-block;vertical-align: middle;">
                                <input id="campo-{{lista.id}}" type="text" pInputText placeholder="{{lista.descricao}}"
                                    [(ngModel)]="produtosParaTela[i].valorPropriedade" />
                            </div>
                        </div>
                        <div id="elemento" *ngIf="lista.IdCfgTipoPropriedade == 1" class="p-col-12">
                            <div class="p-col-3 p-md-1 p-sm-2" style="display: inline-block;vertical-align: middle;">
                                <p-inputSwitch id="campo-ativo-{{lista.id}}"
                                    (onChange)="onChangeAtivo(produtosParaTela[i].idPropriedade, i)"
                                    [(ngModel)]="!produtosParaTela[i].propriedadeOcultaItem">
                                </p-inputSwitch>
                            </div>
                            <div class="p-col-9 p-sm-5" style="display: inline-block;vertical-align: middle;">
                                <p-dropdown id="campo-{{lista.id}}" [options]="lstOpcoes[lista.id]" optionValue="value"
                                    optionLabel="label" placeholder="Selecione"
                                    [(ngModel)]="produtosParaTela[i].idValorPropriedadeOpcao" [showClear]="true">
                                </p-dropdown>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-table> -->
        </div>
    </div>
</div>

<!-- PROPRIEDADES DO PRODUTO -->