.boleto{
    margin-right: 100em;
}

.mat-select-panel-wrap div{
    min-width: calc(100% - 32px) !important;
    margin-left: 19% !important;
  }

  .cdk-overlay-pane{
      margin-left: 38% !important;
      min-width: 0px !important;
  }

 