<section [ngClass]="{'sectionDesktop': telaDesktop, 'sectionCelular': !telaDesktop}">
    <form style="display: contents;" *ngIf="prePedidoDto">
        <header>
            <ng-container *ngIf="criando; else tituloEditando">Criar Pedido</ng-container>
            <ng-template #tituloEditando>Editar Pedido</ng-template>
            - Confirmar
        </header>
        <article class="indicadorlinha">
            <div style="padding-bottom: 0.6em;"><strong>Cliente:</strong> {{cpfCnpj()}} -
                {{prePedidoDto.DadosCliente.Nome}}</div>


            <div>
                <strong>Total do pedido: {{moedaUtils.formatarMoedaSemPrefixo(novoPrepedidoDadosService.totalPedido())}}</strong>
            </div>

        </article>
        <footer>
            <a mat-raised-button color="accent" (click)="voltar()" style="background-color: #007bff !important;color: white !important;">
                <span class="pi pi-arrow-circle-left"> </span> Voltar
            </a>
            <button mat-raised-button color="accent" (click)="continuar()" type="submit">
                <span class="pi pi-save"> </span> Salvar
            </button>
        </footer>
    </form>
</section>