<div class="card" style="height: 450px !important; overflow: auto" >
    <!-- <h4>Orçamento</h4> -->
    <div class="p-fluid p-formgrid p-grid p-col-12 p-mx-0 p-px-0">
        <p-accordion class="p-col-12 p-mb-3"
            *ngFor="let orcamento of novoOrcamentoService.orcamentoCotacaoDto.ListaOrcamentoCotacaoDto ; let i = index">
            <p-accordionTab>
                <ng-template pTemplate="header">
                    Opção {{i + 1}}
                    <div class="p-ml-auto p-p-0 p-text-right">
                        <span>{{moedaUtils.formatarMoedaComPrefixo(orcamento.VlTotal)}}</span>
                        <i class="pi pi-trash p-ml-6" style="color: red" (click)="removerOpcao(index)"></i>
                    </div>
                </ng-template>
                <ng-template pTemplate="content">
                    <div class="p-col-12 p-px-0">
                        <div class="p-grid p-jc-start p-jc-lg-end p-jc-md-end p-jc-sm-end">
                            <div class=" p-text-lg-center p-text-md-center p-text-sm-center p-px-2"
                                *ngFor="let fp of orcamento.FormaPagto; let y = index">
                                <div class="p-d-inline-flex p-d-lg-inline p-d-md-inline p-d-sm-inline">
                                    <div class="p-as-center p-m-1">
                                        <p-radioButton [inputId]="y" [value]="y" [(ngModel)]="opcaoPagto">
                                        </p-radioButton>
                                    </div>
                                    <div class="p-p-2 p-m-1">
                                        <div class="p-grid p-d-block">
                                            <div class="p-py-1 p-col-12">
                                                <span class="p-text-bold">{{fp.descricao}}</span>
                                            </div>
                                            <div class="p-col-12">
                                                <div
                                                    *ngIf="fp.codigo==novoOrcamentoService.constantes.COD_PAGTO_AVISTA">
                                                    <span class="p-text-bold p-text-light"
                                                        style="text-decoration: line-through;font-size: smaller">
                                                        {{moedaUtils.formatarMoedaComPrefixo(orcamento.VlTotal)}}
                                                    </span>
                                                </div>

                                                <span class="p-text-bold"
                                                    *ngIf="fp.codigo==novoOrcamentoService.constantes.COD_PAGTO_AVISTA">
                                                    {{moedaUtils.formatarMoedaComPrefixo(fp.valores[y])}}
                                                </span>
                                                <span class="p-text-bold"
                                                    *ngIf="fp.codigo==novoOrcamentoService.constantes.COD_PAGTO_PARCELADO">
                                                    {{moedaUtils.formatarMoedaComPrefixo(orcamento.VlTotal)}}
                                                </span>
                                                <p-dropdown id="parceiro" [options]="parcelamento"
                                                    [style]="{'text-align':'end'}"
                                                    *ngIf="fp.codigo==novoOrcamentoService.constantes.COD_PAGTO_PARCELADO"
                                                    placeholder="Selecione" optionLabel="valor">
                                                </p-dropdown>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-col-12 p-px-0">
                        <div class="p-grid p-my-3 p-cascadeselect" *ngFor="let produtos of orcamento.ListaProdutos;">
                            <div class="p-col-12 p-lg-2 p-md-2 p-sm-2 p-p-2">
                                <img [src]="'assets/demo/images/produtos/cond_ve09_ecoTurbo_frio.jpg'" width="60%" />
                            </div>
                            <div class="p-col-12 p-lg-6 p-md-6 p-sm-6 p-as-center p-my-3">
                                <span>{{produtos.Descricao}}</span>
                            </div>
                            <div class="p-col-12 p-lg-2 p-md-2 p-sm-2 p-as-center">
                                <div class="p-grid">
                                    <div class="p-col-3" *ngIf="novoOrcamentoService.onResize()">
                                        <span class="p-text-bold">Á
                                            vista:</span>
                                    </div>
                                    <div
                                        class="p-col-12 p-text-right p-text-lg-center p-text-md-center p-text-sm-center">
                                        <span
                                            style="text-decoration: line-through; font-size: smaller">{{moedaUtils.formatarMoedaSemPrefixo(produtos.Preco_NF)}}</span>
                                    </div>
                                    <div
                                        class="p-col-12 p-text-right p-text-lg-center p-text-md-center p-text-sm-center p-text-bold">
                                        <span>{{moedaUtils.formatarMoedaSemPrefixo(novoOrcamentoService.calcularDesconto(produtos.Preco_NF, 3))}}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="p-col-12 p-lg-2 p-md-2 p-sm-2 p-as-center">
                                <span *ngIf="novoOrcamentoService.onResize()" class="p-text-bold">Parcelado:</span>
                                <div class="p-text-right p-text-lg-center p-text-md-center p-text-sm-center p-text-bold">
                                    <span>{{moedaUtils.formatarMoedaSemPrefixo(produtos.Preco_NF)}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-accordionTab>
        </p-accordion>
    </div>
</div>