::ng-deep.p-xl-1 {
    width: none;
}

.espaco {
    min-width: 91px;
}

@media (min-width:870.40px) and (max-width: 1000px) {
    .campo {
        align-self: baseline;
    }
}
@media (min-width:200px) and (max-width: 870.40px) {
    .campo {
        align-self: center;
    }
}
@media (min-width:1025.60px) and (max-width: 1105.60px) {
    .campo {
        align-self: center;
    }
}
@media (max-width:1424px){
    .campo2{
        align-self: center;
    }
}

.desabilita{
    pointer-events: none;
    opacity: 0.5;;
}
